@import url(../../bower_components/normalize-css/normalize.css);
.u-heightFull {
  height: 100%;
  overflow: hidden; }

.u-height80 {
  height: 80%; }

.u-height70 {
  height: 70%; }

.u-height20 {
  height: 20%; }

.u-height50 {
  height: 50%; }

.u-align-right {
  text-align: right !important; }

.u-align-left {
  text-align: left !important; }

.u-indent {
  padding-left: 25px; }

.u-float-left {
  float: left !important; }

.u-float-right {
  float: right !important; }

.u-degrade {
  background: transparent linear-gradient(to top, #fcfcfc, transparent 85px) repeat scroll 0 0; }

.u-deepShadow1 {
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.3); }

.u-deepShadow2 {
  box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.3); }

.u-deepShadow3 {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); }

.u-deepShadow4 {
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.3); }

.u-deepShadow5 {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3); }

@media (min-width: 0) and (max-width: 425px) {
  .Section-brand, .MarketingText-brand, .CodeText-brand, .Brands-brand {
    font-size: 1.8rem; }
  .Section-description, .Marketing-description, .MarketingText-description, .CodeText-description, .Brands-description {
    font-size: 1rem; }
  .Section-container, .Code-container, .MarketingText-container, .CodeText-container {
    height: auto;
    padding: 65px 0 0 0;
    text-align: center; } }

@media (min-width: 426px) and (max-width: 1024px) {
  .Section-brand, .MarketingText-brand, .CodeText-brand, .Brands-brand {
    font-size: 2.3rem; }
  .Section-description, .Marketing-description, .MarketingText-description, .CodeText-description, .Brands-description {
    font-size: 1.3rem; }
  .Section-container, .Code-container, .MarketingText-container, .CodeText-container {
    height: auto;
    padding: 65px 0 0 0;
    text-align: left; } }

@media (min-width: 1025px) {
  .Section-brand, .MarketingText-brand, .CodeText-brand, .Brands-brand {
    font-size: 2.8rem; }
  .Section-description, .Marketing-description, .MarketingText-description, .CodeText-description, .Brands-description {
    font-size: 1.7rem; }
  .Section-container, .Code-container, .MarketingText-container, .CodeText-container {
    height: auto;
    padding: 0 40px 0 0;
    text-align: left; } }

.Section, .Code, .MarketingText, .CodeText, .ContactFooter {
  overflow: hidden;
  color: #333333;
  position: relative;
  background: linear-gradient(to top, #f3f0f0, transparent 50%); }
  .Section-container, .Code-container, .MarketingText-container, .CodeText-container {
    width: 100%;
    position: relative;
    left: 0; }
  .Section-brand, .MarketingText-brand, .CodeText-brand, .Brands-brand {
    font-family: "PT Sans Caption", sans-serif;
    transition-duration: 1s;
    transition-property: font;
    transition-timing-function: ease;
    font-weight: 600; }
    .Section-brand > small, .MarketingText-brand > small, .CodeText-brand > small, .Brands-brand > small {
      font-size: 31%;
      font-weight: 100;
      color: #555555;
      font-family: "Raleway", sans-serif; }
  .Section-description, .Marketing-description, .MarketingText-description, .CodeText-description, .Brands-description {
    font-family: "Raleway", sans-serif;
    position: relative;
    color: #555555;
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.6em;
    margin-top: 15px; }
  .Section--small, .Marketing {
    height: 150px;
    text-align: center;
    overflow: hidden;
    position: relative; }

@media (min-width: 0) and (max-width: 1024px) {
  .OuterWrapper {
    padding: 0 20px; } }

@media (min-width: 1025px) {
  .OuterWrapper {
    padding: 0; } }

.js-rotating {
  display: none;
  -vendor-animation-duration: 3s;
  min-width: 100px;
  position: relative; }

.OuterWrapper {
  height: 100%;
  margin: auto;
  max-width: 1090px;
  position: relative; }

.Milestone {
  font-family: "Raleway", sans-serif;
  color: #333333;
  position: relative; }
  .Milestone-item {
    text-align: center;
    padding: 35px 0; }
  .Milestone-number {
    font-size: 23px;
    font-weight: 400;
    position: relative;
    top: 1px; }
  .Milestone-text {
    font-size: 1.1rem;
    color: #555555;
    font-family: "Raleway", sans-serif; }

.Code {
  background-image: url("../../images/dist/marketing-purple-multiply-opacity-7.jpg");
  z-index: 2; }
  .Code-container {
    top: 35%;
    opacity: 0;
    position: relative; }
  .Code-brand {
    font-size: 7.5em;
    font-family: "PT Sans Caption", sans-serif;
    letter-spacing: -5px; }
  .Code-subBrand {
    font-size: 2.4em;
    padding: 0;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 400; }
  .Code-description {
    font-family: "PT Sans Caption", sans-serif;
    font-size: 2.8em; }

.Marketing {
  background-image: url("../../images/dist/marketing-purple-multiply-opacity-7.jpg");
  background-attachment: fixed;
  z-index: 2; }
  .Marketing-container {
    opacity: 0;
    position: relative;
    padding: 35px 0; }
  .Marketing-description {
    text-align: center; }

.MarketingText-subBrand {
  font-size: 2.4em;
  padding: 0;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 400; }

.MarketingText-images {
  height: 400px;
  position: relative; }

.section.MarketingServices.section.fp-section {
  height: auto !important; }

.CodeText-images {
  height: 400px;
  position: relative; }

.CodeText-example {
  background-image: url("http://villeme.com/images/dist/welcome/plataforms-b.png"); }

.Arrow {
  position: fixed;
  bottom: 35px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 25px 0;
  z-index: 10;
  cursor: pointer;
  align-content: center;
  opacity: 0; }
  .Arrow:hover {
    color: #fa3077;
    padding: 30px 0 20px 0; }

.Brands {
  position: relative;
  z-index: 6;
  height: auto;
  padding-top: 25px; }
  .Brands-subBrand {
    font-size: 2.4em;
    padding: 0;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 200; }
  .Brands-logo {
    height: 65px;
    overflow: hidden;
    text-align: center;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); }
    .Brands-logo:hover {
      -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
      -o-filter: grayscale(0);
      filter: grayscale(0); }
    .Brands-logo img {
      height: 65px; }

.ContactFooter {
  text-align: center;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 42px;
  height: auto;
  min-height: 400px;
  padding: 150px 0 0 0;
  color: #fa3077; }
  .ContactFooter-avatar {
    background-image: url("../../images/dist/john-smile.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid;
    border-radius: 100%;
    height: 50px;
    margin: 0 auto;
    width: 50px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); }
    .ContactFooter-avatar p {
      background: white none repeat scroll 0 0;
      border-radius: 8px;
      font-family: Imprima;
      font-size: 13px;
      line-height: 0.8em;
      margin: -5px 0 0 41px;
      padding: 6px;
      text-align: left;
      width: 91px; }
  .ContactFooter-email {
    font-size: 50%; }

footer {
  text-align: center;
  font-size: 1rem;
  color: #333333;
  margin: 20px 0; }
