@import "../../bower_components/normalize-css/normalize.css";
@import "../../bower_components/suit-components-grid/index.css";
@import "../../bower_components/suit-utils-size/index.css";
@import "../../bower_components/suit-utils-offset/index.css";
@import "../../bower_components/suit-utils-position/index.css";
@import "../../bower_components/chocolat/dist/css/chocolat.css";
@import "carrousel";
@import "utilities";
@import "variables";

@import "../css/components/navbar.css";
@import "../css/components/pattern.css";
@import "../css/components/button.css";
@import "../css/components/sidebar-slide.css";
@import "../css/components/chat.css";
@import "../css/components/box-content.css";


.Section{
  overflow: hidden;
  color: $colorPrimary;
  height: $containerHeight;
  position: relative;
  background: rgba(0, 0, 0, 0) linear-gradient(to top, #fafafa, transparent 50%) repeat scroll 0 0;

  &-container{
    width: 100%;
    height: $containerHeight;
    position: relative;
    top: 25%;
    left: 0;
    text-align: left;
    padding: 65px 40px 0 0;
  }

  &-brand{
    font-size: 42px;
    font-family: $fontHeader;
    transition-duration: 1s;
    transition-property: font;
    transition-timing-function: ease;
    font-weight: 600;

    & > small{
      font-size: 31%;
      font-weight: 100;
      color: rgba(150, 150, 150, 0.55);
      font-family: georgia;
      font-style: italic;
    }
  }

  &-description{
    font-family: $fontHeader;
    font-size: 24px;
    top: 12px;
    position: relative;
  }

  &--small{
    height: 150px;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
}

.js-rotating{
  display: none;
  -vendor-animation-duration: 3s;
  float: left;
  left: 121px;
  min-width: 100px;
  position: relative;
}

.OuterWrapper{
  height: 100%;
  margin: auto;
  max-width: 1090px;
  overflow: hidden;
  position: relative;
}

.Milestone{
  font-family: $fontHeader;
  color: $colorPrimary;
  position: relative;


  &-item{
    text-align: center;
    padding: 35px 0;
  }

  &-number{
    font-size: 23px;
    font-weight: 400;
    position: relative;
    top: 1px;
  }

  &-text{
    font-size: 18px;
  }
}

@import "components/home-post-it";

.Home {
  @extend .Section;
  background-color: $colorSecondary;
  background-position: center;
  background-size: cover;
  z-index: 1;
  color: $colorSecondary;
  height: 500px;
  // border-top: 3px solid $colorBrand;

  &-container{
    @extend .Section-container;
    top: 110px;
    margin-top: 0px;
    position: absolute;
    text-align: center;
    z-index: 2;
  }

  &-action{
    height: 100px;
    position: relative;
    text-align: center;
    width: 100%;
  }

  &-brand{
    float: left;
    font-family: $fontBrand;
    font-size: 2em;

    & a{
      color: $colorSecondary;

      &:hover{
        color: $colorSecondary;
      }
    }
  }

  &-segment{
    float: left;
    left: 110px;
    position: relative;
    font-weight: 500;
  }

  &-description{
    font-family: $fontHeader;
    font-size: 2.2em;
    margin: 0px 0 30px;
    font-weight: bold;


    & small{
      display: block;
      text-transform: lowercase;
      clear: both;
      font-weight: 500;
    }

    &Bright{

    }
  }

  &-subBrand{
    font-size: 1.4em;
    padding: 0;
    font-family: $fontHeader;
    font-weight: 400;
    width: 636px;
    height: 200px;
    margin: auto;
  }

  &-and{
    font-family: Imprima;
    font-size: 0.8em;
    text-align: center;
    padding: 0 25px;
  }

  &-header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 35px 0;
    width: 100%;
  }

  &-menu{
    margin: auto;
    position: relative;
    width: 592px;
    display: none;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline;
        padding: 0 12px;
      }
    }
  }

  &-phone{
    font-family: $fontHeader;
    float: right;
  }

  &-avatar{
    height: 55px;
    overflow: hidden;
    clear: right;
    width: 155px;
    padding: 3px 0;
    float:right;
    font-family: $fontHeader;

    & img{
      border-radius: 100%;
      width: 40px;
      float: left;
    }
  }

  &-name{
    font-size: 12px;
    float: left;
    padding: 3px 6px;
  }

  &-email{
    font-size: 9.5px;
    float: left;
    color: #e4e0e0;
    padding: 0 6px;
  }

}

.Approach{
  margin: 0 0 35px;
  padding: 0 45px 15px 0;

  &-image{
    text-align: center;
  }

  &-text{
    margin: 35px 0 0 0;
  }

  &-textTitle{
    color: $colorPrimary;
    font-size: 26px;
    font-family: $fontHeader;
    line-height: 0.9em;
    font-weight: 600;
  }

  &-textDescription{
    color: $colorPrimary;
    font-family: $fontHeader;
    font-size: 16px;
    padding: 10px 0;
  }


}


.Contact{
  float: right;
  font-family: $fontHeader;
  font-size: 16px;
  margin: 6px 0 0 0;
  width: 220px;

  &-avatar{
    background-image: url("../images/john-smile.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    float: left;
    height: 36px;
    margin: 0 10px 0 0;
    width: 36px;
  }

  &-telephone{


  }

  &-email{
    font-size: 70%;
  }

}


.Purpose {
  @extend .Section;

  &-container{
    @extend .Section-container;
  }

  &-brand{
    @extend .Section-brand;
  }

  &-subBrand{
    font-size: 2.4em;
    padding: 0;
    font-family: $fontHeader;
    font-weight: 200;
  }

  &-description{
    @extend .Section-description;
  }

  &-images{
    height: $containerHeight;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    overflow: hidden;
    padding: 60px 0 0;
  }

  &-imageA{
    background-image: url("../images/design-thinking.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-imageB{
    background-image: url("../images/hands-people-woman-working.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-imageC{
    background-image: url("../images/design-thinking-b.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--purple{
    color: $colorBrand;
  }
}


.Code {
  @extend .Section;
  background-image: url("../images/marketing-purple-multiply-opacity-7.jpg");
  z-index: 2;

  &-container{
    @extend .Section-container;
    top: 35%;
    opacity:0;
    position: relative;
  }

  &-brand{
    font-size: 7.5em;
    font-family: $fontBrand;
    letter-spacing: -5px;
  }

  &-subBrand{
    font-size: 2.4em;
    padding: 0;
    font-family: $fontHeader;
    font-weight: 400;
  }

  &-description{
    font-family: $fontHeader;
    font-size: 2.8em;
  }

}


.Marketing {
  @extend .Section--small;
  background-image: url("../images/marketing-purple-multiply-opacity-7.jpg");
  background-attachment: fixed;
  z-index: 2;

  &-container{
    opacity:0;
    position: relative;
    padding: 35px 0;
  }

  &-description{
    @extend .Section-description;
    text-align: center;
  }
}

@import "components/sheet";
@import "components/business-model-canvas";
@import "components/blue-ocean";

.MarketingText {
  @extend .Section;

  &-container{
    @extend .Section-container;
  }

  &-brand{
    @extend .Section-brand;
  }

  &-subBrand{
    font-size: 2.4em;
    padding: 0;
    font-family: $fontHeader;
    font-weight: 400;
  }

  &-description{
    @extend .Section-description;
  }

  &-images{
    height: $containerHeight;
    position: relative;
  }
}

.section.MarketingServices.section.fp-section{
  height: auto !important;
}

@import "components/service";
@import "components/ipad";
@import "components/terminal";

.CodeText {
  @extend .Section;

  &-container{
    @extend .Section-container;
  }

  &-brand{
    @extend .Section-brand;
  }

  &-description{
    @extend .Section-description;
  }

  &-images{
    height: $containerHeight;
    position: relative;
  }

  &-example{
    background-image: url("http://villeme.com/images/welcome/plataforms-b.png");
  }

}


.Design{
  @extend .Section;

  &-container{
    @extend .Section-container;
  }

  &-brand{
    @extend .Section-brand;
  }

  &-description{
    @extend .Section-description;
  }

  &-images{
    height: $containerHeight;
    position: relative;
  }

  &-mailchimp{
    height: 165px;
    position: absolute;
    right: 219px;
    top: 159px;
    width: 155px;
    z-index: 2;
    opacity: 0;
  }

  &-mailchimpDrawing{
    height: 165px;
    position: absolute;
    right: 219px;
    top: 159px;
    width: 155px;
    display: none;
    z-index: 1;
    transform: rotate(7deg);
  }
}


.Arrow{
  position: fixed;
  bottom: 35px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 25px 0;
  z-index: 10;
  cursor: pointer;
  align-content: center;
  opacity: 0;

  &:hover{
    color: $colorBrand;
    padding: 30px 0 20px 0;
  }
}


@import "components/people";

.Brands {
  box-shadow: 0 15px 15px 0 white;
  position: relative;
  z-index: 6;
  height: 175px;

  &-brand{
    @extend .Section-brand;
  }

  &-subBrand{
    font-size: 2.4em;
    padding: 0;
    font-family: $fontHeader;
    font-weight: 200;
  }

  &-description{
    @extend .Section-description;
  }

  &-logo{
    height: 80px;
    overflow: hidden;
    text-align: center;
    @include crossBrowser(filter, grayscale(100%));

    &:hover{
      @include crossBrowser(filter, grayscale(0));
    }

    & img{
      height: 80px;
    }
  }
}


.ContactFooter{
  @extend .Section;
  text-align: center;
  font-family: $fontBrand;
  font-size: 42px;
  height: auto;
  min-height: 400px;
  padding: 150px 0 0 0;
  color: $colorBrand;

  &-avatar{
    background-image: url("../images/john-smile.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid;
    border-radius: 100%;
    height: 50px;
    margin: 0 auto;
    width: 50px;
    @include crossBrowser(filter, grayscale(100%));

    & p{
      background: white none repeat scroll 0 0;
      border-radius: 8px;
      font-family: Imprima;
      font-size: 13px;
      font-style: italic;
      line-height: 0.8em;
      margin: -5px 0 0 41px;
      padding: 6px;
      text-align: left;
      width: 91px;
    }
  }

  &-email{
    font-size: 50%;
  }

  &-telephone{

  }

}
