$colorGrey: #DFDBDE;
$colorDarkGrey: #333333;
$colorBlue: #1c6ea6;
$colorGreen: #bac01c;
$colorPurple: #fa3077;
$colorInvert: #06cc87;
$transitionDuration: 0.4s;

$colorPrimary: #333333;
$colorSecondary: #ffffff;
$colorBrand: $colorPurple;

$containerHeight: 400px;

$fontPrimary: Patua One, sans-serif;
$fontSecondary: Imprima, sans-serif;
$fontAnd: Playfair Display, sans-serif;
