// =Colors
$colorGrey: #DFDBDE;
$colorDarkGrey: #333333;
$colorGreyHover: #EAE8EA;
$colorBlue: #1c6ea6;
$colorGreen: #bac01c;
$colorPurple: #fa3077;
$colorInvert: #06cc87;

// =Fonts
$fontBrand: Miniver, sans-serif;
$fontHeader: Ubuntu, sans-serif;
$fontDescription: Ubuntu;
$colorBrand: $colorPurple;
$colorHeader: $colorDarkGrey;
$colorDescription: #757575;

// =Transitions
$transitionDuration: 0.4s;

// =Colors Fonts
$colorPrimary: #333333;
$colorSecondary: #ffffff;

// =Heights
$containerHeight: 400px;
