@import "../../bower_components/normalize-css/normalize.css";
@import "../../bower_components/suit-components-grid/index.css";
@import "../../bower_components/suit-utils-size/index.css";
@import "../../bower_components/suit-utils-offset/index.css";
@import "../../bower_components/suit-utils-position/index.css";
@import "utilities";
@import "variables";


@import "../css/components/pattern.css";
@import "../css/components/button.css";

.Section{
  overflow: hidden;
  color: $colorPrimary;
  height: $containerHeight;
  position: relative;
  background: rgba(0, 0, 0, 0) linear-gradient(to top, #fcfcfc, transparent 65%) repeat scroll 0 0;

  &-container{
    width: 100%;
    height: $containerHeight;
    position: relative;
    top: 25%;
    left: 0;
    text-align: left;
    padding: 50px 40px;
  }

  &-brand{
    font-size: 64px;
    font-family: $fontPrimary;
    letter-spacing: -2px;
    transition-duration: 1s;
    transition-property: font;
    transition-timing-function: ease;
  }

  &-description{
    font-family: $fontSecondary;
    font-size: 24px;
    top: 12px;
    position: relative;
  }

  &--small{
    height: 150px;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
}


@import "components/homePostIt";

.Home {
  @extend .Section;
  background-image: url(../images/pequeno-negocio.png);
  background-position: center;
  z-index: 1;
  color: $colorSecondary;
  height: 100%;

  &-container{
    @extend .Section-container;
    top: 20%;
    opacity: 0;
    margin-top: 0px;
    position: absolute;
    text-align: center;
    z-index: 2;
  }

  &-brand{
    float: left;
    font-family: $fontPrimary;
    font-size: 3em;
    letter-spacing: -2px;

  }

  &-description{
    font-family: $fontSecondary;
    font-size: 2.8em;
    margin: 0px 0 30px;

    & small{
      display: block;
    }
  }

  &-subBrand{
    font-size: 1.4em;
    padding: 0;
    font-family: $fontSecondary;
    font-weight: 400;
    width: 636px;
    height: 200px;
    margin: auto;
  }

  &-and{
    font-family: Imprima;
    font-size: 0.8em;
    text-align: center;
    padding: 0 25px;
  }

  &-header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 15px 50px;
    width: 100%;
  }

  &-phone{
    font-family: $fontSecondary;
    float: right;
  }

  &-avatar{
    height: 55px;
    overflow: hidden;
    clear: right;
    width: 155px;
    padding: 3px 0;
    float:right;
    font-family: $fontSecondary;

    & img{
      border-radius: 100%;
      width: 40px;
      float: left;
    }
  }

  &-name{
    font-size: 12px;
    float: left;
    padding: 3px 6px;
  }

  &-email{
    font-size: 9.5px;
    float: left;
    color: #e4e0e0;
    padding: 0 6px;
  }


}



.Purpose {
  @extend .Section;

  &-container{
    @extend .Section-container;
  }

  &-brand{
    @extend .Section-brand;
  }

  &-subBrand{
    font-size: 2.4em;
    padding: 0;
    font-family: $fontSecondary;
    font-weight: 200;
  }

  &-description{
    @extend .Section-description;
  }

  &-images{
    height: $containerHeight;
  }

  &-imageA{
    background-image: url("../images/apple-iphone-books-desk.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-imageB{
    background-image: url("../images/hands-people-woman-working.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--purple{
    color: $colorPurple;
  }
}


.Code {
  @extend .Section;
  background-image: url("../images/marketing-purple-multiply-opacity-7.jpg");
  z-index: 2;

  &-container{
    @extend .Section-container;
    top: 35%;
    opacity:0;
    position: relative;
  }

  &-brand{
    font-size: 7.5em;
    font-family: $fontPrimary;
    letter-spacing: -5px;
  }

  &-subBrand{
    font-size: 2.4em;
    padding: 0;
    font-family: $fontSecondary;
    font-weight: 400;
  }

  &-description{
    font-family: $fontSecondary;
    font-size: 2.8em;
  }

}


.Marketing {
  @extend .Section--small;
  background-image: url("../images/marketing-purple-multiply-opacity-7.jpg");
  background-attachment: fixed;
  z-index: 2;

  &-container{
    opacity:0;
    position: relative;
    padding: 35px 0;
  }

  &-description{
    @extend .Section-description;
    text-align: center;
  }
}

@import "components/sheet";
@import "components/businessModelCanvas";
@import "components/blueOcean";

.MarketingText {
  @extend .Section;

  &-container{
    @extend .Section-container;
  }

  &-brand{
    @extend .Section-brand;
  }

  &-subBrand{
    font-size: 2.4em;
    padding: 0;
    font-family: $fontSecondary;
    font-weight: 400;
  }

  &-description{
    @extend .Section-description;
  }

  &-images{
    height: $containerHeight;
    position: relative;
  }
}

.ServicesGroup{
  padding: 30px 40px;

  &-title{
    text-align: left;
    color: $colorPrimary;
    font-size: 15px;
    text-transform: uppercase;
    padding: 25px 0 6px 0;
  }
}

.section.MarketingServices.section.fp-section{
  height: auto !important;
}

.Service{
  height: 200px;
  margin: 30px 0 0 0;

  &.isActive .Service-layer{
    background: $colorPurple;
  }

  &.isActive .Service-textTitle{
    color: $colorPurple;
  }

  &.isActive .Service-textDescription{
    color: $colorPurple;
  }

  &-image{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    text-align: center;
    float: left;
    margin: 0 15px 0 0;

    & img{
      width: auto;
      height: 100%;
      left: 50%;
      position: absolute;
    }

    &--businessDesign{

      & img{
        margin-left: -103px;
      }
    }

  }

  &-text{

  }

  &-textTitle{
    color: $colorPrimary;
    padding: 0 35px;
    font-size: 36px;
    font-family: $fontSecondary;
  }

  &-textDescription{
    color: $colorPrimary;
    font-family: $fontSecondary;
    font-size: 16px;
    padding: 12px 36px;
  }

  &-layer{
    background: $colorGrey;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 2;
    left: 0;
  }

  &-moreInfo{
    color: $colorPurple;
    font-size: 15px;
    font-family: $fontSecondary;

    & p{
      margin: 1.6em 0;
    }

    & .u-paragraph{
      margin: 1.6em 0;
    }

    & b{
      font-weight: 600;
      display: block;
    }

    & span{

    }

    & ul{
      padding: 3px 0 0 35px;
      margin: 0;
    }

    & li{
      list-style-type: square;
    }
  }

}

@import "components/ipad";
@import "components/terminal";

.CodeText {
  @extend .Section;

  &-container{
    @extend .Section-container;
  }

  &-brand{
    @extend .Section-brand;
  }

  &-description{
    @extend .Section-description;
  }

  &-images{
    height: $containerHeight;
    position: relative;
  }

  &-example{
    background-image: url("http://villeme.com/images/welcome/plataforms-b.png");
  }

}



.Arrow{
  position: fixed;
  bottom: 35px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 25px 0;
  z-index: 10;
  cursor: pointer;
  align-content: center;
  opacity: 0;

  &:hover{
    color: $colorPurple;
    padding: 30px 0 20px 0;
  }
}
