@import "../../bower_components/normalize-css/normalize.css";
@import "../../bower_components/suit-components-grid/index.css";
@import "../../bower_components/suit-utils-size/index.css";
@import "../../bower_components/suit-utils-offset/index.css";
@import "../../bower_components/suit-utils-position/index.css";
@import "utilities";
@import "variables";



.Section{
  overflow: hidden;
  color: #ffffff;
  height: 100%;

  &-container{
    width: 90%;
    height: 50%;
    position: relative;
    top: 25%;
    left: 5%;
    text-align: center;
  }
}


.Home {
  @extend .Section;
  background-image: url(../../working/post-its-in-wall-b.jpg);
  z-index: 1;

  &-container{
    @extend .Section-container;
    top: 30%;
    opacity: 0;
  }

  &-brand{
    font-size: 10em;
    font-family: $fontPrimary;
    letter-spacing: -7px;
  }

  &-subBrand{
    font-size: 3em;
    padding: 0;
    font-family: $fontSecondary;
    font-weight: 400;
  }

  &-and{
    font-family: Imprima;
    font-size: 0.8em;
    text-align: center;
    padding: 0 25px;
  }

  &-header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 15px 50px;
    width: 100%;
    font-size: 21px;
  }

  &-phone{
    font-family: $fontSecondary;
    float: right;
  }

  &-avatar{
    height: 55px;
    overflow: hidden;
    clear: right;
    width: 155px;
    padding: 3px 0;
    float:right;
    font-family: $fontSecondary;

    & img{
      border-radius: 100%;
      width: 40px;
      float: left;
    }
  }

  &-name{
    font-size: 12px;
    float: left;
    padding: 3px 6px;
  }

  &-email{
    font-size: 9.5px;
    float: left;
    color: #e4e0e0;
    padding: 0 6px;
  }


}



.Purpose {
  @extend .Section;
  background-color: $colorGrey;
  z-index: 2;
  height: 1000px;

  &-container{
    @extend .Section-container;
    transition-duration: $transitionDuration;
    transition-property: top;
    transition-timing-function: ease;
  }

  &-brand{
    font-size: 10em;
    font-family: $fontPrimary;
    letter-spacing: -7px;
    transition-duration: 1s;
    transition-property: font;
    transition-timing-function: ease;
  }

  &-subBrand{
    font-size: 2.4em;
    padding: 0;
    font-family: $fontSecondary;
    font-weight: 200;
  }

  &-description{
    font-family: $fontSecondary;
    font-size: 2.8em;
    opacity: 0;
    top: 15%;
    position: relative;
  }

  &--purple{
    color: $colorPurple;
  }
}


.Code {
  @extend .Section;
  background-image: url("../../working/code-lighten-opacity-50.jpg");
  z-index: 2;

  &-container{
    @extend .Section-container;
    top: 35%;
    opacity:0;
    position: relative;
  }

  &-brand{
    font-size: 7.5em;
    font-family: $fontPrimary;
    letter-spacing: -5px;
  }

  &-subBrand{
    font-size: 2.4em;
    padding: 0;
    font-family: $fontSecondary;
    font-weight: 400;
  }

  &-description{
    font-family: $fontSecondary;
    font-size: 2.8em;
  }

}

@import "components/ipad";
@import "components/terminal";

.CodeText {
  @extend .Section;
  color: $colorBlue;
  background-image: none;
  background-color: $colorGrey;
  z-index: 2;

  &-container{
    @extend .Section-container;
    transition: top 0.6s ease;
  }

  &-brand{
    font-size: 7.5em;
    font-family: $fontPrimary;
    letter-spacing: -5px;
    transition-duration: $transitionDuration;
    transition-property: font;
    transition-timing-function: ease;
  }

  &-subBrand{
    font-size: 2.4em;
    padding: 0;
    font-family: $fontSecondary;
    font-weight: 400;
  }

  &-description{
    opacity: 0;
    font-family: $fontSecondary;
    font-size: 1.7em;
    transition-duration: 0.8s;
    transition-property: all;
    transition-timing-function: ease;
  }

  &-example{
    background-image: url("http://villeme.com/images/welcome/plataforms-b.png");
  }

}


.Marketing {
  @extend .Section;
  background-image: url("../../working/marketing-darken-opacity-60.jpg");
  z-index: 2;

  &-container{
    @extend .Section-container;
    top: 35%;
    opacity:0;
    position: relative;
  }

  &-brand{
    font-size: 7.5em;
    font-family: $fontPrimary;
    letter-spacing: -5px;
  }

  &-subBrand{
    font-size: 2.4em;
    padding: 0;
    font-family: $fontSecondary;
    font-weight: 400;
  }

  &-description{
    font-family: $fontSecondary;
    font-size: 2.8em;
  }
}

@import "components/sheet";
@import "components/businessModelCanvas";
@import "components/blueOcean";

.MarketingText {
  @extend .Section;
  color: $colorGreen;
  background-image: none;
  background-color: $colorGrey;
  z-index: 2;

  &-container{
    @extend .Section-container;
    transition: top 0.6s ease;
  }

  &-brand{
    font-size: 7.5em;
    font-family: $fontPrimary;
    letter-spacing: -5px;
    transition-duration: $transitionDuration;
    transition-property: font;
    transition-timing-function: ease;
  }

  &-subBrand{
    font-size: 2.4em;
    padding: 0;
    font-family: $fontSecondary;
    font-weight: 400;
  }

  &-description{
    opacity: 0;
    font-family: $fontSecondary;
    font-size: 1.7em;
    transition-duration: 0.8s;
    transition-property: all;
    transition-timing-function: ease;
  }
}


.Arrow{
  position: fixed;
  bottom: 35px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 25px 0;
  z-index: 10;
  cursor: pointer;
  align-content: center;
  opacity: 0;

  &:hover{
    color: $colorPurple;
    padding: 30px 0 20px 0;
  }
}









