$colorGrey: #DFDBDE;
$colorBlue: #1c6ea6;
$colorGreen: #bac01c;
$colorPurple: #fa3077;
$transitionDuration: 0.4s;

$fontPrimary: Patua One, sans-serif;
$fontSecondary: Imprima, sans-serif;
$fontAnd: Playfair Display, sans-serif;
