@import url(../../bower_components/normalize-css/normalize.css);
@import url(../../bower_components/suit-components-grid/index.css);
@import url(../../bower_components/suit-utils-size/index.css);
@import url(../../bower_components/suit-utils-offset/index.css);
@import url(../../bower_components/suit-utils-position/index.css);
.Section, .Home, .Purpose, .Code, .CodeText, .Marketing, .MarketingText {
  overflow: hidden;
  color: #ffffff;
  height: 100%; }
  .Section-container, .Home-container, .Purpose-container, .Code-container, .CodeText-container, .Marketing-container, .MarketingText-container {
    width: 90%;
    height: 50%;
    position: relative;
    top: 25%;
    left: 5%;
    text-align: center; }

.Home {
  background-image: url(../../working/post-its-in-wall-b.jpg);
  z-index: 1; }
  .Home-container {
    top: 30%;
    opacity: 0; }
  .Home-brand {
    font-size: 10em;
    font-family: Patua One, sans-serif;
    letter-spacing: -5px; }
  .Home-subBrand {
    font-size: 3em;
    padding: 0em;
    font-family: Domine, sans-serif;
    font-weight: 400; }
  .Home-and {
    font-family: Playfair Display, sans-serif;
    font-size: 1em;
    text-align: center;
    padding: 0 12px; }

.Purpose {
  background-color: #DFDBDE;
  z-index: 2;
  height: 1000px; }
  .Purpose-container {
    transition-duration: 0.4s;
    transition-property: top;
    transition-timing-function: ease; }
  .Purpose-brand {
    font-size: 10em;
    font-family: Patua One;
    letter-spacing: -5px;
    transition-duration: 1s;
    transition-property: font;
    transition-timing-function: ease; }
  .Purpose-subBrand {
    font-size: 2.4em;
    padding: 0em;
    font-family: Domine;
    font-weight: 400; }
  .Purpose-description {
    font-family: Domine;
    font-size: 2.8em;
    opacity: 0;
    top: 15%;
    position: relative; }
  .Purpose--purple {
    color: #fa3077; }

.Code {
  background-image: url("../../working/code-lighten-opacity-50.jpg");
  z-index: 2; }
  .Code-container {
    top: 35%;
    opacity: 0;
    position: relative; }
  .Code-brand {
    font-size: 7.5em;
    font-family: Patua One;
    letter-spacing: -5px; }
  .Code-subBrand {
    font-size: 2.4em;
    padding: 0em;
    font-family: Domine;
    font-weight: 400; }
  .Code-description {
    font-family: Domine;
    font-size: 2.8em; }

.Ipad {
  background-color: #ffffff;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
  width: 65%;
  height: 70%;
  position: absolute;
  right: 5%;
  bottom: -65%;
  border-width: 2px 2px 0 2px;
  z-index: 1;
  border-color: rgba(75, 75, 75, 0.35);
  border-style: solid; }
  .Ipad-screen {
    width: 92%;
    height: 83%;
    position: absolute;
    top: 22%;
    background-color: #DFDBDE;
    left: 4%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden; }
  .Ipad-cam {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #31302e;
    position: absolute;
    top: 12%;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px; }
  .Ipad-lents {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    position: absolute;
    top: 12%;
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
    background-color: #2b3855; }

.Site {
  font-size: 12px; }
  .Site-blocs, .Site .Event, .Site .Video {
    background-color: #d3cdd1;
    border-radius: 4px;
    margin: 12px;
    position: relative; }
    .Site-blocs:hover, .Site .Event:hover, .Site .Video:hover {
      background-color: #d7d2d5; }
  .Site-navbar {
    background-color: #d3cdd1;
    height: 50px; }
  .Site .Event {
    height: 200px; }
    .Site .Event-image {
      background-color: #c6bfc4;
      height: 100px; }
    .Site .Event-description {
      background-color: #c6bfc4;
      height: 9%;
      margin: 6.5% 9%; }
  .Site .Video {
    height: 200px; }
    .Site .Video-icone {
      background-color: #c6bfc4;
      border-radius: 100%;
      width: 80px;
      height: 80px; }
    .Site .Video-arrow {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin: 23px 0 0 29px;
      width: 0;
      height: 0;
      border-top: 17px solid transparent;
      border-bottom: 18px solid transparent;
      border-left: 28px solid #bab1b7; }

.Terminal {
  width: 45%;
  height: 40%;
  position: absolute;
  left: 5%;
  border-color: #4A4944;
  border-style: solid;
  border-width: 30px 3px 0 3px;
  bottom: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #300A24;
  z-index: 2;
  opacity: 0; }
  .Terminal.isClose {
    width: 5%;
    height: 5%;
    left: 22.5%;
    opacity: 0; }
  .Terminal-buttonsContainer {
    position: relative;
    top: -22px;
    height: 15px;
    left: 0;
    width: 100%;
    padding: 0 6px; }
    .Terminal-buttonsContainer ul {
      margin: 0;
      padding: 0; }
      .Terminal-buttonsContainer ul li {
        list-style: none;
        display: inline;
        width: 10px;
        height: 10px;
        float: left;
        margin: 2px; }
  .Terminal-button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #686761; }
    .Terminal-button:hover {
      background-color: #787770; }
    .Terminal-button--close {
      background-color: #DD4D1B; }
      .Terminal-button--close:hover {
        background-color: #e55c2d; }

.CodeText {
  color: #1c6ea6;
  background-image: none;
  background-color: #DFDBDE;
  z-index: 2; }
  .CodeText-container {
    transition: top 0.6s ease; }
  .CodeText-brand {
    font-size: 7.5em;
    font-family: Patua One;
    letter-spacing: -5px;
    transition-duration: 0.4s;
    transition-property: font;
    transition-timing-function: ease; }
  .CodeText-subBrand {
    font-size: 2.4em;
    padding: 0em;
    font-family: Domine;
    font-weight: 400; }
  .CodeText-description {
    opacity: 0;
    font-family: Domine;
    font-size: 1.7em;
    transition-duration: 0.8s;
    transition-property: all;
    transition-timing-function: ease; }
  .CodeText-example {
    background-image: url("http://villeme.com/images/welcome/plataforms-b.png"); }

.Marketing {
  background-image: url("../../working/marketing-darken-opacity-60.jpg");
  z-index: 2; }
  .Marketing-container {
    top: 35%;
    opacity: 0;
    position: relative; }
  .Marketing-brand {
    font-size: 7.5em;
    font-family: Patua One;
    letter-spacing: -5px; }
  .Marketing-subBrand {
    font-size: 2.4em;
    padding: 0em;
    font-family: Domine;
    font-weight: 400; }
  .Marketing-description {
    font-family: Domine;
    font-size: 2.8em; }

.Sheet {
  background-color: #ffffff;
  width: 50%;
  height: 60%;
  position: absolute;
  bottom: 0;
  left: 5%;
  border-radius: 4px;
  z-index: 2; }
  .Sheet.is-hide {
    bottom: -60%; }
  .Sheet--large {
    background-color: #f0f0f0;
    width: 65%;
    height: 70%;
    z-index: 1; }
    .Sheet--large.is-hide {
      bottom: -70%; }
  .Sheet--right {
    right: 5%;
    left: inherit; }

.MarketingText {
  color: #bac01c;
  background-image: none;
  background-color: #DFDBDE;
  z-index: 2; }
  .MarketingText-container {
    transition: top 0.6s ease; }
  .MarketingText-brand {
    font-size: 7.5em;
    font-family: Patua One;
    letter-spacing: -5px;
    transition-duration: 0.4s;
    transition-property: font;
    transition-timing-function: ease; }
  .MarketingText-subBrand {
    font-size: 2.4em;
    padding: 0em;
    font-family: Domine;
    font-weight: 400; }
  .MarketingText-description {
    opacity: 0;
    font-family: Domine;
    font-size: 1.7em;
    transition-duration: 0.8s;
    transition-property: all;
    transition-timing-function: ease; }

/*# sourceMappingURL=application.css.map */
