@media (min-width: 0) and (max-width: 425px) {
  .Approach {
    padding: 0 0 15px 0;
    text-align: center; }
    .Approach-textTitle {
      font-size: 1.3rem; } }

@media (min-width: 426px) and (max-width: 1024px) {
  .Approach {
    padding: 0 45px 15px 0; }
    .Approach-textTitle {
      font-size: 1.6rem; } }

@media (min-width: 1025px) {
  .Approach {
    padding: 0 45px 15px 0; }
    .Approach-textTitle {
      font-size: 1.7rem; } }

.Approach {
  margin: 0 0 35px; }
  .Approach-image {
    text-align: center;
    margin-top: 16px; }
  .Approach-text {
    margin: 35px 0 0 0; }
  .Approach-textTitle {
    color: #333333;
    font-family: "PT Sans Caption", sans-serif;
    line-height: 0.9em; }
  .Approach-textDescription {
    color: #555555;
    font-family: "Raleway", sans-serif;
    line-height: 1.6em;
    font-size: 14px;
    padding: 15px 0 10px 0; }
