/*
* Media Queries.
*/
.Approach {
  margin: 0 0 35px;
  padding: 0 45px 15px 0; }
  @media (max-width: 899px) {
    .Approach {
      padding: 0 0 15px 0;
      text-align: center; } }
  .Approach-image {
    text-align: center;
    margin-top: 16px; }
  .Approach-text {
    margin: 35px 0 0 0; }
  .Approach-textTitle {
    color: #333333;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 0.9em;
    font-size: 1.7rem; }
    @media (max-width: 899px) {
      .Approach-textTitle {
        font-size: 1.3rem; } }
  .Approach-textDescription {
    color: #555555;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.6em;
    font-size: 14px;
    padding: 15px 0 10px 0; }
