/*
* Media Queries.
*/
.Button {
  color: #333333;
  background: #efeeee;
  padding: 12px 16px;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  display: inline-block;
  margin-right: 0;
  z-index: 1;
  border-radius: 2px;
  text-transform: uppercase;
  transition: all 0.15s ease-out 0s; }
  @media (max-width: 899px) {
    .Button {
      width: 100%;
      padding: 20px 0; } }
  .Button:hover {
    box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.18);
    transform: translate(0, -5px);
    cursor: pointer; }
  .Button--small {
    font-size: 14px; }
  .Button--large {
    padding: 14px 18px;
    font-size: 18px; }

.ButtonGroup .Button {
  margin: 0 6px; }
  @media (max-width: 899px) {
    .ButtonGroup .Button {
      margin: 6px 0; } }
