/*
* Media Queries.
*/
.Chat {
  color: #333333;
  background: #f1f1f1 none repeat scroll 0 0;
  margin: 0 50px 0 0;
  overflow: hidden;
  position: fixed;
  bottom: -1px;
  right: 0;
  float: right;
  width: 200px;
  height: 35px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "PT Sans Caption", sans-serif;
  transition: 0.6s all ease 0s;
  z-index: 99; }
  @media (max-width: 899px) {
    .Chat {
      margin: 0;
      right: calc(5vw / 2); } }
  .Chat.is-show {
    width: 300px;
    height: 319px; }
    @media (max-width: 899px) {
      .Chat.is-show {
        width: 95vw; } }
  .Chat-header {
    background: #DFDBDE;
    font-size: 14px;
    font-weight: bold;
    padding: 9px;
    text-align: left;
    cursor: pointer; }
    .Chat-header:hover {
      background: #EAE8EA; }
  .Chat-body {
    bottom: 55px;
    float: left;
    position: absolute;
    text-align: right;
    width: 295px;
    padding: 0 10px; }
  .Chat-message {
    display: none;
    opacity: 0;
    background: #DFDBDE;
    font-size: 5px;
    float: right;
    margin: 3px 0;
    clear: both;
    padding: 6px 10px;
    border-radius: 25px; }
    .Chat-message a {
      color: blue;
      text-decoration: underline; }
  .Chat-writing {
    background: #DFDBDE;
    font-size: 14px;
    font-family: "PT Sans Caption", sans-serif;
    float: right;
    margin: 3px 0;
    clear: both;
    padding: 6px 10px;
    border-radius: 25px;
    letter-spacing: 2px; }
  .Chat-avatar {
    background-color: #DFDBDE;
    background-image: url("../../images/dist/john-avatar-50x50.jpg");
    background-size: cover;
    border-radius: 100%;
    bottom: 12px;
    height: 32px;
    position: absolute;
    right: 12px;
    width: 32px;
    opacity: 0;
    transition: all 0.4s ease 0s; }
    .Chat-avatar.is-show {
      opacity: 1; }
