.HomePostIt {
  padding: 15px 20px;
  margin: auto;
  z-index: 10;
  position: relative;
  max-width: 300px;
  overflow: hidden;
  border-radius: 2px;
  text-align: center; }
  .HomePostIt:hover {
    transition: 0.1s transform ease 0s;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1); }
    .HomePostIt:hover .HomePostIt a {
      color: #333333;
      display: block; }
    .HomePostIt:hover .HomePostIt-icon {
      display: none; }
  .HomePostIt-text {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 1.2rem; }
  .HomePostIt-services {
    color: #757575;
    font-family: Ubuntu;
    font-size: 13px;
    padding: 10px 0;
    line-height: 1.4em; }
    .HomePostIt-services ul {
      padding: 0;
      margin: 0; }
    .HomePostIt-services li {
      display: inline-block;
      margin: 1px 0;
      background: #efeeee;
      padding: 3px 7px;
      border-radius: 2px; }
    .HomePostIt-services a {
      font-family: Ubuntu;
      color: #757575;
      font-size: 11px;
      display: block;
      clear: both; }
  .HomePostIt-icon {
    background-repeat: no-repeat; }
