/*
* Media Queries.
*/
.u-heightFull {
  height: 100%;
  overflow: hidden; }

.u-height80 {
  height: 80%; }

.u-height70 {
  height: 70%; }

.u-height20 {
  height: 20%; }

.u-height50 {
  height: 50%; }

.u-align-right {
  text-align: right !important; }

.u-align-left {
  text-align: left !important; }

.u-indent {
  padding-left: 25px; }
  @media (max-width: 899px) {
    .u-indent {
      padding-left: 0; } }

.u-float-left {
  float: left !important; }

.u-float-right {
  float: right !important; }

.u-degrade {
  background: transparent linear-gradient(to top, #fcfcfc, transparent 85px) repeat scroll 0 0; }

.u-deepShadow1 {
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.3); }

.u-deepShadow2 {
  box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.3); }

.u-deepShadow3 {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); }

.u-deepShadow4 {
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.3); }

.u-deepShadow5 {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3); }

/*
* Media Queries.
*/
.Home {
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  z-index: 1;
  color: #ffffff;
  overflow: hidden;
  position: relative;
  background: transparent linear-gradient(to top, #fafafa, transparent 50%) repeat scroll 0 0;
  height: 500px; }
  @media (max-width: 899px) {
    .Home {
      height: 200px; } }
  .Home-tags {
    max-width: 900px;
    margin: auto; }
    @media (max-width: 899px) {
      .Home-tags {
        display: none; } }
  .Home-container {
    position: relative;
    text-align: center;
    z-index: 2;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    top: 45px; }
    @media (max-width: 899px) {
      .Home-container {
        height: inherit;
        top: 0; } }
  .Home-action {
    height: 100px;
    position: relative;
    text-align: center;
    width: 100%; }
  .Home-brand {
    float: left;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 2.1em; }
    @media (max-width: 899px) {
      .Home-brand {
        font-size: 2em; } }
    .Home-brand a {
      color: #ffffff; }
      .Home-brand a:hover {
        color: #ffffff; }
  .Home-segment, .Home .morphext {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold; }
  .Home-description {
    font-size: 2.2em;
    margin: 0px 0 50px; }
    @media (max-width: 899px) {
      .Home-description {
        margin: 0;
        font-size: 2.4em; } }
    .Home-description small {
      font-weight: 100;
      font-family: "Source Sans Pro", sans-serif;
      display: block;
      text-transform: lowercase;
      clear: both; }
  .Home-subBrand {
    font-size: 1.4em;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    width: 636px;
    height: 200px;
    margin: auto; }
  .Home-and {
    font-family: Imprima;
    font-size: 0.8em;
    text-align: center;
    padding: 0 25px; }
  .Home-header {
    position: relative;
    z-index: 2;
    padding: 20px 0;
    width: 100%; }
  .Home-menu {
    margin: auto;
    position: relative;
    width: 592px;
    display: none; }
    .Home-menu ul {
      margin: 0;
      padding: 0; }
      .Home-menu ul li {
        display: inline;
        padding: 0 12px; }
  .Home-phone {
    font-family: "Source Sans Pro", sans-serif;
    float: right; }
  .Home-avatar {
    height: 55px;
    overflow: hidden;
    clear: right;
    width: 155px;
    padding: 3px 0;
    float: right;
    font-family: "Source Sans Pro", sans-serif; }
    .Home-avatar img {
      border-radius: 100%;
      width: 40px;
      float: left; }
  .Home-name {
    font-size: 12px;
    float: left;
    padding: 3px 6px; }
  .Home-email {
    font-size: 9.5px;
    float: left;
    color: #e4e0e0;
    padding: 0 6px; }
