/*
* Media Queries.
*/
.Ipad {
  background-color: #ffffff;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
  width: 80%;
  height: 85%;
  position: absolute;
  right: 5%;
  bottom: 0;
  border-width: 2px 2px 0 2px;
  z-index: 1;
  border-color: rgba(75, 75, 75, 0.35);
  border-style: solid; }
  .Ipad-screen {
    width: 92%;
    height: 83%;
    position: absolute;
    top: 22%;
    background-color: #DFDBDE;
    left: 4%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden; }
  .Ipad-cam {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #31302e;
    position: absolute;
    top: 12%;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px; }
  .Ipad-lents {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    position: absolute;
    top: 12%;
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
    background-color: #2b3855; }

.Site {
  font-size: 12px; }
  .Site-blocs, .Site .Event, .Site .Video {
    background-color: #d3cdd1;
    border-radius: 4px;
    margin: 12px;
    position: relative;
    display: none; }
    .Site-blocs:hover, .Site .Event:hover, .Site .Video:hover {
      background-color: #d7d2d5; }
  .Site-navbar {
    background-color: #d3cdd1;
    height: 50px;
    display: none; }
  .Site .Event {
    height: 200px; }
    .Site .Event-image {
      background-color: #c6bfc4;
      height: 100px; }
    .Site .Event-description {
      background-color: #c6bfc4;
      height: 9%;
      margin: 6.5% 9%; }
  .Site .Video {
    height: 200px; }
    .Site .Video-icone {
      background-color: #c6bfc4;
      border-radius: 100%;
      width: 80px;
      height: 80px; }
      @media (max-width: 899px) {
        .Site .Video-icone {
          display: none; } }
    .Site .Video-arrow {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin: 23px 0 0 29px;
      width: 0;
      height: 0;
      border-top: 17px solid transparent;
      border-bottom: 18px solid transparent;
      border-left: 28px solid #bab1b7; }
