/*
* Media Queries.
*/
.Navbar {
  width: 100%;
  height: 60px;
  font-size: 18px;
  color: #333333;
  background: #ffffff;
  border-bottom: 1px solid #DFDBDE;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: all 0.2s ease 0s; }
  .Navbar-logo {
    float: left;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    margin: 12px 0; }
    @media (max-width: 899px) {
      .Navbar-logo {
        display: none; } }
    .Navbar-logo a {
      color: #ffffff; }
      .Navbar-logo a:hover {
        color: #ffffff; }
  .Navbar-input {
    margin: 10px 0;
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%; }
    .Navbar-input input {
      background: #f1f1f1;
      border: 0 none;
      border-radius: 2px;
      height: 40px;
      color: #333333;
      font-family: "PT Sans Caption", sans-serif;
      font-size: 14px;
      padding: 6px  12px; }
      @media (min-width: 1200px) {
        .Navbar-input input {
          width: 300px; } }
      @media (max-width: 899px) {
        .Navbar-input input {
          width: 60%; } }
      .Navbar-input input:focus {
        outline: 0; }
    .Navbar-input button {
      border: 0 none;
      border-radius: 2px;
      background: #fa3077;
      height: 40px;
      color: #ffffff;
      font-family: "PT Sans Caption", sans-serif;
      font-size: 14px;
      font-weight: 600;
      padding: 6px  12px; }
      .Navbar-input button:hover {
        opacity: 0.8; }
  .Navbar-telephone {
    float: right;
    font-size: 0.9em;
    padding: 19px 0;
    line-height: 0.8em;
    text-align: right; }
    @media (max-width: 899px) {
      .Navbar-telephone {
        display: none; } }
    .Navbar-telephone small {
      font-size: 0.7em;
      opacity: 0.8; }
  .Navbar.is-hide {
    top: -60px; }
