.u-heightFull {
  height: 100%;
  overflow: hidden; }

.u-height80 {
  height: 80%; }

.u-height70 {
  height: 70%; }

.u-height20 {
  height: 20%; }

.u-height50 {
  height: 50%; }

.u-align-right {
  text-align: right !important; }

.u-align-left {
  text-align: left !important; }

.u-float-left {
  float: left !important; }

.u-float-right {
  float: right !important; }

.u-degrade {
  background: transparent linear-gradient(to top, #fcfcfc, transparent 85px) repeat scroll 0 0; }

@media (min-width: 0) and (max-width: 425px) {
  .Section-brand, .People-brand {
    font-size: 1.8rem; }
  .Section-description, .People-description {
    font-size: 1rem; }
  .Section-container, .People-container {
    height: auto;
    padding: 65px 0 0 0;
    text-align: center; } }

@media (min-width: 426px) and (max-width: 1024px) {
  .Section-brand, .People-brand {
    font-size: 2.3rem; }
  .Section-description, .People-description {
    font-size: 1.3rem; }
  .Section-container, .People-container {
    height: auto;
    padding: 65px 0 0 0;
    text-align: left; } }

@media (min-width: 1025px) {
  .Section, .People {
    height: 400px; }
    .Section-brand, .People-brand {
      font-size: 2.8rem; }
    .Section-description, .People-description {
      font-size: 1.7rem; }
    .Section-container, .People-container {
      height: 400px;
      padding: 65px 40px 0 0;
      text-align: left; } }

.Section, .People {
  overflow: hidden;
  color: #333333;
  position: relative;
  background: transparent linear-gradient(to top, #fafafa, transparent 50%) repeat scroll 0 0; }
  .Section-container, .People-container {
    width: 100%;
    position: relative;
    top: 25%;
    left: 0; }
  .Section-brand, .People-brand {
    font-family: Ubuntu, sans-serif;
    transition-duration: 1s;
    transition-property: font;
    transition-timing-function: ease;
    font-weight: 600; }
    .Section-brand > small, .People-brand > small {
      font-size: 31%;
      font-weight: 100;
      color: #757575;
      font-family: Ubuntu; }
  .Section-description, .People-description {
    font-family: Ubuntu, sans-serif;
    margin-top: 12px;
    position: relative; }
  .Section--small {
    height: 150px;
    text-align: center;
    overflow: hidden;
    position: relative; }

@media (min-width: 0) and (max-width: 425px) {
  .People-contact span {
    display: none; } }

.People {
  height: auto; }
  .People-subBrand {
    font-size: 2.4em;
    padding: 0;
    font-family: Ubuntu, sans-serif;
    font-weight: 200; }
  .People-description {
    font-size: 17px;
    line-height: 1.6em; }
    .People-description:first-letter {
      font-size: 3.2rem;
      line-height: 54px;
      float: left;
      margin: 0 6px 0 -3px; }
  .People-links, .People-contact {
    font-size: 1rem;
    margin-top: 20px;
    color: #757575; }
    .People-links ul, .People-contact ul {
      padding: 0;
      margin: 0; }
    .People-links li, .People-contact li {
      display: inline;
      margin: 0 15px 0 0; }
    .People-links a, .People-contact a {
      color: #757575; }
      .People-links a:hover, .People-contact a:hover {
        text-decoration: underline; }
    .People-links span, .People-contact span {
      margin: 0 6px 0 0;
      float: left;
      font-size: 1.2rem; }
  .People-contact li {
    display: block;
    margin-bottom: 3px;
    overflow: hidden; }
  .People-images {
    height: 320px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    overflow: hidden;
    padding: 60px 0 0;
    position: relative; }
  .People-imageA {
    background-blend-mode: luminosity;
    background-image: url("../../images/dist/john-smile-b.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    height: 280px;
    position: absolute;
    z-index: 2;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.6s all ease 0s; }
