@media (min-width: 0) and (max-width: 425px) {
  .Section-brand, .Purpose-brand {
    font-size: 1.8rem; }
  .Section-description, .Purpose-description {
    font-size: 1rem; }
  .Section-container, .Purpose-container {
    height: auto;
    padding: 65px 0 0 0;
    text-align: center; } }

@media (min-width: 426px) and (max-width: 1024px) {
  .Section-brand, .Purpose-brand {
    font-size: 2.3rem; }
  .Section-description, .Purpose-description {
    font-size: 1.3rem; }
  .Section-container, .Purpose-container {
    height: auto;
    padding: 65px 0 0 0;
    text-align: left; } }

@media (min-width: 1025px) {
  .Section-brand, .Purpose-brand {
    font-size: 2.8rem; }
  .Section-description, .Purpose-description {
    font-size: 1.7rem; }
  .Section-container, .Purpose-container {
    height: auto;
    padding: 0 40px 0 0;
    text-align: left; } }

.Section, .Purpose {
  overflow: hidden;
  color: #333333;
  position: relative;
  background: linear-gradient(to top, #f3f0f0, transparent 50%); }
  .Section-container, .Purpose-container {
    width: 100%;
    position: relative;
    left: 0; }
  .Section-brand, .Purpose-brand {
    font-family: "PT Sans Caption", sans-serif;
    transition-duration: 1s;
    transition-property: font;
    transition-timing-function: ease;
    font-weight: 600; }
    .Section-brand > small, .Purpose-brand > small {
      font-size: 31%;
      font-weight: 100;
      color: #555555;
      font-family: "Raleway", sans-serif; }
  .Section-description, .Purpose-description {
    font-family: "Raleway", sans-serif;
    position: relative;
    color: #555555;
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.6em;
    margin-top: 15px;
    max-width: 28em; }
  .Section--small {
    height: 150px;
    text-align: center;
    overflow: hidden;
    position: relative; }

@media (min-width: 0) and (max-width: 425px) {
  .Purpose-images {
    height: 270px; } }

@media (min-width: 426px) and (max-width: 1024px) {
  .Purpose-images {
    height: 400px; } }

@media (min-width: 1025px) {
  .Purpose-images {
    height: 400px; } }

.Purpose-subBrand {
  font-size: 2.4em;
  padding: 0;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 200; }

.Purpose-images {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  overflow: hidden;
  height: 400px;
  vertical-align: bottom;
  margin: 60px 0px 0 0; }

.Purpose-image {
  filter: grayscale(100%);
  transition: all 0.2s ease 0s; }
  .Purpose-image:hover {
    filter: grayscale(30%); }

.Purpose-imageA {
  background-image: url("../../images/dist/inceptiontw7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid white; }

.Purpose-imageB {
  background-image: url("../../images/dist/mockup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-right: 1px solid white; }

.Purpose-imageC {
  background-image: url("../../images/dist/villeme-screen.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.Purpose--purple {
  color: #fa3077; }
