@media (min-width: 0) and (max-width: 425px) {
  .Section-brand {
    font-size: 1.8rem; }
  .Section-description {
    font-size: 1rem; }
  .Section-container {
    height: auto;
    padding: 65px 0 0 0;
    text-align: center; } }

@media (min-width: 426px) and (max-width: 1024px) {
  .Section-brand {
    font-size: 2.3rem; }
  .Section-description {
    font-size: 1.3rem; }
  .Section-container {
    height: auto;
    padding: 65px 0 0 0;
    text-align: left; } }

@media (min-width: 1025px) {
  .Section-brand {
    font-size: 2.8rem; }
  .Section-description {
    font-size: 1.7rem; }
  .Section-container {
    height: auto;
    padding: 65px 40px 0 0;
    text-align: left; } }

.Section {
  overflow: hidden;
  color: #333333;
  position: relative;
  background: transparent linear-gradient(to top, #fafafa, transparent 50%) repeat scroll 0 0; }
  .Section-container {
    width: 100%;
    position: relative;
    top: 25%;
    left: 0; }
  .Section-brand {
    font-family: Ubuntu, sans-serif;
    transition-duration: 1s;
    transition-property: font;
    transition-timing-function: ease;
    font-weight: 600; }
    .Section-brand > small {
      font-size: 31%;
      font-weight: 100;
      color: #757575;
      font-family: Ubuntu; }
  .Section-description {
    font-family: Ubuntu, sans-serif;
    margin-top: 12px;
    position: relative; }
  .Section--small {
    height: 150px;
    text-align: center;
    overflow: hidden;
    position: relative; }
