@media (min-width: 0) and (max-width: 425px) {
  .Section-brand {
    font-size: 1.8rem; }
  .Section-description {
    font-size: 1rem; }
  .Section-container {
    height: auto;
    padding: 65px 0 0 0;
    text-align: center; } }

@media (min-width: 426px) and (max-width: 1024px) {
  .Section-brand {
    font-size: 2.3rem; }
  .Section-description {
    font-size: 1.3rem; }
  .Section-container {
    height: auto;
    padding: 65px 0 0 0;
    text-align: left; } }

@media (min-width: 1025px) {
  .Section-brand {
    font-size: 2.8rem; }
  .Section-description {
    font-size: 1.7rem; }
  .Section-container {
    height: auto;
    padding: 0 40px 0 0;
    text-align: left; } }

.Section, .ServicesGroup {
  overflow: hidden;
  color: #333333;
  position: relative;
  background: linear-gradient(to top, #f3f0f0, transparent 50%); }
  .Section-container {
    width: 100%;
    position: relative;
    left: 0; }
  .Section-brand {
    font-family: "PT Sans Caption", sans-serif;
    transition-duration: 1s;
    transition-property: font;
    transition-timing-function: ease;
    font-weight: 600; }
    .Section-brand > small {
      font-size: 31%;
      font-weight: 100;
      color: #555555;
      font-family: "Raleway", sans-serif; }
  .Section-description {
    font-family: "Raleway", sans-serif;
    position: relative;
    color: #555555;
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.6em;
    margin-top: 15px;
    max-width: 28em; }
  .Section--small {
    height: 150px;
    text-align: center;
    overflow: hidden;
    position: relative; }

.ServicesGroup {
  height: auto;
  padding: 50px 0;
  background: #fcfcfc; }
  .ServicesGroup-title {
    color: #555555;
    font-size: 16px;
    font-family: "PT Sans Caption", sans-serif;
    padding: 12px 0 35px;
    text-align: left;
    text-transform: uppercase;
    display: none; }
