/*
* Media Queries.
*/
.Sheet {
  background-color: #f0f0f0;
  width: 45%;
  height: 35%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 4px 4px 0 0;
  z-index: 2;
  padding: 6px 12px; }
  @media (max-width: 899px) {
    .Sheet {
      height: 30%;
      width: 60%; } }
  .Sheet.is-hide {
    bottom: -60%; }
  .Sheet-content, .Sheet-title, .Sheet-text {
    margin: 3px 0 3px 0; }
  .Sheet--large {
    background-color: #f0f0f0;
    height: 75%;
    width: 70%;
    z-index: 1; }
    @media (max-width: 899px) {
      .Sheet--large {
        width: 90%; } }
    .Sheet--large.is-hide {
      bottom: -70%; }
  .Sheet--right {
    right: 0;
    left: inherit;
    padding: 0; }
  .Sheet-title {
    background-color: #DFDBDE;
    width: 30%;
    height: 20px;
    float: left; }
  .Sheet-text {
    background-color: #DFDBDE;
    width: 50%;
    height: 10px;
    float: right; }
  .Sheet svg {
    position: relative;
    top: 20px; }
