<div class="Navbar is-hide">
  <div class="OuterWrapper">
    <div class="Navbar-logo">
      JonatasEduardo
    </div>
    <div class="Navbar-input">
      <input class="gtm-contactInput" type="text" name="email" placeholder="email" autofocus="true" />
      <button class="gtm-contactButton">me contate</button>
    </div>
    <div class="Navbar-telephone">
      ✆ 51 8288.8388
    </div>
  </div>
</div>
