<div class="Navbar is-hide">
  <div class="OuterWrapper">
    <div class="Navbar-logo">
      Jonatas Eduardo
    </div>
    <div class="Navbar-input">
      <form id="sendEmail" action="/enviar-email" method="post">
        <input class="gtm-contactInput"
               type="email"
               name="email"
               placeholder="deixe seu email"
               autofocus="true" required />
        <button type="submit" class="Navbar-sendButton gtm-contactButton">me contate</button>
      </form>
    </div>
    <div class="Navbar-telephone">
      ✆ 51 99260.1031
    </div>
  </div>
</div>
