<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Freelancer em Marketing Digital em Porto Alegre</title>

<meta name="description" content="Desenvolvimento de sites, aplicativos, Ruby on Rails, Nodejs, Reactjs, Google Adwords, Google Analytics, Google Tag Manager." />
<meta name="keywords" content="programming, marketing, design" />
<meta name="author" content="Jonatas Eduardo" />

<link rel="shortcut icon" href="../favicon.ico" />
