@import "css/variables.css";

.HomePostIt{
  width: 200px;
  float: left;
  height: 200px;
  border: 1px solid $colorPrimary;
  padding: 3px 10px;
  margin: 0 6px;

  &:hover{
    background: $colorPurple;
    border: 1px solid $colorPurple;

    & .HomePostIt-text{
      color: $colorPrimary;
    }

    & .HomePostIt-services{
      display: block;
    }
  }

  &-text{
    color: $colorPrimary;
    text-align: left;
    font-weight: 600;
  }

  &-services{
    display: none;
    color: $colorPrimary;
    font-size: 12px;

    & span{
      float: left;
      clear: both;
    }
  }

}
