@import "css/variables.css";

.HomePostIt{
  width: 200px;
  float: left;
  height: 130px;
  background: rgba(255,255,255,0.15);
  padding: 12px 10px;
  margin: 0 6px;
  z-index: 10;
  position: relative;
  overflow: hidden;
  border: 2px solid $colorSecondary;
  border-radius: 2px;
  top: 0;

  &:hover{
    height: 180px;
    background: #ffffff;
    transform: matrix(1.5, 0, 0, 1.5, 0, 0);
    top: -25px;
    transition: 0.1s transform ease 0s;

    & .HomePostIt-text{
      color: #333333;
      margin-top: 0;
      text-align: center;
    }

    & .HomePostIt-services a{
      color: #333333;
      display: block;
      clear: both;
    }

    & .HomePostIt-icon{
      display: none;
    }
  }

  &-text{
    color: $colorSecondary;
    text-align: center;
    font-weight: 600;
    margin-top: 45px;
  }

  &-services{
    display: none;
    font-size: 13px;
    line-height: 1.6em;
    margin: 6px 0 0;

    & span{
      clear: both;
    }
    
    & a{
        color: $colorPrimary;
        
        &:hover{
          color: $colorBrand !important;
          cursor: pointer;
        }
    }
  }

  &-icon{
    background-repeat: no-repeat;
  }

  &--marketing{
    &:hover{
      // background: $colorGreen;
      // border: 1px solid $colorGreen;

      & .HomePostIt-text{
        color: $colorPrimary;
      }

      & .HomePostIt-services{
        display: block;
      }
    }

    & .HomePostIt-icon{
      // background: rgba(0, 0, 0, 0) url("../images/icons/Presentation.png") repeat scroll 0 0;
      // bottom: -34px;
      // height: 102px;
      // position: absolute;
      // right: -5px;
      // transform: rotate(-3deg);
      // width: 102px;
    }
  }

  &--design{
    &:hover{
      // background: $colorBrand;
      // border: 1px solid $colorBrand;

      & .HomePostIt-text{
        color: $colorPrimary;
      }

      & .HomePostIt-services{
        display: block;
      }
    }

    & .HomePostIt-icon{
      // background: url("../images/icons/DrawingTablet.png") repeat scroll 0 0;
      // bottom: -9px;
      // height: 97px;
      // left: 88px;
      // position: absolute;
      // transform: rotate(-3deg);
      // width: 112px;
    }
  }

  &--tech{
    &:hover{
      // background: $colorBlue;
      // border: 1px solid $colorBlue;

      & .HomePostIt-text{
        // color: $colorPrimary;
      }

      & .HomePostIt-services{
        display: block;
      }
    }
  }



}
