<link rel="stylesheet" href="../css/components/box-content.css" />

<div class="BoxContent business-model is-hide">
	<div class="BoxContent-text">
		<div class="OuterWrapper">
			<h2>Modelo de Negócio</h2>

			<p>Upwards of 690k people invent, inspire, and inform Quirky’s massively successful line of products. Each week over 2,000 ideas are submitted to be voted on and brought to reality in Quirky’s New York City-based headquarters. Inventors and community members who contribute to a product’s success then earn a percentage of the profit. To date, over 400 unique products have been brought to market, selling at retailers such as Target, Bed Bath &amp; Beyond, Best Buy, and Amazon. </p>
  		<p>Quirky’s Head of Platform Experience, Steven Walker,  hired me to work with him and his team of developers to redesign their product page, category landing page, and navigation to better tell the story of their products and the community behind them.</p>

		</div>
	</div>
</div>
