<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<% include ../partials/head %>
	<style>
	.first-image {
		background-image: url('../../images/dist/workshop.jpg');
	}
	.first-image.show {
		opacity: 1;
	}
	</style>
</head>

<body>
	<% include ../partials/header %>

	<div class="Main">
		<section>
			<div class="Home section" data-section-name="home">
				<div class="Pattern"></div>

				<div class="backgroundImages toggleImages first-image show"></div>
				<div data-aload class="backgroundImages toggleImages third-image"></div>

				<div class="OuterWrapper">

					<div class="Home-header">
						<div class="Home-brand"><a href="/">Jonatas Eduardo</a></div>

						<div class="Home-menu">
							<ul>
								<li>abordagem</li>
								<li>serviços</li>
								<li>quem</li>
								<li>duvidas</li>
							</ul>
						</div>

						<div class="Contact">
							<div data-aload class="Contact-avatar"></div>
							<div class="Contact-telephone">
								51 8288.8388
							</div>
							<div class="Contact-email">
								contato@jonataseduardo.com
							</div>
						</div>

					</div>

					<div class="Home-container">

						<div class="Home-description">
							<span class="Home-segment">Analista Jr. e freelancer em produtos digitais para </span><span class="js-rotating">agências, empreendedores, startups, artistas, restaurantes, pousadas, cafeterias, lojas</span>
							<small>desenvolvo produtos e serviços para entregar maior valor para seus clientes</small>
						</div>

						<div class="Home-tags">
							<div class="Grid Grid-alignCenter">
								<div class="Grid-cell u-sm-sizeFull u-md-size4of12 u-lg-size4of12">
									<a href="#marketing">
										<div class="HomePostIt HomePostIt--marketing">
											<div class="HomePostIt-text">
												Marketing
											</div>
											<div class="HomePostIt-services">
												<ul>
													<li>Modelo de Negócio</li>
													<li>Posicionamento de Marca</li>
													<li>SEO</li>
													<li>SEM</li>
													<li>Marketing de Conteúdo</li>
													<li>Desenvolvimento de Clientes</li>
												</ul>
											</div>
											<div class="HomePostIt-icon"></div>
										</div>
									</a>
								</div>
								<div class="Grid-cell u-sm-sizeFull u-md-size4of12 u-lg-size4of12">
									<a href="#design">
										<div class="HomePostIt HomePostIt--design">
											<div class="HomePostIt-text">
												Design
											</div>
											<div class="HomePostIt-services">
												<ul>
													<li>Logo</li>
													<li>User Interface - UI</li>
													<li>User Experience - UX</li>
													<li>Tipografia</li>
													<li>Ilustrações</li>
													<li>Identidade Visual</li>
												</ul>
											</div>
											<div class="HomePostIt-icon">

											</div>
										</div>
									</a>
								</div>
								<div class="Grid-cell u-sm-sizeFull u-md-size4of12 u-lg-size4of12">
									<a href="#software">
										<div class="HomePostIt HomePostIt--tech">
											<div class="HomePostIt-text">
												Software
											</div>
											<div class="HomePostIt-services">
												<ul>
													<li>Site responsivo</li>
													<li>Aplicativo Mobile</li>
													<li>Blogs</li>
													<li>E-commerce</li>
													<li>Protótipos - MVP</li>
													<li>Automatização</li>
												</ul>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="Milestone Grid ">
				<div class="OuterWrapper">
					<div class="Milestone-item Grid-cell u-sizeAll">
						<span class="Milestone-text">Ajudo seu negócio a <b>ser encontrado</b>, a criar <b>experiências incríveis</b> e ter a <b>lealdade dos clientes</b></span>
					</div>
				</div>
			</div>

		</section>

		<section>

			<div class="Purpose section" data-section-name="about">
				<div class="OuterWrapper">
					<div class="Grid">

						<div class="Purpose-container Grid-cell u-sm-sizeFull u-md-size5of10 u-lg-size5of10">
							<div class="Purpose-brand">Abordagem</div>
							<div class="Purpose-description">Uso como base no meu trabalho ferramentas das técnicas Lean, Design Thinking e Agile; aplicados de forma colaborativa em contato direto com clientes, usuários, colaboradores e o dono do negócio.</div>
						</div>

						<div class="Purpose-images Grid-cell u-sm-sizeFull u-md-size5of10 u-lg-size5of10">
							<div data-aload class="Grid-cell u-height50 u-sizeFull Purpose-imageA"></div>
							<div data-aload class="Grid-cell u-size5of10 u-height50 Purpose-imageB"></div>
							<div data-aload class="Grid-cell u-size5of10 u-height50 Purpose-imageC"></div>
						</div>

					</div>
				</div>
			</div>

			<div class="ServicesGroup" data-section-name="aproach">
				<div class="OuterWrapper">
					<div class="ServicesGroup-title">
						Nosso mindset
					</div>

					<div class="Grid">
						<div class="Approach Grid-cell u-sm-sizeFull u-md-size5of10 u-lg-size5of10">
							<div class="Approach-image">
								<object type="image/svg+xml" data="../svg/dt-min.svg">Your browser does not support SVGs</object>
							</div>
						</div>

						<div class="Approach Grid-cell u-sm-sizeFull u-md-size5of10 u-lg-size5of10">
							<div class="Approach-text">
								<div class="Approach-textTitle">Compreender seu negócio e clientes</div>
								<div class="Approach-textDescription">
									Por meio do uso de práticas do Design Thinking, busco entender o comportamento de usuários e clientes em busca de insights que possam servir para a criação ou melhoria de novo produto ou serviço.
								</div>
							</div>
						</div>

						<div class="Approach Grid-cell u-sm-sizeFull u-md-size5of10 u-lg-size5of10">
							<div class="Approach-text">
								<div class="Approach-textTitle">Validar ideias de forma científica</div>
								<div class="Approach-textDescription">
									Usando técnicas do Leas Startup, como o ciclo de aprendizagem validada, buscamos evitar o desperdício de tempo e dinheiro desenvolvendo somente o que realmente entrega valor aos clientes.
								</div>
							</div>
						</div>

						<div class="Approach Grid-cell u-sm-sizeFull u-md-size5of10 u-lg-size5of10">
							<div class="Approach-image">
								<object type="image/svg+xml" data="../svg/lean-min.svg">Your browser does not support SVGs</object>
							</div>
						</div>

						<div class="Approach Grid-cell u-sm-sizeFull u-md-size5of10 u-lg-size5of10">
							<div class="Approach-image">
								<object type="image/svg+xml" data="../svg/market-min.svg">Your browser does not support SVGs</object>
							</div>
						</div>

						<div class="Approach Grid-cell u-sm-sizeFull u-md-size5of10 u-lg-size5of10">
							<div class="Approach-text">
								<div class="Approach-textTitle">Criar inovação para gerar lucro</div>
								<div class="Approach-textDescription">
									Desenvolver coisas legais somente não basta, é preciso que novos produtos ou serviços sejam sustentáveis e gerem lucro, para isto buscamos unir marketing e produção desde o início em todo o processo.
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</section>

		<section>
			<div id="marketing" class="MarketingText MarketingText--green section" data-section-name="marketing">
				<div class="OuterWrapper">
					<div class="Grid">

						<div class="Grid-cell u-sm-sizeFull u-md-size5of10 u-lg-size5of10">
							<div class="MarketingText-container">
								<div class="MarketingText-brand">
									<small>serviços em</small>
									<br/>Marketing</div>
									<div class="MarketingText-description">
										Posso melhorar seu negócio por meio de pesquisa de mercado, definindo estratégias e táticas de branding, validando um modelo de negócio, anunciando, desenvolvendo inbound marketing e growth hacking.
									</div>
								</div>
							</div>

							<div class="MarketingText-images Grid-cell u-sm-sizeFull u-md-size5of10 u-lg-size5of10">
								<div class="Sheet js-SheetLeftAnimation">
									<div class="Sheet-title"></div>
									<div class="Sheet-text js-purplePolyline"></div>
									<div class="Sheet-text js-greenPolyline"></div>
									<svg id="Blueocean" class="BlueOcean" viewBox="0 0 323.046 121" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet"><title>background</title><path fill="none" id="canvas_background" d="M-1-1h325.05v123H-1z"/><title>Layer 1</title><path stroke-linecap="round" stroke="#000" id="e10_line" d="M2.73 116.33V12.88"/><path stroke-linecap="round" id="e12_line" stroke="#000" d="M26.2 116.33v-86.6"/><path stroke-linecap="round" id="e13_line" stroke="#000" d="M50.85 115.13v-86.6"/><path stroke-linecap="round" id="e14_line" stroke="#000" d="M74.9 116.22v-88.3"/><path stroke-linecap="round" id="e15_line" stroke="#000" d="M98.96 116.33v-81.2"/><path stroke-linecap="round" id="e16_line" stroke="#000" d="M123.02 116.9V6.88"/><path stroke-linecap="round" id="e17_line" stroke="#000" d="M147.68 117.27V4.47"/><path stroke-linecap="round" id="e18_line" stroke="#000" d="M170.3 116.52l.84-101.23"/><path stroke-linecap="round" id="e19_line" stroke="#000" d="M195.47 117.1l-.27-104.82"/><path stroke-linecap="round" id="e20_line" stroke="#000" d="M220.18 117.36l.28-101.47"/><path stroke-linecap="round" id="e21_line" stroke="#000" d="M244.2 116.36l-.3-102.88"/><path stroke-linecap="round" id="e22_line" stroke="#000" d="M268.07 116.7l1.1-89.4"/><path stroke-linecap="round" id="e23_line" stroke="#000" d="M293.83 116.32v-80.6"/><path stroke-linecap="round" id="e24_line" stroke="#000" d="M317.9 115.58V5.06"/><path fill="none" id="e8_polyline" stroke="red" d="M2.13 14.08L24.38 24.3l26.47 90.22L74.3 101.9l23.46.6 25.26-67.37 23.46-31.87 24.66 10.22 25.26 77 24.06 12.62 24.05-22.26 24.1 22.86 24.7-23.46 25.26 34.28"/><path fill="none" id="e7_polyline" stroke="red" d="M2.13 47.16l24.06 67.36 23.4-87.2h25.3l24.63 9.02L123 4.46l25.27 87.8 24.06 10.24L196.4 3.86l23.46 12.03L243.9 14l50 21.68 24.6-33.04"/></svg>
								</div>
								<div class="Sheet Sheet--large Sheet--right js-SheetRightAnimation">
									<div class="BMC u-heightFull">
										<div class="Grid">
											<div class="Grid-cell u-sizeFull">
												<div class="BMC-header"></div>
											</div>
										</div>
										<div class="Grid u-height70">
											<div class="Grid-cell u-size2of10 u-heightFull">
												<div class="BMC-column">
													<div class="BMC-text BMC-text--left"></div>
												</div>
											</div>
											<div class="Grid-cell u-size2of10 u-heightFull">
												<div class="Grid u-heightFull">
													<div class="Grid-cell u-sizeFull u-heightFull">
														<div class="BMC-column BMC-column--50">

														</div>
														<div class="BMC-column BMC-column--50">

														</div>
													</div>
												</div>
											</div>
											<div class="Grid-cell u-size2of10 u-heightFull">
												<div class="BMC-column">
													<div class="BMC-postIt BMC-postIt--alignRight BMC-postIt--blue "></div>
													<div class="BMC-text BMC-text--right "></div>
													<div class="BMC-text BMC-text--large BMC-text--right "></div>
												</div>
											</div>
											<div class="Grid-cell u-size2of10 u-heightFull">
												<div class="Grid u-heightFull">
													<div class="Grid-cell u-sizeFull u-heightFull">
														<div class="BMC-column BMC-column--50">

														</div>
														<div class="BMC-column BMC-column--50">
															<div class="BMC-text "></div>
														</div>
													</div>
												</div>
											</div>
											<div class="Grid-cell u-size2of10 u-heightFull">
												<div class="BMC-column">
													<div class="BMC-text "></div>
													<div class="BMC-postIt BMC-postIt--alignLeft BMC-postIt--purple "></div>
													<div class="BMC-postIt BMC-postIt--alignRight "></div>
													<div class="BMC-postIt BMC-postIt--alignCenter BMC-postIt--blue "></div>
												</div>
											</div>
										</div>
										<div class="Grid u-heightFull">
											<div class="Grid-cell u-size6of12 u-heightFull">
												<div class="BMC-column">
													<div class="BMC-text "></div>
												</div>
											</div>
											<div class="Grid-cell u-size6of12 u-heightFull">
												<div class="BMC-column">
													<div class="BMC-postIt BMC-postIt--alignLeft BMC-postIt--purple "></div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="ServicesGroup" data-section-name="code-services">
					<div class="OuterWrapper">
						<div class="ServicesGroup-title">
							serviços em marketing
						</div>

						<div class="Grid">
							<div class="Service Grid-cell u-sm-sizeFull u-md-size4of12 u-lg-size4of12">
								<div class="Service-text">
									<div class="Service-textTitle">Modelo de Negócio</div>
									<div class="Service-textDescription">
										Desenvolvimento de modelos de negócio e aperfeiçoamento de existentes para identificação de vantagem competitiva, produtos ou organização.
									</div>
								</div>
								<div class="Service-tags">
									<ul>
										<li>Business Model Canvas</li>
										<li>Mapa de Empatia</li>
										<li>Oceano Azul</li>
										<li>SWOT</li>
									</ul>
								</div>
							</div>
							<div class="Service Grid-cell u-sm-sizeFull u-md-size4of12 u-lg-size4of12">
								<div class="Service-text">
									<div class="Service-textTitle">Marketing de Busca</div>
									<div class="Service-textDescription">
										Fazer as pessoas encontrarem seu negócio, serviços e produtos quando realizam uma busca no Google e outros sistemas de buscas.
									</div>
								</div>
								<div class="Service-tags">
									<ul>
										<li>SEO</li>
										<li>Google Analytics</li>
										<li>Hubspot</li>
										<li>Inbound Marketing</li>
									</ul>
								</div>
							</div>
							<div class="Service Grid-cell u-sm-sizeFull u-md-size4of12 u-lg-size4of12">
								<div class="Service-text">
									<div class="Service-textTitle">Desenvolvimento de Clientes</div>
									<div class="Service-textDescription">
										Descubra se existem clientes para um novo produto ou serviço antes mesmo de lançá-lo ou adapte seus produtos e serviços para um grupo de consumidores inexplorados.
									</div>
								</div>
								<div class="Service-tags">
									<ul>
										<li>Customer Development</li>
										<li>Design Thinking</li>
										<li>Lean Startup</li>
										<li>Growth Hacking</li>
									</ul>
								</div>
							</div>
							<div class="Service Grid-cell u-sm-sizeFull u-md-size4of12 u-lg-size4of12">
								<div class="Service-text">
									<div class="Service-textTitle">Posicionamento de Marca</div>
									<div class="Service-textDescription">
										Desenvolvimento de estrategias e táticas para implementar o conceito do seu negocio e valor na mente dos consumidores.
									</div>
								</div>
								<div class="Service-tags">
									<ul>
										<li>Oceano Azul</li>
										<li>Matriz de Posicionamento</li>
										<li>Segmentação de Mercado</li>
										<li>Personas</li>
									</ul>
								</div>
							</div>
							<div class="Service Grid-cell u-sm-sizeFull u-md-size4of12 u-lg-size4of12">
								<div class="Service-text">
									<div class="Service-textTitle">Anúncios Digitais</div>
									<div class="Service-textDescription">
										Tornar sua marca, produtos e serviços conhecidos por meio de anúncios em blogs, Youtube, Google, Facebook, Intagram e outras midias digitais.
									</div>
								</div>
								<div class="Service-tags">
									<ul>
										<li>Google Adwords</li>
										<li>Facebook Ads</li>
										<li>Hubspot</li>
									</ul>
								</div>
							</div>
							<div class="Service Grid-cell u-sm-sizeFull u-md-size4of12 u-lg-size4of12">
								<div class="Service-text">
									<div class="Service-textTitle">Marketing de Conteúdo</div>
									<div class="Service-textDescription">
										Atraia usuários e potenciais clientes por meio de posts em blogs, Facebook, Youtube, tutoriais, artigos e conteudos em midias digitais.
									</div>
								</div>
								<div class="Service-tags">
									<ul>
										<li>Blogs</li>
										<li>Inbound Marketing</li>
										<li>Facebook Ads</li>
										<li>Hubspot</li>
									</ul>
								</div>
							</div>



						</div>
					</div>
				</div>

			</section>
			<section>
				<div id="design" class="Design section" data-section-name="code-about">
					<div class="OuterWrapper">
						<div class="Grid">
							<div class="Grid-cell u-sm-sizeFull u-md-size5of10 u-lg-size5of10">
								<div class="Design-container">
									<div class="Design-brand"><small>serviços em</small>
										<br/>Design</div>
										<div class="Design-description">
											Posso desenvolver e melhorar a experiência dos usuários com seus produtos e marcas visando desenvolver um diferencial competitivo por meio de branding, design gráfico e UX.
										</div>
									</div>
								</div>

								<div class="Grid-cell u-sm-sizeFull u-md-size5of10 u-lg-size5of10">
									<div class="Design-notebook">
										<object type="image/svg+xml" data="../svg/macbook-min.svg" style="bottom: 0px; position: absolute;">Your browser does not support SVGs</object>
										<div class="Design-mailchimpDrawing">
											<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMaxYMin meet" viewBox="0 0 239 258" id="svg10474"><path fill="#664f45" d="M193.06 81.2zM37.28 195.15zm-11.98-8.72zm0 0zm-6.36-10.03zm-.64-1.62zm8.1 12.84l.03.02z"/><path d="M238.55 174.7c-.07-.43-.16-.84-.26-1.2l-.3-.75c-.2-.56-.4-1.1-.7-1.63-.6-1.08-1.3-2.08-2.2-2.9-.9-.8-1.9-1.4-2.9-1.78l-.1-.02c-1.1-.4-2.1-.57-3-.63-.3-.1-.5-.1-.8-.1.5-5-1.4-8.6-2.5-10.2l.2-.2c1.1-1.4 2-2.6 2.7-3.8l.1-.3c.5-1.1.9-2.2 1.1-3.2.1-.9.2-1.6.2-2.3v-.7l-.1-.4c0-.3-.1-.6-.1-.9-.3-1.5-.8-3.5-2.1-5.5-.6-1-1.4-2-2.4-2.9-1.1-.9-2.3-1.7-3.7-2.3l-.3-.1c-3.2-3.7-6.7-6.4-9.7-8.4-1.6-1.1-3-1.9-4.3-2.6-1.2-.7-2.3-1.2-2.8-1.6-1.3-.8-2.3-1.2-2.8-1.4-1.1-.5-1.9-.9-2.4-1.2-.4-.2-.6-.4-.7-.4l-.1-.1-.1-.3c-.1-.3-.2-.7-.3-1.4-.2-1-.4-2.5-.5-4.5l-.8-13.8c-.1-1.9-.3-3.8-.6-5.4-.4-2.7-1.1-5.2-2-7.3l-.6-1.5-.4-.8c-.1-.3-.3-.7-.5-1l-.4-.6c-.3-.4-.6-.9-1-1.4l-.1-.2-.2-.3-.1-.2c-.7-.9-1.4-1.6-2.1-2.3-.5-1.4-1.3-3.3-2.4-5.6-1-2-2.4-4.1-4.2-6.2-.6-.7-1.3-1.4-2-2.1l.2-.3c.3-.4 6.5-8.7 10.9-19.2 8.2-19.5 3.3-30.1-2.2-35.6L189 7l-.14-.2c-5-4-11.6-6.3-19.4-6.3-16.2 0-33.3 10.1-37.8 12.9L122 5c-.9-.7-1.8-1.4-2.8-1.9-1-.6-2.04-1-3.13-1.4-2.1-.7-4.5-1-6.9-1-4.9 0-10.2 1.23-15.9 3.5C85 7.8 75.6 13.4 66 20.9c-9.6 7.5-19.4 16.9-28.7 27.78C26 62 16.93 75.7 10.73 88.4c-3.12 6.3-5.55 12.4-7.2 18.1-1.7 5.7-2.6 11-2.6 15.8 0 3.5.47 6.76 1.54 9.67.46 1.28 1.05 2.5 1.75 3.6.9 1.46 2 2.77 3.3 3.88v.03l10.2 8.32 1.1.93-.1.1-.3.62c-.1.3-.3.6-.4.9l-.2.64-.3.9-.2.6-.3.9-.2.6-.2 1-.2.6-.2 1-.1.3-.1.3c-.1.3-.1.7-.2 1l-.1.6v.5l-.07.7v3.3l.1 1.3.1.6v.5l.1 1 .07.6.1.4v.1l.1.6.1.7.1.5.1.4.2.6.2.8.1.3.2.7.2.7.1.3.1.4v.1l.1.2.25.8.1.2.2.5.1.2.1.3.03.2.1.2.04.2.04.2.1.2.2.4.33.7v-.1l.1.2.3.5.4.7.1.2.2.5.1.1.2.3.3.4.1.1.2.4.2.3.4.7.1.1.2.3.3.3.4.6h.1l.1.1.2.3.3.4h.1l.4.5h.1l.3.3.3.4.5.5h.1-.1l.3.3.4.4.4.5.3.4.4.4.4.3.1.1h.1l.6.5.2.2.4.3h.1l.6.5.3.2.4.3.1.1.8.5v.1l.1.1.4.3 1 .7.2.1.1.1.2.1.8.5h.1l.3.2h.1l.2.1.7.4.2.1.3.1h.1l.8.34.4.2.2.1h.2l1.1.4.2.1c.5.2.9.3 1.4.5h.3l.7.2.3.1.4.1.1.1h.1l.7.2h.1l.7.2h.1l.2.1.3.1h.1l1.1.2h.1l1.55.3h.1l1.3.2h.3l1.3.1h1l.1.3c.9 1.8 1.9 3.6 3 5.4 16.16 31.8 52.6 53.5 91.1 53.5 38.5 0 75.86-30.2 88.1-66.3.56-1.4 1.06-2.8 1.5-4.1 1.5-1.9 2.5-3.8 3.1-5.7.8-2.3.8-4.7.5-6.5z" fill="none" stroke="#666" stroke-width="2" stroke-linecap="round"/><path d="M232.54 176.16s.02-1.58-.97-2.86l-.02-.03-.18-.22-.06-.07-.3-.3c-.2-.2-.5-.37-.8-.5-.1-.1-.3-.16-.5-.22-.5-.16-1-.26-1.7-.27-.5-.1-1 0-1.6.1l-.7.1h-.1l.1.1.2.4.1.2.4 1.2v.4c-.2.7-.8 2.4-2.4 4.7-.2.4-.5.8-.9 1.2-4.4 5.8-14.5 14.7-37.1 21.8-7.7 2-14.9 3-21.2 3-9.3 0-16.5-2.1-20.1-5.6-.4-.3-.7-.6-.9-1l-.6-.7-.2-.3c-1.7-2.3-2.6-4.8-2.9-7.4-.4-3.1.2-6.2 1.6-8.7 1.1-2 2.7-3.7 4.7-4.6.9-.5 2-.7 3.2-.8h4.5c4.4 0 11.4-.2 19.7-1.8 15.1-2.8 34.5-10.1 50.7-28.8v-.1c-.1-1.4-.6-3.8-2.6-5.5-.3-.3-.7-.6-1.1-.9l-.8-.4c-.3-.1-.5-.2-.8-.4l-.9-.5v-.1l-.4-.5c-5.6-6.5-12.6-9.9-15.4-11.5-1.3-.7-2.1-1-2.1-1-6-2.7-7-3.7-7.6-13.1-.3-3.4-.4-7.8-.8-13.8-.1-.8-.1-1.5-.2-2.2l-.1-.5-.3-2v-.4l-.3-1.4-.1-.7c-.1-.5-.2-1-.4-1.5l-.2-.7-.2-.8-.3-.7-.3-.9-.1-.3-.1-.3-.1-.1-.1-.3-.3-.6-.1-.1-.1-.2-.1-.2c-.2-.4-.4-.7-.7-1.1l-.2-.2-.8-.9-.1-.1-.1-.2-.5-.6-.2-.2-.7-.7-.1-.1V79h-.1l-.5-1.4-.2-.4-.2-.5c-.1-.4-.3-.8-.5-1.2l-.2-.4c-.1-.3-.3-.6-.4-.9l-.3-.5c-.2-.3-.3-.6-.5-.9l-.3-.6-.6-.9-.4-.6-.6-.85-.4-.5c-.2-.3-.5-.6-.7-.9l-.4-.44-.4-.4c-.3-.3-.6-.6-.9-.8h-.1l-.2-.1c-.4-.3-.8-.6-1.3-.9h-.1c-.2-.1-.4-.3-.6-.4l-.5-.3h-.1c-.2-.1-.5-.2-1-.4l-.5-.2c-.9-.2-2.1-.5-3.6-.7h-.3c-1.2-.2-2.6-.3-4-.3h-3c-1.1 0-2.2.1-3.3.2h-.1c-1.4.2-2.8.5-4.1 1 .3-.6 1.1-1.3 1.9-1.9 1-.8 2-1.3 2-1.3-.6.1-1.2.3-1.9.5l-.6.2-.4.1-.2.1-.3.1c-3.1 1.1-6 2.6-7.6 3.5l-.6.4-.1.1-.5.2c1-2.5 2.7-3.9 4-4.8l.7-.4.2-.1.5-.2.5-.2-.4.1-.4.1-.6.1-.4.1c-3.4.8-6.4 2.4-8.9 4.2-1.7 1.3-3.2 2.6-4.4 3.9l-1.1.4c-3.8 1.2-8 2.8-12.5 4.8-1.6.7-3.3 1.5-4.9 2.3l-3.9 2.1c-1 .5-1.9 1.1-2.8 1.6-6.7 4-13.1 9.1-18.2 15.4l-.5.7-1.4 1.6-.5.7-.6.9c-.9 1.4-1.8 2.9-2.6 4.4-.6 1.1-1.2 2.3-1.7 3.4l-.1.2c-1.1 2.5-1.9 5.1-2.6 7.9-.3 1.4-.6 2.8-.8 4.3l-.1 1.2-.1.2c-.2 1.6-.3 3.3-.3 5l-.1 1c0 .9 0 1.7.1 2.6 0 .8.1 1.6.1 2.4v.2l.1 1.1c0 .5.1.9.2 1.4v.3c.1.9.3 1.8.4 2.7v.2l.6 2.8.3 1.2.1.3.1.7c.3 1.05.5 2.1.8 3.17l.3.9c.3.97.5 1.9.9 2.8 0 0-.3-1.2-.4-3V146c0-1.1.1-2.25.3-3.5l.2-.9.2-.4c.2-.6.4-1.2.6-1.74l.4 1.1.1.1v.2l.1.77.2 1.96c.1.7.2 1.5.4 2.3.5 3.4 1.3 7.5 2.5 11 0 0-.7-6.5.3-7.4 0 0 3.4 11.7 5.7 16 .4.5.6 1 .9 1.2l-.2-1.2-1.1-6.6v-.7c1.7 2.5 3.5 5.1 5.6 7.8.6.7 1.2 1.5 1.8 2.2-3 3.3-5.5 7.8-7.1 12.9l-.6 2.5-.3 1.5v.4l-.2 1.1v.5c-.1.4-.1.7-.1 1.1l-.03.5c0 .5-.1 1-.1 1.5v3.8l.1 1.2v.5c.1.5.1 1.1.2 1.6l.2 1.3.2 1.3.1.2v.1c.1.5.3 1.1.4 1.6l.2.5.3 1.1.2.6.3 1 .2.6c.1.3.2.6.34.9l.3.7.4 1 .3.6.5 1 .3.6.5 1.1.3.5c.6 1 1.2 2.1 1.9 3.1l.3.4.8 1.1.4.5.8 1 .5.6.8.9.6.6.9.9.6.6.9.9.6.6c.4.3.7.7 1.1 1l.5.5 1.8 1.4s-.4-.4-.9-1.1l-.3-.5v-.1l-.3-.6-.1-.1-.4-.7c-1-1.8-2.1-4.3-2.4-7.2l1.1 1.2c.4.7 1 1.5 1.6 2.5l.7.9c.9 1.3 2 2.8 3.2 4.3 1.4 1.7 2.98 3.5 4.5 5 0-.1-2-3.1-2.8-5.1-.3-.6-.4-1.1-.3-1.4l.4.3.4.3 1 1.1.2.2.7.6h.1l.8.8c2.5 2.5 5.83 5.7 8.14 7.4.8.5 1.4.9 1.9 1.1l-3.7-5c7.4 4.6 36.1 8.2 62.5-3 3.2-1.4 6.3-2.9 9.4-4.8 1.9-1.1 3.7-2.3 5.5-3.6l.3-.2c1.3-.9 2.5-1.8 3.7-2.8.9-.7 1.9-1.5 2.7-2.3 1.5-1.4 3-2.8 4.4-4.3l.3-.3c1.4-1.6 2.7-3.2 3.9-4.8 1.5-2.1 2.9-4.3 4.1-6.4l.1-.2.9-1.6.1-.1.28-.5 1.2-2.2.2-.5.56-1.1.4-.9.4-.9c.2-.5.5-1.1.7-1.7l.2-.6.5-1.3.2-.6.1-.2.6-1.6v-.1c.8-1 1.4-1.8 1.8-2.7l.2-.4c1-2 1.2-3.6 1.1-5zm-166.04.54l-.1-.36h.02c-.54-1.74-1-3.52-1.4-5.35l-.1-.4c-.3.1-.6.6-.86 1.1l-.3.7c-.7 1.8-1.25 4.3-1.25 4.3V174c0-.86 0-1.74.1-2.62v-.3l.1-2.9.1-.37v-.3l.1-.4.2-2.1.2-1.7v-.7l.1-.4v-.3l.1-.5v-.1l.1-.4.1-.5.1-.2v-.2l.1-.4v-.4l-.1.2-.5.5-.1.2-.4.8v.1c-.2.3-.3.6-.5 1v.1l-.1.2-.2.6v.3l-.3 1c-.2.9-.4 1.7-.5 2.4l-.1.7-.1.9v.1-5.8l.1-.7v-1l.1-1 .1-.7v-.1l.2-1.5v-.4l.1-.3c.1-.8.3-1.6.5-2.4v-.1c.2-.6.3-1.3.5-2l.3-.9.4-1.3v-.1l.3-.7v-.1l.1-.4.2-.7.1-.2 1.3-3.4.1-.4v-.1l.1-.2.5-1.1.6-1.5 1-2.3.2-.5v-.1c0-.1-.6-.4-1.6-.8-1-.5-2.6-1.1-4.4-1.7-.6-.2-1.2-.4-1.9-.6l-2.4-.6-.7-.1c-.7-.2-1.4-.3-2.1-.4l-1.5-.2-1.2-.1h-2c-.5 0-1 0-1.6.1-.2 0-.5 0-.8.1-1.1.1-2.3.4-3.4.7H44c-2 .6-3.9 1.3-5.7 2.3-.6.3-1.2.6-1.8 1l-.5.3-.6.4c-1.7 1.2-3.3 2.5-4.73 4-1.2 1.3-2.3 2.8-3.3 4.3l-.8 1.3c-.3.5-.6 1.1-.8 1.6-.5 1.1-.94 2.1-1.33 3.2l-.4 1.2-.03.2c-.7 2.5-1.2 5.2-1.2 8v1.8l.1 1.3c.1.5.1 1.1.2 1.6l.1.2.2 1.3.1.2v.3l.2 1v.1l.1.5.2.8.2.7.3.7.2.6.1.1v.4l.1.2.3.6.3.6.3.7.1.2.2.4.3.7.4.6.2.3.2.4.3.5.5.7.4.5.5.6.4.5.5.6.4.4.6.7.4.35.7.6.4.3.7.6.3.3.7.6.3.2.8.6.3.2.9.6.3.2.9.5.3.2 1 .5.2.1 1.1.5.2.1 1.1.4.2.1c.4.1.7.3 1.1.4l.2.1 1.2.4.1.07 1.2.3h.1l1.3.3h.1l.6.1.7.1h.1c.5.1.9.1 1.4.2l1.4.1c1.4 0 2.9 0 4.3-.2l1.1-.1 1.4-.3c.6-.2 1.3-.3 1.9-.5l1.7-.6c.9-.3 1.8-.6 2.6-1 2.6-1.1 4.7-2.4 6-3.6 0 0-1.4-3.9-2.7-7.86l-.4-1.3z" fill="none" stroke="#666" stroke-width="2" stroke-linecap="round"/><path d="M64.92 170.62c-.3.13-.6.57-.86 1.17-.1.2-.2.4-.3.7-.7 1.8-1.25 4.3-1.25 4.3V174c0-.86 0-1.74.1-2.6v-.3l.1-2.9.1-.38v-.4l.1-.5.2-2.16.2-1.76v-.68l.1-.4v-.42l.1-.6v-.1l.1-.47.1-.53.1-.26v-.2l.1-.44v-.33l-.1.2c-.2.12-.3.3-.5.5l-.1.2-.4.7v.1c-.2.3-.3.64-.5.97v.2l-.1.24-.2.6v.23l-.3 1c-.2.9-.4 1.7-.5 2.4l-.1.7-.1 1v.2-5.8l.1-.7v-.9l.1-1v-.1l.1-.7v-.1l.2-1.5v-.3l.1-.3c.1-.8.3-1.6.5-2.4v-.1c.2-.7.3-1.4.5-2v-.1l.3-.8v-.1l.4-1.3v-.1l.3-.7v-.1l.1-.4.2-.7.1-.2-.5-.2-.1-.1H63c-1-.3-2-.6-3.1-.7H59c-.68 0-1.38-.1-2.08-.1-.4 0-.83 0-1.24.1l-1.02.1-1.5.3-.45.1-.7.2-.3.1-.5.2-.9.4-.4.2c-.4.2-.8.4-1.2.7l-.4.3-.5.4-.2.1-.5.5-.5.4-.6.6-.3.3c-.3.3-.6.7-.9 1l-.4.5-.7 1-.1.2-.3.6v.1l-.2.3v.1c-.4.8-.8 1.6-1.1 2.5l-.1.3c-.1.4-.3.8-.4 1.3l-.1.5c-.1.5-.1.9-.2 1.4v.4c0 .3-.1.6-.1 1v1.5c.1.5.1 1 .2 1.6v1.2l.1.2.2.6c.2.8.5 1.5.8 2.3.3.6.5 1.1.8 1.6.6.9 1.2 1.8 1.9 2.6 1.5 1.6 3.3 3 5.3 4 1.2.5 2.4.9 3.7 1.2 1.2.3 2.5.4 3.8.4h.9c.4 0 .9 0 1.3-.1l1.2-.2.7-.1c.6-.1 1.2-.3 1.7-.5l.1-.1.7-.3c.7-.3 1.3-.7 2-1l.1-.1.5-.3c-.5-1.8-1-3.5-1.4-5.4l-.1-.4z" fill="none" stroke="#666" stroke-width="2" stroke-linecap="round"/><path fill="none" d="M25.3 186.44l.02.02h-.02v-.03z"/><path d="M142.44 103.04c-.78-.3-1.6-.5-2.44-.6-.54-.05-1.1-.08-1.63-.08l-.6.02c-2.73.1-5.02.85-5.02.85-.5.18-.95.37-1.4.57-3.54 1.57-5.87 3.8-7.38 6.24-1.23 1.97-1.93 4.07-2.3 6.06l-.07.52c-.08.5-.15 1-.2 1.5-.13 1.66-.08 3.16.03 4.34.15 1.6.4 2.63.4 2.63.47-1.5.98-2.9 1.52-4.2 1.35-3.2 2.9-5.9 4.55-8 3.18-4.3 6.67-6.7 9.43-8.1 2.98-1.5 5.1-1.9 5.1-1.9zm43.3-10.7l-.13-.15c-.4-.5-1-.9-1.6-1.3-1.5-.8-3.5-1.1-6.1-.2 0 0-3.1 1.1-4.7 3.4 0 0 5.3-3.1 11.6.4.6.3 1.2.7 1.8 1.1.6.4 1.2.9 1.9 1.5 0 0-.5-2.6-2.2-4.6l-.3-.4zm-51.42 36.83l.58-.56.28-.2.6-.5.36-.2.6-.4.46-.3.64-.4.54-.2.68-.3.6-.2.72-.3.7-.2.68-.2h.14c.33-.1.65-.1.98-.2l.3-.1.64-.1h2.08c.4 0 .8 0 1.2.1h.2l1.1.2h.2l1 .2h.1l.9.3c.4.1.7.3 1 .4.3.2.6.3.9.5-.5-1.9-2-5.9-6.3-6.8-.6-.2-1.3-.2-2-.2h-.5c-.7 0-1.3.1-2.1.3-8.1 1.7-8.5 8.5-8.4 10.8l.6-.7.2-.1z" fill="none" stroke="#666" stroke-width="2" stroke-linecap="round"/><path d="M141.76 124.84l-.68.23.68-.23.14-.04-.14.04z" fill="none" stroke="#666" stroke-width="2" stroke-linecap="round"/><path d="M143.5 146.76l1-.7.45-.3 1.03-.67.5-.4 1.05-.7.56-.4 1-.6.6-.4 1-.6.7-.4 1-.6c.2-.2.5-.3.8-.4.3-.2.6-.4 1-.6l.9-.5 1-.5 1-.5.9-.5 1.1-.5.9-.4 1.2-.5.6-.3c1.1-4.4 4.8-15.4 13.1-17.6.9-.3 1.7-.4 2.5-.5l.6-.1c-.2-.6-.4-1.2-.5-1.9-.9-4.5.1-8.4 2-8.7 1.5-.3 3 1.7 3.3 2.5.7 1.3 1.3 3 1.7 4.9.3 1.7.3 3.4.2 4.8.2.1.3.3.5.5 2.2 2.1 3 5.4 3.2 7.8l2.2-.5.6-.1.1-.1.3-.1 2.9-.6h.1c2.2-.4 4.5-.8 6.8-1.2-1.3-.7-2.2-1.1-2.2-1.1-6-2.7-7-3.7-7.6-13.1-.3-3.3-.5-7.8-.8-13.8-.1-.8-.1-1.5-.2-2.2l-.1-.5-.3-2-.1-.1-.1-.2-.3-1.4-.2-.7c-.1-.5-.3-1-.4-1.5l-.2-.7-.3-.8-.3-.7c-1-1.1-2-2.1-3.3-2.8l-.3-.2-.2-.1h-.1l-.5-.3-.6-.3c-1.7-.8-3.7-1.2-5.7-1.3-1.1 0-2.2.1-3.4.3l-1.6.3c-1.5.3-2.9.8-4.3 1.5l-1.3 1.2-1 1.1-.2.2-1.2 1-.2.1-1.3.9-.2.2-1.3.9-.2.2-1.3.8-.2.1c-.5.2-1 .5-1.5.7h-.2c-.6.2-1.1.4-1.6.5-1 .2-1.9.4-2.8.5-1.6.2-3.1.3-4.7.2l-1.6-.1h-.6c-1.4-.1-2.8-.2-4.2-.4l-1.8-.2-2.9-.3h-.6l-2.4.6h-.2c-2.2.6-4.5 1.5-6.7 2.5l-.3.2c-.4.2-.7.4-1 .5-.5.2-.9.5-1.4.8-3.1 1.9-6.1 4.3-8.8 7.2-1.1 1.2-2.1 2.4-3 3.7-1.4 1.9-2.6 4-3.7 6l-.2.4c-.5 1.2-1 2.3-1.4 3.5l-.5 1.3v.1c-.5 1.3-.8 2.7-1.1 4l-.1.3-.1.6c-.2.6-.3 1.2-.3 1.8-.1.7-.2 1.3-.2 2l-.1.4v1.2c-.1 1.4 0 2.9.1 4.3l.1 1.1c.9 2.2 2.1 4.2 3.5 6 5.1 6.7 12.5 10.2 17.8 11.9 2 .6 4.2 1.1 6.4 1.5v.1l.1-.1.8-.7.2-.3.8-.7.3-.3.8-.7.3-.3.9-.7.3-.3.9-.8.3-.2.9-.8.4-.3 1-.7.4-.3zm34.3-55.96c2.6-.88 4.6-.62 6.12.16.64.33 1.2.76 1.68 1.23l.14.1.33.3c1.72 2 2.27 4.5 2.27 4.5-.62-.6-1.24-1.1-1.85-1.5-.6-.5-1.2-.8-1.8-1.1-6.4-3.5-11.6-.4-11.6-.4 1.6-2.3 4.7-3.5 4.7-3.5zm-49.92 22.14c-1.64 2.16-3.2 4.8-4.54 8-.54 1.3-1.06 2.66-1.52 4.14 0 0-.26-1.02-.4-2.63-.12-1.18-.17-2.68-.03-4.33 0-.5.1-1 .2-1.5v-.53c.3-2 1-4.1 2.3-6.1 1.5-2.5 3.8-4.7 7.3-6.3l1.4-.6s2.3-.8 5-.9h.6c.5 0 1.1 0 1.6.1.8.1 1.6.2 2.4.6 0 0-2.1.3-5.1 1.8-2.8 1.4-6.3 3.8-9.5 8.1zm4.55 20.3c-.22.1-.4.1-.5.02-.35-.16.15-1.55 1.55-3.2-.1-2.27.32-9.06 8.38-10.76.7-.15 1.38-.24 2-.27h.02l.53-.02c.8 0 1.4.1 2 .3 4.3 1 5.8 5 6.3 6.8 1.4.8 2.1 1.6 1.9 1.8 0 .2-.3.3-.6.3-.3.2-1.1.4-2.1.5-2 .3-5.2.4-8.7 1.4l-.7.2c-5.2 1.4-9.1 3.6-9.9 3.2z" fill="none" stroke="#666" stroke-width="2" stroke-linecap="round"/><path d="M145.86 124.3h-.22.3-.08zm40.9 1.92s-.06-.26-.2-.63c-.54-1.5-2.4-4.7-8-3.5-5.84 1.3-7.23 6.3-7.54 8l-.08.6.18.1c.67-.8 2.1-.9 3.5-.2.65.3 1.18.7 1.57 1.2.5.7.8 1.5.5 2.1l-.3.4.6.1c1.7.2 6.4.6 8.4-2.9l.3-.5c-.6-.2-.9-.9-1-1.7-.1-.4-.1-.9 0-1.3.2-1.4 1-2.3 1.8-2zM63.2 158.8l-.44.5-.14.22c-.16.22-.3.46-.45.7l-.07.13c-.17.3-.32.63-.46.96l-.02.1-.06.2-.1.3-.23.6v.1l-.03.1-.03.1-.3 1c-.24.9-.4 1.7-.54 2.4l-.1.7-.13 1-.02.2v-.1l-.03-.7c-.03-.6-.06-1.1-.07-1.6 0-.4 0-.9.02-1.3v-.4l.02-.6.04-.6v-.3l.06-.7.02-.2v-.2l.03-.3.03-.3.1-1h.02l.08-.8.02-.1c.06-.5.15-1 .23-1.5l.02-.1.02-.2v-.3c.1-.8.3-1.6.4-2.4v-.1c.1-.7.3-1.4.4-2v-.1l.2-.9v-.1l.3-1.3v-.1l.2-.7v-.1l.1-.4.2-.7.1-.2-.5-.2H62v-.1c-1-.3-2.07-.6-3.14-.7h-.16c-.62-.1-1.32-.1-2.02-.1-.4 0-.83 0-1.24.1l-1 .1-1.5.3-.5.1-.7.3-.3.1-.5.2-.93.4-.4.2c-.4.2-.8.5-1.2.7l-.4.3-.5.4-.2.2-.6.5-.5.5-.6.6-.3.4c-.3.3-.6.7-.9 1l-.4.6-.7 1-.1.2-.3.6v.1l-.2.4v.1c-.4.8-.8 1.7-1.1 2.5l-.1.4c-.1.4-.3.9-.4 1.3l-.1.5.2.3c.2.4.3.7.5 1.1v.1l.1.1.5 1c.6 1 1.1 1.8 1.6 2.6l.3.3.1.1.1.1c.4.6.8 1 1.2 1.4.6.7 1.1 1.2 1.4 1.5l.2.2.1.1.2.2-.1-.5c-.4-1.2-.7-2.5-.9-3.7v-.3c-.1-.8-.2-1.6-.2-2.3l.3.9.6 1.2.1.2v.1c.8 1.7 1.7 3 2.6 4.1 1 1.3 1.9 2.2 2.4 2.7l.3.3.2.2c-.5-1.3-.8-2.7-1-4l-.2-1.3c-.1-.6-.1-1.1-.1-1.7.3.9.7 1.7 1.1 2.5v.1c1.5 2.8 3.1 4.8 4.2 5.9l.1.1.5.5.3.3.3.2.1.1v-.2l-.2-.6c-.2-.7-.3-1.3-.5-2-.1-.4-.2-.9-.2-1.3L57 170v-3.38c.1.4.3.7.4 1l.4.7.1.1v.1l.1.14c.1.3.3.5.4.8l.9 1.4 1 1.4.5.7.6.8c.2.2.3.4.5.6l.1.16.4.44.3.2.4.4.1.1h.2V172l.1-2.9.1-.36v-.1l.07-.34v-.5l.2-2.16.2-1.8.03-.2v-1l.1-.35.1-.6v-1.5l.07-.2.04-.5v-.4l-.1.2zm115.18-40.13c3.05-.3 5.23.4 6.78 1.63.17-1.4.13-3.04-.2-4.8-.34-1.9-.96-3.58-1.7-4.87-.3-.75-1.8-2.82-3.3-2.5-1.94.36-2.85 4.24-2.03 8.68.12.7.27 1.3.45 1.9z" fill="none" stroke="#666" stroke-width="2" stroke-linecap="round"/><path d="M184.95 129.55c.1.85.47 1.52.98 1.7.77.3 1.58-.62 1.82-2l.04-.37c.1-1.25-.3-2.4-1-2.64-.8-.28-1.6.63-1.9 2.02-.1.44-.1.9-.1 1.3zm-13.55 3.88c.4.48.93.93 1.6 1.25 1.42.67 2.9.56 3.55-.2.1-.12.18-.24.23-.38.28-.66.04-1.48-.56-2.2-.4-.45-.9-.87-1.56-1.17-1.4-.66-2.84-.56-3.5.17-.12.12-.22.25-.28.4-.26.65-.04 1.43.5 2.12h.02zm14.4-120.3c-2.07-1.83-4.38-3.12-6.82-3.98-.45-.1-.9-.22-1.35-.3l-.7-.32c-2.14-.54-4.36-.8-6.62-.82-11.1-.1-23.2 5.4-30.1 9.1l-1.1.7-1.7 1-3 1.8-.4.3-2.2-2-1-.9-.9-.8-.4-.3-8.5-7.8-.7-.7-.9-.8-.1.1-2 .8-2.3.8c-1.4-.4-3-.7-4.9-.7-3.8-.1-8.4.9-13.5 2.9-5.2 2-10.8 5-16.8 8.9-11.9 7.8-24.9 19.2-37 33.2-4.2 4.9-8.1 9.8-11.6 14.8-3.4 4.7-6.5 9.5-9.2 14.1-5.6 9.4-9.6 18.4-11.9 26.2-1.5 5.3-2.3 10-2.3 14 0 2.8.4 5.3 1.1 7.3.3.6.5 1.2.8 1.8.7 1.1 1.4 2.1 2.3 2.9l9.3 7.6 1 .8v-.1l.7-.9.1-.1.2-.3.6-.8.4-.5.4-.5.2-.2.4-.5.7-.7.4-.4.8-.7.4-.4.8-.7.5-.4.8-.6.5-.4.8-.6.4-.3.2-.2.8-.5.4-.2.7-.4.6-.3.2-.1 1.5-.8.5-.2.6-.2.2-.1.3-.2.7-.2h.1l.8-.3.7-.2.9-.3.4-.1.4-.1.9-.2.8-.2.6-.2h.3l.3-.1h.1c1-.1 2.2-.3 3.5-.3h.2c1.3-.1 2.7 0 4.1.1l1.1.1.2-.4c.6-1.5 1.2-2.9 1.9-4.3 3.7-8.2 7.8-15.5 12.1-21.9 1.5-2.2 3-4.3 4.5-6.3 6.3-8.3 12.9-15 18.9-20.3 1.4-1.2 2.7-2.3 4-3.3 1.8-1.4 3.5-2.7 5.1-3.9 1.3-.9 2.6-1.8 3.8-2.6 2-1.4 3.9-2.5 5.5-3.4.5-.3 1-.6 1.5-.8.7-.4 1.4-.8 2-1.1H111l-1.6.2h-.4l-1.7.3c-1.06.2-2.1.4-3.2.8l-1.1.3c2.6-1.7 5.15-3.1 7.7-4.2 1.7-.7 3.3-1.4 4.9-1.9 2.2-.7 4.3-1.2 6.24-1.5 1.3-.2 2.56-.4 3.7-.5 1.16-.1 2.2-.2 3.2-.2 3.35-.1 5.4.1 5.4.1-.54-.6-1.2-1.1-1.9-1.5-1.3-.8-2.7-1.2-4-1.6l-1.4-.3-.8-.1 1.6-.4 1.7-.4c4.7-1 9-1.1 12.2-.9 3.9.2 6.3.9 6.3.9-.7-1-1.6-1.8-2.6-2.5-.7-.5-1.46-.9-2.15-1.2 1.3.1 2.5.3 3.7.5 3.2.6 5.9 1.3 8 2.1l1.9.7.5.2c2 .8 3.1 1.4 3.1 1.4-.4-1.1-1.2-2-2-2.9l-.6-.6h.1l.4.1.6.1c.9.2 2.2.6 3.7 1.1l.2.1.7.3 1.6.7 1.6.7.8.4 1.8 1.1c.6.4 1.2.9 1.8 1.3l.4.3c.4.4.9.7 1.3 1.1.8.8 1.5 1.6 2.2 2.5.8 1.1 1.5 2.3 2.1 3.6l.1.2 1.4-1.9c5.1-7.6 20.1-32 7.9-44.4z" fill="none" stroke="#666" stroke-width="2" stroke-linecap="round"/><path d="M113.32 17.83l-.82-4.04L114 9l.8-.28c-1.42-.47-3.06-.72-4.92-.73-3.74-.1-8.36.9-13.52 2.9-5.17 2-10.86 5-16.82 8.9C67.62 27.6 54.68 39 42.58 52.9c-4.23 4.9-8.12 9.8-11.65 14.72-3.43 4.74-6.53 9.5-9.26 14.1-5.55 9.4-9.6 18.4-11.92 26.24-1.55 5.3-2.35 10-2.35 14-.1 2.86.3 5.34 1 7.34.24.66.5 1.24.8 1.8.65 1.16 1.4 2.14 2.3 2.93l9.25 7.6 1 .8.04-.1.6-.94.1-.1.2-.3.6-.9.4-.6.4-.5.2-.2.4-.5.6-.7.4-.5h.1l.7-.7.4-.4.8-.7.5-.4.8-.7.4-.4.8-.7.4-.3.1-.1c1.3-5.7 3.5-11.9 6.6-18.5 3.8-8.1 8.8-16.8 15-25.5 3.9-5.5 8.2-11 12.9-16.5 6.1-7 12.5-13.4 18.8-19.1 4.2-3.8 8.5-7.3 12.7-10.4l1.2-.9c1.1-.8 2.2-1.5 3.3-2.3 2.4-1.6 4.8-3.1 7.1-4.5l-1.4-1.3-.2-.2-1.7-1.6-9.7-9.2-.8-7.3-.1-.1 5.7-2.5 12.4 4.6z" fill="none" stroke="#666" stroke-width="2" stroke-linecap="round"/><path fill="#4f9dd6" d="M116.03 18.83l.32.12v-.04z"/><path d="M119.32 7.15l-5.3 1.9 2.32 9.86-15.43-5.6-5.7 2.5.1.1L115.4 34l.18-.12.2-.16 1.54-1.25.55-.45c.74-.6 1.5-1.15 2.24-1.7l-8.5-7.7 12.9 4.5.1-.06 1-.73-2.1-8.52 6.3 5.8h.1l1.3-.8.2-.1.2-.1.2-.1.6-.3.1-.1 1.8-1.1-15-13.8z" fill="none" stroke="#666" stroke-width="2" stroke-linecap="round"/><path d="M114.08 9.35l-.07-.3.1.3z" fill="none" stroke="#666" stroke-width="2" stroke-linecap="round"/><path fill="#132034" d="M116.34 18.9L114 9.05l-1.5 4.75.82 4.03zm-4.9 3.55l12.86 4.5-4.32 3.2zm11.78-4.8l2.15 8.54 4.12-2.9z"/><path d="M168.8 9c.75-.13 1.48-.22 2.2-.3 2.06-.2 4-.18 5.88.06l.3.03h.45l-.7-.4c-2.14-.6-4.36-.8-6.62-.8-11.1-.1-23.2 5.4-30.1 9.1l-1.1.6-1.7 1-3 1.8-.4.3-1.8 1.1h-.1l-.5.3-.2.1-.2.1h-.1l-1.3.9h-.1l-.3.2-.2.1c-.6.4-1.3.9-2 1.3l-1.4.9v.1l-1 .7c-1.1.8-2.2 1.6-3.3 2.5l-.3.2-.3.2-.2.2-.1.1-2.3 1.7-.5.4-1.6 1.3-.2.2-.2.1c-1.4 1.1-2.8 2.3-4.2 3.5-2.3 2-4.5 4-6.8 6.1l-.8.8c-6.2 5.9-11.7 11.8-17 17.9-5.5 6.5-10.8 13-15.7 19.6-2.7 3.4-5 6.4-6.8 9-3.7 5.1-5.7 8.2-5.6 8.2.1.1.4-.3 1-1.1l-1.4 2.1C66.6 88.4 75.8 77 85.7 66.1c6.1-6.6 12.4-13 19-19.1 2.9-2.6 5.8-5.2 8.9-7.7 1-.8 2-1.6 2.9-2.3l1.5-1.1.9-.7 1.6-1.2c.5-.4 1.1-.8 1.6-1.2l.8-.6 2-1.4 1.2-.9c1.3-.9 2.5-1.8 3.8-2.6l.3-.2.6-.4.8-.5.3-.2.1-.1.6-.4.1-.05h.1l1.6-1.1.3-.2.6-.3 1.9-1.2.5-.3.28-.2.56-.3 2.2-1.3c.6-.4 1.3-.8 1.9-1.1 3.7-2.1 7.1-3.9 10.36-5.4 6.2-2.9 11.6-4.7 16.5-5.4z" fill="none" stroke="#666" stroke-width="2" stroke-linecap="round"/></svg>
										</div>
										<div class="Design-mailchimp">
											<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMaxYMax meet" viewBox="0 0 239 258" id="svg10474"><path id="polygon10488" fill="#664f45" d="M25.4 186.62l.03.02z"/><path d="M237.55 173.7c-.07-.43-.16-.84-.26-1.2l-.3-.75c-.2-.56-.4-1.1-.7-1.63-.6-1.08-1.3-2.08-2.2-2.9-.9-.8-1.9-1.4-2.9-1.78l-.1-.02c-1.1-.4-2.1-.57-3-.63-.3-.1-.5-.1-.8-.1.5-5-1.4-8.6-2.5-10.2l.2-.2c1.1-1.4 2-2.6 2.7-3.8l.1-.3c.5-1.1.9-2.2 1.1-3.2.1-.9.2-1.6.2-2.3v-.7l-.1-.4c0-.3-.1-.6-.1-.9-.3-1.5-.8-3.5-2.1-5.5-.6-1-1.4-2-2.4-2.9-1.1-.9-2.3-1.7-3.7-2.3l-.3-.1c-3.2-3.7-6.7-6.4-9.7-8.4-1.6-1.1-3-1.9-4.3-2.6-1.2-.7-2.3-1.2-2.8-1.6-1.3-.8-2.3-1.2-2.8-1.4-1.1-.5-1.9-.9-2.4-1.2-.4-.2-.6-.4-.7-.4l-.1-.1-.1-.3c-.1-.3-.2-.7-.3-1.4-.2-1-.4-2.5-.5-4.5l-.8-13.8c-.1-1.9-.3-3.8-.6-5.4-.4-2.7-1.1-5.2-2-7.3l-.6-1.5-.4-.8c-.1-.3-.3-.7-.5-1l-.4-.6c-.3-.4-.6-.9-1-1.4l-.1-.2-.2-.3-.1-.2c-.7-.9-1.4-1.6-2.1-2.3-.5-1.4-1.3-3.3-2.4-5.6-1-2-2.4-4.1-4.2-6.2-.6-.7-1.3-1.4-2-2.1l.2-.3c.3-.4 6.5-8.7 10.9-19.2 8.2-19.5 3.3-30.1-2.2-35.6L188 6l-.14-.2c-5-4-11.6-6.3-19.4-6.3-16.2 0-33.3 10.1-37.8 12.9L121 4c-.9-.7-1.8-1.4-2.8-1.9-1-.6-2.04-1-3.13-1.4-2.1-.7-4.5-1-6.9-1-4.9 0-10.2 1.23-15.9 3.5C84 6.8 74.6 12.4 65 19.9c-9.6 7.5-19.4 16.9-28.7 27.78C25.08 61.1 16 74.8 9.8 87.5c-3.12 6.3-5.55 12.4-7.2 18.1-1.7 5.7-2.6 11-2.6 15.8 0 3.5.47 6.75 1.54 9.66.46 1.27 1.05 2.48 1.75 3.6.9 1.45 2 2.76 3.3 3.87v.03l10.2 8.33 1.1.9-.1.1-.3.6c-.1.3-.3.6-.4.9l-.2.6-.3.9-.2.6-.3.9-.2.6-.2.9-.2.6-.2 1-.1.3-.1.3-.2 1-.1.6-.1.4-.1.6v3.3l.1 1.3.1.6v.4l.1.9v.5l.1.3.1.6.1.7.1.5.1.3.2.6.2.7.1.3.2.7.2.7.1.3.1.4.1.1.2.7.1.2.2.5.1.2.1.2v.2l.1.1v.3l.1.2.2.4.3.7v-.1l.1.2.3.5.4.7v.1l.2.5.1.1.2.3.3.4.1.2.2.4.2.2.4.6v.1l.2.3.3.3.4.6h.1l.1.1.2.3.3.3.4.5v.1l.2.3.3.4.5.5h.1v.1l.3.3.4.4.4.4h.1l.4.4.4.4.3.3.1.1h.1l.5.5.2.2.3.3.1.1h.1l.6.5.3.2.4.3.1.1.8.5h.1l.3.3h.1l1 .7.2.1.1.1.2.1c.3.2.5.4.8.5l.1.1.2.1.2.1.7.3.2.1.2.1h.1l.8.4.4.2.2.1.1.1 1.1.4h.1l.2.1h.1c.4.2.9.4 1.3.5h.1l.2.1.7.2.3.1.4.16h.1l.7.1h.1l.7.2h.1l.2.1.4.1h.1l1 .2h.1c.5.1 1 .2 1.5.2h.1l1.3.1h.3c.5.04.9.1 1.3.1h.4l.8.03.2.3c.9 1.84 1.9 3.7 3 5.44C68.6 232.3 105 254 143.5 254c38.5 0 75.9-30.2 88.1-66.34.5-1.4 1-2.7 1.4-4.1 1.4-1.9 2.4-3.8 3.1-5.7.7-2.3.8-4.6.4-6.5z" id="path10490" fill="#644e42"/><path d="M231.54 175.16s.02-1.58-.97-2.86l-.02-.03-.18-.22-.06-.07-.3-.3c-.2-.2-.5-.37-.8-.5-.1-.1-.3-.16-.5-.22-.5-.16-1-.26-1.7-.27-.5-.1-1 0-1.6.1l-.7.1h-.1l.1.1.2.4.1.2.4 1.2v.4c-.2.7-.8 2.4-2.4 4.7-.2.4-.5.8-.9 1.2-4.4 5.8-14.5 14.7-37.1 21.8-7.7 2-14.9 3-21.2 3-9.3 0-16.5-2.1-20.1-5.6-.4-.3-.7-.6-.9-1l-.6-.7-.2-.3c-1.7-2.3-2.6-4.8-2.9-7.4-.4-3.1.2-6.2 1.6-8.7 1.1-2 2.7-3.7 4.7-4.6.9-.5 2-.7 3.2-.8h4.5c4.4 0 11.4-.2 19.7-1.8 15.1-2.8 34.5-10.1 50.7-28.8v-.1c-.1-1.4-.6-3.8-2.6-5.5-.3-.3-.7-.6-1.1-.9l-.8-.4c-.3-.1-.5-.2-.8-.4l-.9-.5v-.1l-.4-.5c-5.6-6.5-12.6-9.9-15.4-11.5-1.3-.7-2.1-1-2.1-1-6-2.7-7-3.7-7.6-13.1-.3-3.4-.4-7.8-.8-13.8-.1-.8-.1-1.5-.2-2.2l-.1-.5-.3-2v-.4l-.3-1.4-.1-.7c-.1-.5-.2-1-.4-1.5l-.2-.7-.2-.8-.3-.7-.3-.9-.1-.3-.1-.3-.1-.1-.1-.3-.3-.6-.1-.1-.1-.2-.1-.2c-.2-.4-.4-.7-.7-1.1l-.2-.2-.8-.9-.1-.1-.1-.2-.5-.6-.2-.2-.7-.7-.1-.1V78h-.1l-.5-1.4-.2-.4-.2-.5c-.1-.4-.3-.8-.5-1.2l-.2-.4c-.1-.3-.3-.6-.4-.9l-.3-.5c-.2-.3-.3-.6-.5-.9l-.3-.6-.6-.9-.4-.6-.6-.85-.4-.5c-.2-.3-.5-.6-.7-.9l-.4-.44-.4-.4c-.3-.3-.6-.6-.9-.8h-.1l-.2-.1c-.4-.3-.8-.6-1.3-.9h-.1c-.2-.1-.4-.3-.6-.4l-.5-.3h-.1c-.2-.1-.5-.2-1-.4l-.5-.2c-.9-.2-2.1-.5-3.6-.7h-.3c-1.2-.2-2.6-.3-4-.3h-3c-1.1 0-2.2.1-3.3.2h-.1c-1.4.2-2.8.5-4.1 1 .3-.6 1.1-1.3 1.9-1.9 1-.8 2-1.3 2-1.3-.6.1-1.2.3-1.9.5l-.6.2-.4.1-.2.1-.3.1c-3.1 1.1-6 2.6-7.6 3.5l-.6.4-.1.1-.5.2c1-2.5 2.7-3.9 4-4.8l.7-.4.2-.1.5-.2.5-.2-.4.1-.4.1-.6.1-.4.1c-3.4.8-6.4 2.4-8.9 4.2-1.7 1.3-3.2 2.6-4.4 3.9l-1.1.4c-3.8 1.2-8 2.8-12.5 4.8-1.6.7-3.3 1.5-4.9 2.3l-3.9 2.1c-1 .5-1.9 1.1-2.8 1.6-6.7 4-13.1 9.1-18.2 15.4l-.5.7-1.4 1.6-.5.7-.6.9c-.9 1.4-1.8 2.9-2.6 4.4-.6 1.1-1.2 2.3-1.7 3.4l-.1.2c-1.1 2.5-1.9 5.1-2.6 7.9-.3 1.4-.6 2.8-.8 4.3l-.1 1.2-.1.2c-.2 1.6-.3 3.3-.3 5l-.1 1c0 .9 0 1.7.1 2.6 0 .8.1 1.6.1 2.4v.2l.1 1.1c0 .5.1.9.2 1.4v.3c.1.9.3 1.8.4 2.7v.2l.6 2.8.3 1.2.1.3.1.7c.3 1.06.5 2.1.8 3.18l.3.9c.3.97.5 1.9.9 2.8 0 0-.3-1.2-.4-3V145c0-1.1.1-2.25.3-3.5l.2-.9.2-.4c.2-.6.4-1.2.6-1.74l.4 1.1.1.1v.2l.1.77.2 1.96c.1.7.2 1.5.4 2.3.5 3.4 1.3 7.5 2.5 11 0 0-.7-6.5.3-7.4 0 0 3.4 11.7 5.7 16 .4.5.6 1 .9 1.2l-.2-1.2-1.1-6.6v-.7c1.7 2.5 3.5 5.1 5.6 7.8.6.7 1.2 1.5 1.8 2.2-3 3.3-5.5 7.8-7.1 12.9l-.6 2.5-.3 1.5v.4l-.2 1.1v.5c-.1.4-.1.7-.1 1.1l-.02.5c0 .5-.1 1-.1 1.5v3.8l.1 1.2v.5c.1.5.1 1.1.2 1.6l.2 1.3.2 1.3.1.2v.1c.1.5.3 1.1.4 1.6l.2.5.3 1.1.2.6.3 1 .2.6c.1.3.2.6.34.9l.3.7.4 1 .3.6.5 1 .3.6.5 1.1.3.5c.6 1 1.2 2.1 1.9 3.1l.3.4.8 1.1.4.5.8 1 .5.6.8.9.6.6.9.9.6.6.9.9.6.6c.4.3.7.7 1.1 1l.5.5 1.8 1.4s-.4-.4-.9-1.1l-.3-.5v-.1l-.3-.6-.1-.1-.4-.7c-1-1.8-2.1-4.3-2.4-7.2l1.1 1.2c.4.7 1 1.5 1.6 2.5l.7.9c.9 1.3 2 2.8 3.2 4.3 1.4 1.7 2.98 3.5 4.5 5 0-.1-2-3.1-2.8-5.1-.3-.6-.4-1.1-.3-1.4l.4.3.4.3 1 1.1.2.2.7.6h.1l.8.8c2.5 2.5 5.83 5.7 8.14 7.4.8.5 1.4.9 1.9 1.1l-3.7-5c7.4 4.6 36.1 8.2 62.5-3 3.2-1.4 6.3-2.9 9.4-4.8 1.9-1.1 3.7-2.3 5.5-3.6l.3-.2c1.3-.9 2.5-1.8 3.7-2.8.9-.7 1.9-1.5 2.7-2.3 1.5-1.4 3-2.8 4.4-4.3l.3-.3c1.4-1.6 2.7-3.2 3.9-4.8 1.5-2.1 2.9-4.3 4.1-6.4l.1-.2.9-1.6.1-.1.28-.5 1.2-2.2.2-.5.56-1.1.4-.9.4-.9c.2-.5.5-1.1.7-1.7l.2-.6.5-1.3.2-.6.1-.2.6-1.6v-.1c.8-1 1.4-1.8 1.8-2.7l.2-.4c1-2 1.2-3.6 1.1-5z" id="path10492" fill="#b3815a"/><path d="M65.5 175.7l-.1-.36h.02c-.54-1.74-1-3.52-1.4-5.35l-.1-.4c-.3.1-.6.6-.86 1.1l-.3.7c-.7 1.8-1.25 4.3-1.25 4.3V173c0-.86 0-1.74.1-2.62v-.3l.1-2.9.1-.37v-.3l.1-.4.2-2.1.2-1.7v-.7l.1-.4v-.3l.1-.5v-.1l.1-.4.1-.5.1-.2v-.2l.1-.4v-.4l-.1.2-.5.5-.1.2-.4.8v.1c-.2.3-.3.6-.5 1v.1l-.1.2-.2.6v.3l-.3 1c-.2.9-.4 1.7-.5 2.4l-.1.7-.1.9v.1-5.8l.1-.7v-1l.1-1 .1-.7v-.1l.2-1.5v-.4l.1-.3c.1-.8.3-1.6.5-2.4v-.1c.2-.6.3-1.3.5-2l.3-.9.4-1.3v-.1l.3-.7v-.1l.1-.4.2-.7.1-.2 1.3-3.4.1-.4v-.1l.1-.2.5-1.1.6-1.5 1-2.3.2-.5v-.1c0-.1-.6-.4-1.6-.8-1-.5-2.6-1.1-4.4-1.7-.6-.2-1.2-.4-1.9-.6l-2.4-.6-.7-.1c-.7-.2-1.4-.3-2.1-.4l-1.5-.2-1.2-.1h-2c-.5 0-1 0-1.6.1-.2 0-.5 0-.8.1-1.1.1-2.3.4-3.4.7H43c-2 .6-3.9 1.3-5.7 2.3-.6.3-1.2.6-1.8 1l-.5.3-.6.4c-1.7 1.2-3.3 2.5-4.73 4-1.2 1.3-2.3 2.8-3.3 4.3l-.8 1.3c-.3.5-.6 1.1-.8 1.6-.5 1.1-.94 2.1-1.33 3.2l-.4 1.2-.03.2c-.7 2.5-1.2 5.2-1.2 8v1.8l.1 1.3c.1.5.1 1.1.2 1.6l.1.2.2 1.3.1.2v.3l.2 1v.1l.1.5.2.8.2.7.3.7.2.6.1.1v.4l.1.2.3.6.3.6.3.7.1.2.2.4.3.7.4.6.2.3.2.4.3.5.5.7.4.5.5.6.4.5.5.6.4.4.6.7.4.36.7.6.4.3.7.6.3.3.7.6.3.2.8.6.3.2.9.6.3.2.9.5.3.2 1 .5.2.1 1.1.5.2.1 1.1.4.2.1c.4.1.7.3 1.1.4l.2.1 1.2.4.1.07 1.2.3h.1l1.3.3h.1l.6.1.7.1h.1c.5.1.9.1 1.4.2l1.4.1c1.4 0 2.9 0 4.3-.2l1.1-.1 1.4-.3c.6-.2 1.3-.3 1.9-.5l1.7-.6c.9-.3 1.8-.6 2.6-1 2.6-1.1 4.7-2.4 6-3.6 0 0-1.4-3.9-2.7-7.86l-.4-1.3z" id="path10494" fill="#91674a"/><path d="M231.54 175.16s.02-1.58-.97-2.86l-.02-.03-.18-.22-.06-.07-.3-.3c-.2-.2-.5-.37-.8-.5-.1-.1-.3-.16-.5-.22-.5-.16-1-.26-1.7-.27-.5-.1-1 0-1.6.1l-.7.1h-.1l.1.1.2.4.1.2.4 1.2v.4c-.2.7-.8 2.4-2.4 4.7-.2.4-.5.8-.9 1.2-4.4 5.8-14.5 14.7-37.1 21.8-7.7 2-14.9 3-21.2 3-9.3 0-16.5-2.1-20.1-5.6-.4-.3-.7-.6-.9-1l-.6-.7-.2-.3c-1.7-2.3-2.6-4.8-2.9-7.4-.4-3.1.2-6.2 1.6-8.7 1.1-2 2.7-3.7 4.7-4.6.9-.5 2-.7 3.2-.8h4.5c4.4 0 11.4-.2 19.7-1.8 15.1-2.8 34.5-10.1 50.7-28.8v-.1c-.1-1.4-.6-3.8-2.6-5.5-.3-.3-.7-.6-1.1-.9l-.8-.4c-.3-.1-.5-.2-.8-.4l-.9-.5v-.1l-.4-.5c-5.6-6.5-12.6-9.9-15.4-11.5-1.3-.7-2.1-1-2.1-1-6-2.7-7-3.7-7.6-13.1-.3-3.4-.4-7.8-.8-13.8-.1-.8-.1-1.5-.2-2.2l-.1-.5-.3-2v-.4l-.3-1.4-.1-.7c-.1-.5-.2-1-.4-1.5l-.2-.7-.2-.8-.3-.7-.3-.9-.1-.3-.1-.3-.1-.1-.1-.3-.3-.6-.1-.1-.1-.2-.1-.2c-.2-.4-.4-.7-.7-1.1l-.2-.2-.8-.9-.1-.1-.1-.2-.5-.6-.2-.2-.7-.7-.9-.7-1-.4-.3-.1-.6-.2-.3-.1-.5-.1-.4-.1h-1.9l-.5.1h-.6l-.3.1-.3.1-.6.2-.2.1c-.5.2-1.1.5-1.6.9l-.2.1-.6.4-.2.1-.6.4-.2.2-.5.4-.2.2-.6.4-.2.2-.7.5-.1.1-.7.7v.1h-.1l-1.4 1.2-1.2 1-.2.2-1.2 1-.2.2-1.3.9-.2.1-1.3.9-.2.1-1.4.8-.2.1c-.5.2-.9.5-1.4.7l-.2.1c-.5.2-1.1.4-1.6.6-.9.3-1.9.4-2.8.5-1.6.2-3.1.3-4.7.3l-1.6-.1-.6-.1c-1.4-.1-2.8-.2-4.2-.4l-1.7-.2-2.9-.3-.5-.1-.4-.1-.7-.1-.6-.1h-.1l-.5-.1-1.3-.1H129c-.3 0-.6 0-.9.1h-.6l-1.1.1h-.3l-1.4.3-.4.1c-.3 0-.6.1-.9.2h-.1l-.5.1-.9.3-.5.2-.9.3-.5.3-1 .5-.5.2c-.5.2-.9.5-1.4.8-3.6 2.7-6.5 6.1-8.7 10-.8 1.3-1.4 2.6-2 4-.6 1.4-1.1 2.9-1.5 4.4l-.4 1.3c-.2.7-.3 1.5-.48 2.2v.2c-.16.8-.2 1.7-.3 2.6-.08.9-.1 1.8-.1 2.7 0 .5 0 1 .1 1.4.1 1.3.2 2.6.5 3.9v.3c.07.3.1.7.2 1 .2.9.45 1.8.75 2.7.1.3.2.6.4.9l.4.9c.9 2.3 2.1 4.24 3.4 6 5.1 6.8 12.6 10.2 17.9 11.94 2 .6 4.1 1.1 6.3 1.5l-.23.2c-.35.1-.8.3-1.23.5l-2.5 1.1c-1 .5-2.1 1-3.3 1.7-3.1 1.7-6.5 4.1-9.5 7.2l-1 1.2c-.6.7-1.2 1.4-1.7 2.2l-.2.2-.2.4c-.2.3-.4.6-.5.9l-.2.4-.7 1.3-.6 1.4c-1.5 3.62-2.1 7.8-1.2 12.6l.1-.06v-.3l.1-.3v-.1l.1-.4v-.1l.1-.5.1-.6.1-.1.1-.6v-.1l.2-.7v-.1l.2-.7.1-.1.3-.7v-.1c.1-.4.3-.8.5-1.2l.2-.5.1-.14.5-1 .5-.7.2-.2.4-.6.2-.2.6-.8.1-.1s-3.2 10.5-.3 18.2v-.56l-.1-.4v.08-.5l-.1-.6v-1l.1-.88v-.1l.1-.9v-.2l.1-.2c0-.2.1-.5.2-.7v-.1l.3-1 .1-.3c.1-.38.3-.7.5-1 0 0 0 2.5.5 5.4l.2 1.4c.07.3.1.6.2.9-.2-3.2 0-6.2.5-9-.5 2.8-.7 5.8-.5 9 .1 2 .4 4.1.9 6.2.78 3.6 2.1 7.2 4.1 11 0 0-1.94-4.4-.54-9.3l.7 1.2c.3 1.4.8 3.3 1.5 5.3.8 3.5 3.8 14 12 20.6 0 0-3.2-3.2-3.3-7.9.3.6.7 1.1 1 1.5 1.54 2.2 4.54 6.2 7.6 8.8 0 0-2.7-4-2.3-4.9 0 0 8.2 7.9 10.54 8.5l-3.5-4.6-.1-.1c11.2 6.2 25.7 7.2 42.6.1 2.9-1.2 5.9-2.7 8.9-4.4 1.9-1.1 3.7-2.3 5.5-3.6l.26-.2c1.27-.9 2.5-1.9 3.7-2.9.9-.8 1.86-1.5 2.7-2.4 1.5-1.3 2.98-2.7 4.4-4.2l.2-.3c1.4-1.6 2.7-3.2 3.9-4.8 1.6-2.1 3-4.2 4.2-6.3l.1-.2.9-1.6.1-.2.2-.5 1.2-2.2.23-.5.6-1.2.4-.9.4-1 .7-1.8.3-.6.5-1.3.2-.6.03-.2.5-1.6.04-.1c.76-.9 1.3-1.8 1.8-2.6l.1-.3c1-1.9 1.2-3.5 1.1-4.9z" id="path10498" fill="#f9e7cc"/><path d="M63.92 169.62c-.3.13-.6.57-.87 1.17-.1.2-.2.4-.3.7-.7 1.8-1.24 4.3-1.24 4.3V173c0-.86 0-1.74.1-2.6v-.3l.1-2.9.1-.38v-.4l.1-.5.2-2.16v-1.92l.1-.26v-.27l.1-.4v-1.3l.1-.5.1-.2v-.9l.1-.1-.2.2c-.1.2-.3.3-.4.5l-.1.2-.4.7-.1.2c-.2.3-.3.7-.5 1v.3l-.1.3-.2.6v.3l-.3 1c-.3.9-.4 1.7-.6 2.4l-.1.7-.1 1v.1-.8l-.1-1.6v-3l.1-.5v-.4l.1-.7.1-.2v-.7l.1-1.1v-.1l.1-.8v-.1l.3-1.5v-.6c.2-.8.3-1.7.5-2.5v-.1c.2-.7.3-1.4.5-2v-.1l.3-.9v-.1l.4-1.3.2-.7v-.1l.2-.5.3-.7.1-.2-.5-.1H62l-.1-.1c-1-.3-2.1-.6-3.1-.7H58c-.7-.1-1.4-.1-2.1-.1h-1.2l-1 .1-1.5.3-.5.1-.7.2-.3.1-.5.2-.9.4-.47.2c-.42.2-.83.5-1.23.7l-.48.3-.5.4-.2.1-.58.4-.5.4-.6.5-.3.3-.9 1-.4.5c-.28.3-.5.6-.7 1l-.15.2-.3.6-.3.4v.1l-.1.1c-.5.8-.8 1.7-1.1 2.5l-.1.4c-.2.4-.3.9-.4 1.3l-.1.5c-.1.5-.2.9-.2 1.4v.4l-.1 1v1.5c0 .5 0 1.1.1 1.6l.2 1.2v.2l.2.7c.2.8.4 1.5.8 2.3.2.5.5 1 .8 1.6.5.9 1.1 1.8 1.8 2.6 1.5 1.6 3.3 3 5.3 4 1.2.6 2.4 1 3.6 1.3 1.2.2 2.4.4 3.7.4l.9-.1c.4 0 .9-.1 1.3-.1l1.2-.3.7-.1c.6-.1 1.1-.3 1.6-.5l.1-.1.7-.3c.6-.3 1.3-.6 1.9-1l.1-.1.5-.3c-.6-1.7-1-3.5-1.4-5.3l-.1-.4z" id="path10500" fill="#f9e7cc"/><path id="polygon10502" fill="none" d="M24.3 185.44l.02.02h-.02v-.03z"/><path d="M141.44 102.04c-.78-.3-1.6-.5-2.44-.6-.54-.05-1.1-.08-1.63-.08l-.6.02c-2.73.1-5.02.85-5.02.85-.5.18-.95.37-1.4.57-3.54 1.57-5.87 3.8-7.38 6.24-1.23 1.97-1.93 4.07-2.3 6.06l-.07.52c-.08.5-.15 1-.2 1.5-.13 1.66-.08 3.16.03 4.34.15 1.6.4 2.63.4 2.63.47-1.5.98-2.9 1.52-4.2 1.35-3.2 2.9-5.9 4.55-8 3.18-4.3 6.67-6.7 9.43-8.1 2.98-1.5 5.1-1.9 5.1-1.9z" id="path10504" fill="#e8b783"/><path d="M184.75 91.34l-.14-.15c-.4-.5-1-.9-1.6-1.3-1.5-.8-3.5-1.1-6.1-.2 0 0-3.1 1.1-4.7 3.4 0 0 5.3-3.1 11.6.4.6.3 1.2.7 1.8 1.1.6.4 1.2.9 1.9 1.5 0 0-.5-2.6-2.2-4.6l-.3-.4z" id="path10506" fill="#e8b783"/><path d="M133.32 128.17l.58-.56.28-.2.6-.5.36-.2.6-.4.46-.3.64-.4.54-.2.68-.3.6-.2.72-.3.7-.2.68-.2h.14c.33-.1.65-.1.98-.2l.3-.1.64-.1h2.08c.4 0 .8 0 1.2.1h.2l1.1.2h.2l1 .2h.1l.9.3c.4.1.7.3 1 .4.3.2.6.3.9.5-.5-1.9-2-5.9-6.3-6.8-.6-.2-1.3-.2-2-.2h-.5c-.7 0-1.3.1-2.1.3-8.1 1.7-8.5 8.5-8.4 10.8l.6-.7.2-.1z" id="path10508" fill="#e8b783"/><path d="M224.74 171.78l-.1-.23-.16-.43c-.7-1.55-1.5-2.74-2.16-3.57-.86-1.07-1.53-1.57-1.53-1.57 0-.43.1-.84.1-1.24v-1.54c-.1-3.74-1.4-6.5-2.4-8-.2-.25-.3-.46-.5-.64-.5.48-1 .95-1.6 1.4-10 8.77-21.7 15.04-34.8 18.74-9 2.55-18.7 3.88-28.9 3.9l.2.03s-6 1.58-6.9 7.6l.1.04v3.95c.8 5.25 3.6 8.25 6.6 9.64 3 .74 6.5 1.14 10.4 1.14 6.7 0 14.3-1.17 22-3.38v-.02c10.2-2.68 24.1-10.03 33.7-18.48 2.1-1.93 4.1-3.9 5.7-5.9l.1-.08.1-.14-.5-1.22z" id="path10510" fill="#fff"/><path d="M140.76 123.84l-.68.23.68-.23.14-.04-.14.04z" id="path10512" fill="#f1d1ac"/><path d="M142.5 145.76l1-.7.45-.3 1.03-.67.5-.4 1.05-.7.56-.4 1-.6.6-.4 1-.6.7-.4 1-.6c.2-.2.5-.3.8-.4.3-.2.6-.4 1-.6l.9-.5 1-.5 1-.5.9-.5 1.1-.5.9-.4 1.2-.5.6-.3c1.1-4.4 4.8-15.4 13.1-17.6.9-.3 1.7-.4 2.5-.5l.6-.1c-.2-.6-.4-1.2-.5-1.9-.9-4.5.1-8.4 2-8.7 1.5-.3 3 1.7 3.3 2.5.7 1.3 1.3 3 1.7 4.9.3 1.7.3 3.4.2 4.8.2.1.3.3.5.5 2.2 2.1 3 5.4 3.2 7.8l2.2-.5.6-.1.1-.1.3-.1 2.9-.6h.1c2.2-.4 4.5-.8 6.8-1.2-1.3-.7-2.2-1.1-2.2-1.1-6-2.7-7-3.7-7.6-13.1-.3-3.3-.5-7.8-.8-13.8-.1-.8-.1-1.5-.2-2.2l-.1-.5-.3-2-.1-.1-.1-.2-.3-1.4-.2-.7c-.1-.5-.3-1-.4-1.5l-.2-.7-.3-.8-.3-.7c-1-1.1-2-2.1-3.3-2.8l-.3-.2-.2-.1h-.1l-.5-.3-.6-.3c-1.7-.8-3.7-1.2-5.7-1.3-1.1 0-2.2.1-3.4.3l-1.6.3c-1.5.3-2.9.8-4.3 1.5l-1.3 1.2-1 1.1-.2.2-1.2 1-.2.1-1.3.9-.2.2-1.3.9-.2.2-1.3.8-.2.1c-.5.2-1 .5-1.5.7h-.2c-.6.2-1.1.4-1.6.5-1 .2-1.9.4-2.8.5-1.6.2-3.1.3-4.7.2l-1.6-.1h-.6c-1.4-.1-2.8-.2-4.2-.4l-1.8-.2-2.9-.3h-.6l-2.4.6h-.2c-2.2.6-4.5 1.5-6.7 2.5l-.3.2c-.4.2-.7.4-1 .5-.5.2-.9.5-1.4.8-3.1 1.9-6.1 4.3-8.8 7.2-1.1 1.2-2.1 2.4-3 3.7-1.4 1.9-2.6 4-3.7 6l-.2.4c-.5 1.2-1 2.3-1.4 3.5l-.5 1.3v.1c-.5 1.3-.8 2.7-1.1 4l-.1.3-.1.6c-.2.6-.3 1.2-.3 1.8-.1.7-.2 1.3-.2 2l-.1.4v1.2c-.1 1.4 0 2.9.1 4.3l.1 1.1c.9 2.2 2.1 4.2 3.5 6 5.1 6.7 12.5 10.2 17.8 11.9 2 .6 4.2 1.2 6.4 1.6l.1-.1.8-.7.2-.3.8-.8.3-.2.8-.8.3-.2.9-.7.3-.3.9-.8.3-.3.9-.8.4-.3c.3-.3.6-.5 1-.7l.4-.3zm34.3-55.96c2.6-.88 4.6-.62 6.12.16.64.33 1.2.76 1.68 1.23l.14.1.33.3c1.72 2 2.27 4.5 2.27 4.5-.62-.6-1.24-1.1-1.85-1.5-.6-.5-1.2-.8-1.8-1.1-6.4-3.5-11.6-.4-11.6-.4 1.6-2.3 4.7-3.5 4.7-3.5zm-49.92 22.14c-1.64 2.16-3.2 4.8-4.54 8-.54 1.3-1.06 2.66-1.52 4.14 0 0-.26-1.02-.4-2.63-.12-1.18-.17-2.68-.03-4.33 0-.5.1-1 .2-1.5v-.53c.3-2 1-4.1 2.3-6.1 1.5-2.5 3.8-4.7 7.3-6.3l1.4-.6s2.3-.8 5-.9h.6c.5 0 1.1 0 1.6.1.8.1 1.6.2 2.4.6 0 0-2.1.3-5.1 1.8-2.8 1.4-6.3 3.8-9.5 8.1zm4.55 20.3c-.22.1-.4.1-.5.02-.35-.16.15-1.55 1.55-3.2-.1-2.27.32-9.06 8.38-10.76.7-.15 1.38-.24 2-.27h.02l.53-.02c.8 0 1.4.1 2 .3 4.3 1 5.8 5 6.3 6.8 1.4.8 2.1 1.6 1.9 1.8 0 .2-.3.3-.6.3-.3.2-1.1.4-2.1.5-2 .3-5.2.4-8.7 1.4l-.7.2c-5.2 1.4-9.1 3.6-9.9 3.2z" id="path10514" fill="#f1d1ac"/><path d="M144.86 123.3h-.22.3-.08z" id="path10518" fill="#f1d1ac"/><path d="M227.76 183.93c-3.3 3.75-6.83 6.88-10.4 9.47-1.8 1.3-3.58 2.45-5.36 3.5-3.94 2.33-7.78 4.1-11.2 5.4-7.54 2.85-13.02 3.54-13.02 3.54 4.55 1.82 9.93 1.17 13.58.34 2.5-.57 4.2-1.22 4.2-1.22.1 1.57.1 3.03-.02 4.4-.12 1.53-.38 2.93-.73 4.22v.12c-.4 1.6-1 3.04-1.7 4.32l-.2.42.3-.2c1.3-.9 2.5-1.85 3.7-2.85v-.1c1-.8 1.9-1.6 2.8-2.4 1.5-1.4 3-2.8 4.4-4.3l.3-.3c1.4-1.6 2.7-3.2 3.9-4.8 1.6-2.1 3-4.3 4.2-6.4l.1-.2.9-1.6.1-.2.3-.5c.4-.8.8-1.5 1.1-2.3l.3-.6.6-1.1.4-.9.4-1 .7-1.8.3-.7.5-1.3.2-.6.1-.2.6-1.6-.7.7z" id="path10520" fill="#f1d1ac"/><path d="M130 154.5c-1 .5-2.1 1.07-3.25 1.72-3.08 1.75-6.53 4.13-9.47 7.18-.37.38-.73.77-1.08 1.17-.6.7-1.15 1.4-1.7 2.16l-.17.25-.24.35-.6.92-.2.38c-.3.42-.5.85-.8 1.3l-.6 1.32c-1.5 3.62-2.1 7.8-1.2 12.6v-1.13l.1-.48.1-.56v-.12l.1-.63v-.1l.1-.63v-.1l.2-.73v-.15l.3-.77v-.03c.1-.4.3-.8.5-1.2l.2-.46v-.12c.1-.33.3-.65.5-.97.1-.26.3-.5.4-.77l.1-.25.4-.6.2-.23.6-.76v-.02s-3.2 10.5-.3 18.15v-.8l-.1-.4-.1-.5v-2.4l.1-.9v-.1l.1-.9.1-.3v-.2l.2-.7.3-1 .1-.3c.1-.4.3-.7.5-1s0 2.4.5 5.4l.2 1.3c.1.3.1.6.2.9-.2-3.2 0-6.2.5-9 .1-.8.3-1.6.5-2.3v-.3l.6-2.1.1-.4.6-2 .1-.3c.5-1.4 1.1-2.7 1.7-4l.1-.3.7-1.4.2-.4.2-.3c.3-.6.6-1.1.9-1.7l.1-.3 1-1.6c.4-.7.8-1.3 1.3-1.9.3-.5.6-.9.9-1.3l.3-.5c.7-1 1.5-1.9 2.1-2.6 2-2.4 3.7-3.8 4.2-4.3l-1.2.5c-.7.3-1.5.6-2.4 1.1z" id="path10522" fill="#f1d1ac"/><path d="M185.75 125.22s-.05-.26-.2-.63c-.53-1.5-2.4-4.7-7.98-3.5-5.85 1.3-7.24 6.3-7.55 8l-.08.6.18.1c.67-.8 2.1-.9 3.5-.2.65.3 1.18.7 1.57 1.2.5.7.8 1.5.5 2.1l-.3.4.6.1c1.7.2 6.4.6 8.4-2.9l.3-.5c-.6-.2-.9-.9-1-1.7-.1-.4-.1-.9 0-1.3.2-1.4 1-2.3 1.8-2z" id="path10524" fill="#f1d1ac"/><path d="M161.82 172.33c-3.72 1.26-7 2.27-9.55 3h.44c4.5 0 11.5-.2 19.8-1.75 15.1-2.82 34.6-10.1 50.7-28.76l.1-.07v-.03c-.1-1.38-.6-3.84-2.6-5.55-.3-.3-.7-.58-1.1-.82l-.2-.1c-.5-.2-.9-.43-1.4-.65-.3-.15-.6-.32-.9-.5v-.04c-.9 1.75-2 3.44-3.3 5.07-.4.58-.9 1.15-1.4 1.7-4.4 5.15-10.5 9.72-17.1 13.7-11 6.6-23.6 11.55-33.1 14.8z" id="path10526" fill="#f1d1ac"/><path d="M62.2 157.8l-.44.5-.14.22c-.16.22-.3.46-.45.7l-.07.13c-.17.3-.32.63-.46.96l-.02.1-.06.2-.1.3-.23.6v.1l-.03.1-.03.1-.3 1c-.24.9-.4 1.7-.54 2.4l-.1.7-.13 1-.02.2v-.1l-.03-.7c-.03-.6-.06-1.1-.07-1.6 0-.4 0-.9.02-1.3v-.4l.02-.6.04-.6v-.3l.06-.7.02-.2v-.2l.03-.3.03-.3.1-1h.02l.08-.8.02-.1c.06-.5.15-1 .23-1.5l.02-.1.02-.2v-.3c.1-.8.3-1.6.4-2.4v-.1c.1-.7.3-1.4.4-2v-.1l.2-.9v-.1l.3-1.3v-.1l.2-.7v-.1l.1-.4.2-.7.1-.2-.5-.2H61v-.1c-1-.3-2.07-.6-3.14-.7h-.16c-.62-.1-1.32-.1-2.02-.1-.4 0-.83 0-1.24.1l-1 .1-1.5.3-.5.1-.7.3-.3.1-.5.2-.93.4-.4.2c-.4.2-.8.5-1.2.7l-.4.3-.5.4-.2.2-.6.5-.5.5-.6.6-.3.4c-.3.3-.6.7-.9 1l-.4.6-.7 1-.1.2-.3.6v.1l-.2.4v.1c-.4.8-.8 1.7-1.1 2.5l-.1.4c-.1.4-.3.9-.4 1.3l-.1.5.2.3c.2.4.3.7.5 1.1v.1l.1.1.5 1c.6 1 1.1 1.8 1.6 2.6l.3.3.1.1.1.1c.4.6.8 1 1.2 1.4.6.7 1.1 1.2 1.4 1.5l.2.2.1.1.2.2-.1-.5c-.4-1.2-.7-2.5-.9-3.7v-.3c-.1-.8-.2-1.6-.2-2.3l.3.9.6 1.2.1.2v.1c.8 1.7 1.7 3 2.6 4.1 1 1.3 1.9 2.2 2.4 2.7l.3.3.2.2c-.5-1.3-.8-2.7-1-4l-.2-1.3c-.1-.6-.1-1.1-.1-1.7.3.9.7 1.7 1.1 2.5v.1c1.5 2.8 3.1 4.8 4.2 5.9l.1.1.5.5.3.3.3.2.1.1v-.2l-.2-.6c-.2-.7-.3-1.3-.5-2-.1-.4-.2-.9-.2-1.3L56 169v-3.38c.1.4.3.7.4 1l.4.7.1.1v.1l.1.14c.1.3.3.5.4.8l.9 1.4 1 1.4.5.7.6.8c.2.2.3.4.5.6l.1.16.4.44.3.2.4.4.1.1h.2V171l.1-2.9.1-.36v-.1l.07-.34v-.5l.2-2.16.2-1.8.03-.2v-1l.1-.35.1-.6v-1.5l.07-.2.04-.5v-.4l-.1.2z" id="path10528" fill="#f1d1ac"/><path d="M190.65 185c1.38-.68 2.58-1.23 3.5-1.77 1.84-1.07 2.8-1.76 2.72-1.96-.1-.2-1.25.1-3.25.82l-3.62 1.2c-.7.2-1.5.4-2.3.7-.8.2-1.65.5-2.55.7-1.78.4-3.82.9-5.98 1.5l-3.32.7-3.55.6c-4.86.7-10.28 1.2-15.9.8-2.94-.2-6.98-1-9.96-2.2l-.1-.1c.9-6 6.86-7.6 6.86-7.6h-2.84l-1.26-.1h-.73c-3.68.2-5.3 3.5-5.8 4.9-.1.2-.16.4-.22.6-.38 1.2-.55 2.7-.47 4.1.16 2.8 1.23 5.7 3.64 8 1.6 1.5 4.23 2.7 7.52 3.5-2.96-1.4-5.78-4.4-6.6-9.7 3.26.9 6.98 1.3 9.76 1.4 5.96.3 11.6-.3 16.6-1.2 1.26-.3 2.48-.5 3.66-.8l3.42-.9c2.14-.6 4.1-1.2 5.95-1.9.93-.3 1.77-.7 2.57-1 .8-.3 1.57-.6 2.25-1z" id="path10530" fill="#f1d1ac"/><path d="M177.38 117.67c3.05-.3 5.23.4 6.78 1.63.17-1.4.13-3.04-.2-4.8-.34-1.9-.96-3.58-1.7-4.87-.3-.75-1.8-2.82-3.3-2.5-1.94.36-2.85 4.24-2.03 8.68.12.7.27 1.3.45 1.9z" id="path10532" fill="#664f45"/><path d="M141.76 126.93c3.52-.98 6.74-.56 8.94-.2 1 .18 1.8.33 2.3.33.34 0 .56-.05.63-.22.22-.18-.47-.98-1.86-1.78-.27-.15-.58-.3-.9-.46h-.02c-.32-.16-.67-.3-1.04-.44-.3-.13-.6-.23-1-.32l-.1-.03-1-.2h-.1l-1.1-.1h-1.7l-.5.1h-.3l-.6.1h-.3l-.6.1-.3.1-.9.2-.1.1-.6.2-.7.3-.7.3-.6.3c-.2.1-.4.3-.7.4l-.5.3-.6.4-.4.3c-.2.2-.4.3-.6.5l-.4.3c-.2.2-.4.3-.6.5l-.2.2-.6.6-.2.2-.6.8c-1.4 1.7-1.9 3-1.5 3.2.1.1.3.1.5 0 1.3-.5 4.7-3.6 9.6-5.1l.7-.2z" id="path10534" fill="#664f45"/><path d="M183.95 128.55c.1.85.47 1.52.98 1.7.77.3 1.58-.62 1.82-2l.04-.37c.1-1.25-.3-2.4-1-2.64-.8-.28-1.6.63-1.9 2.02-.1.44-.1.9-.1 1.3z" id="path10536" fill="#664f45"/><path d="M170.4 132.43c.4.48.93.93 1.6 1.25 1.42.67 2.9.56 3.55-.2.1-.12.18-.24.23-.38.28-.66.04-1.48-.56-2.2-.4-.45-.9-.87-1.56-1.17-1.4-.66-2.84-.56-3.5.17-.12.12-.22.25-.28.4-.26.65-.04 1.43.5 2.12h.02z" id="path10538" fill="#664f45"/><g id="g10540" fill="#664f45"><path d="M223.16 144.76v-.03l-.08.13.03-.03.1-.07zm1.92 28.4l-.06.07c-1.63 2-3.58 3.97-5.76 5.9-9.58 8.45-23.52 15.8-33.72 18.48l-.04.1h-.04c-7.64 2.2-15.24 3.4-22 3.4-3.9 0-7.43-.4-10.42-1.1-3.3-.8-5.9-2-7.5-3.6-2.42-2.2-3.5-5.2-3.65-7.9-.1-1.4 0-2.9.4-4.1l.2-.6c.5-1.4 2.1-4.7 5.8-4.9h2l2.3.1h.3c10.2 0 19.8-1.3 28.8-3.9 13-3.7 24.7-10 34.7-18.7l1.6-1.4 4.9-9.7c-16.2 18.6-35.6 25.9-50.7 28.7-8.3 1.5-15.3 1.8-19.7 1.8h-3.7c-.4 0-.7 0-1 .1-1.2.1-2.3.3-3.2.8-2 .9-3.6 2.5-4.7 4.6-1.4 2.5-2 5.6-1.6 8.7.2 2.6 1.2 5.2 2.8 7.4l.2.3c.2.3.4.5.6.7l.9 1c3.7 3.5 10.9 5.6 20.2 5.6 6.3 0 13.5-1 21.2-3.1 22.6-7.1 32.7-15.9 37.1-21.8l.9-1.2c1.5-2.3 2.1-4 2.4-4.8v-.1l.1-.3-.1.1z" id="path10542"/></g><path d="M184.8 12.13c-2.06-1.83-4.37-3.13-6.8-3.98-.45-.1-.9-.22-1.35-.3l-.7-.32c-2.14-.54-4.36-.8-6.62-.82-11.18-.1-23.26 5.4-30.1 9.1l-1.13.7-1.73 1-2.98 1.8-.5.3-2.2-2-1-.9-.9-.8-.4-.3-8.4-7.7-.8-.7-.9-.8-.2.1-2.1.8-2.4.8c-1.4-.4-3.1-.7-4.9-.7-3.7-.1-8.4.9-13.5 2.9-5.2 2-10.9 5-16.9 8.9-11.9 7.8-24.9 19.2-37 33.1-4.3 4.9-8.1 9.8-11.7 14.8-3.5 4.8-6.6 9.5-9.3 14.2-5.6 9.4-9.6 18.4-12 26.2-1.6 5.3-2.3 10-2.4 14 0 2.8.4 5.3 1.1 7.3.2.6.5 1.2.8 1.8.6 1.1 1.4 2.1 2.3 2.9l9.2 7.6 1 .8h.1l.6-.9v-.1l.3-.3c.2-.3.5-.6.7-.8l.4-.5.4-.5.2-.2.5-.5.6-.7.4-.4.7-.7.5-.4.8-.6.5-.4.8-.6.5-.4.8-.6.4-.3.2-.1.7-.5.4-.3.7-.4.5-.3.2-.1 1.5-.7.5-.3.5-.2.2-.1.3-.2.6-.3h.2l.8-.3.7-.2.9-.3.3-.1.4-.1.9-.2.8-.2.6-.2h.2l.3-.1h.1c1-.2 2.2-.3 3.5-.3h.2c1.3-.1 2.6 0 4.1.1l1.1.1.2-.5c.6-1.4 1.3-2.9 1.9-4.3 3.7-8.2 7.8-15.5 12.1-21.9 1.5-2.2 3-4.3 4.5-6.3 6.4-8.5 12.9-15.2 19-20.5l4-3.3c1.8-1.4 3.5-2.7 5.1-3.9 1.3-.9 2.6-1.8 3.8-2.6 2-1.4 3.8-2.5 5.5-3.5.5-.3 1-.6 1.4-.8.7-.4 1.4-.7 2-1H109l-1.6.2-.4.1c-.6.1-1.1.1-1.7.2-1.1.2-2.1.4-3.2.7l-1.1.4c2.6-1.7 5.1-3.1 7.7-4.2 1.6-.7 3.3-1.4 4.9-1.9 2.2-.7 4.3-1.2 6.2-1.5 1.3-.2 2.5-.4 3.65-.5 1.2-.1 2.26-.2 3.2-.2 3.4-.1 5.45.2 5.45.2-.6-.6-1.2-1.1-1.95-1.5-1.3-.8-2.7-1.2-4-1.6l-1.3-.3-.8-.1 1.67-.5 1.7-.4c4.7-1 9-1.1 12.2-.9 3.9.3 6.3.9 6.3.9-.7-1-1.6-1.8-2.56-2.4-.7-.5-1.4-.9-2.1-1.2 1.3.1 2.6.3 3.8.5 3.18.6 5.9 1.4 8 2.1l1.96.7.5.2c2 .8 3.1 1.4 3.1 1.4-.4-1.1-1.2-2-2.03-2.9l-.6-.6h.1l.4.1.6.1c.8.2 2.1.6 3.7 1.1l.2.1.6.3c.5.2 1.1.4 1.6.7.5.2 1 .4 1.6.7l.8.5c.6.3 1.2.7 1.8 1.1.6.4 1.2.8 1.8 1.3l.4.3c.5.3.9.7 1.3 1.1.8.7 1.5 1.5 2.2 2.4.8 1.1 1.6 2.3 2.2 3.6l.1.2c.3-.4.8-1.1 1.4-2 5.1-7.6 20.1-32.1 7.9-44.5z" id="path10544" fill="#132034"/><path d="M112.32 16.83l-.82-4.04L113 8l.8-.28c-1.42-.47-3.06-.72-4.92-.73-3.74-.1-8.36.9-13.52 2.9-5.17 2-10.86 5-16.82 8.9C66.62 26.6 53.68 38 41.58 51.9c-4.23 4.9-8.12 9.8-11.65 14.72-3.43 4.74-6.53 9.5-9.26 14.1-5.55 9.4-9.6 18.4-11.92 26.24-1.55 5.3-2.35 10-2.35 14-.1 2.86.3 5.34 1 7.34.24.66.5 1.24.8 1.8.65 1.16 1.4 2.14 2.3 2.93l9.25 7.6 1 .8.04-.1.6-.94.1-.1.2-.3.6-.9.4-.6.4-.5.2-.2.4-.5.6-.7.4-.5h.1l.7-.7.4-.4.8-.7.5-.4.8-.7.4-.4.8-.7.4-.3.1-.1c1.3-5.7 3.5-11.9 6.6-18.5 3.8-8.1 8.8-16.8 15-25.5 3.9-5.5 8.2-11 12.9-16.5 6.1-7 12.5-13.4 18.8-19.1 4.2-3.8 8.5-7.3 12.7-10.4l1.2-.9c1.1-.8 2.2-1.5 3.3-2.3 2.4-1.6 4.8-3.1 7.1-4.5l-1.4-1.3-.2-.2-1.7-1.6-9.7-9.2-.8-7.3-.1-.1 5.8-2.5 12.4 4.6z" id="path10546" fill="#2f83c1"/><path id="polygon10548" fill="#4f9dd6" d="M115.03 17.83l.32.12v-.04z"/><path d="M118.32 6.15l-5.3 1.9 2.32 9.86-15.44-5.6-5.72 2.5.1.1L114.35 33l.17-.12.2-.17 1.54-1.2.55-.4 2.3-1.7-8.5-7.7 12.9 4.5h.1l1-.7-2.1-8.5 6.3 5.7h.1l1.3-.8.2-.1.2-.1.2-.1.6-.3h.1l1.8-1.2-14.7-13.5z" id="path10550" fill="#ffd250"/><path d="M113.08 8.35l-.07-.3.1.3z" id="path10552" fill="#4f9dd6"/><path d="M113 8.04l.8-.28c-1.42-.46-3.06-.72-4.92-.73-3.74-.03-8.36.95-13.52 2.96-5.16 2-10.86 5-16.82 8.9C66.62 26.7 53.68 38 41.58 52c-4.22 4.88-8.1 9.82-11.65 14.72L48.8 85c3.87-5.43 8.15-10.9 12.8-16.28 6.25-7.2 12.7-13.74 19.18-19.52 6.26-5.6 12.53-10.46 18.64-14.52l-4.4-12.55-.78-7.3-.1-.1 5.77-2.5 12.5 4.6-.8-4.03 1.5-4.76z" id="path10554" fill="#4f9dd6"/><path id="polygon10556" fill="#132034" d="M115.34 17.9L113 8.05l-1.5 4.75.82 4.03z"/><path id="polygon10558" fill="#132034" d="M110.45 21.45l12.85 4.5-4.32 3.2z"/><path id="polygon10560" fill="#132034" d="M122.22 16.65l2.15 8.54 4.12-2.9z"/><path d="M167.8 8c.75-.13 1.48-.22 2.2-.3 2.06-.2 4-.18 5.88.06l.3.03h.45l-.7-.4c-2.14-.6-4.36-.8-6.62-.8-11.1-.1-23.2 5.4-30.1 9.1l-1.1.6-1.7 1-3 1.8-.4.3-1.8 1.1h-.1l-.5.3-.2.1-.2.1h-.1l-1.3.9h-.1l-.3.2-.2.1c-.6.4-1.3.9-2 1.3l-1.4.9v.1l-1 .7c-1.1.8-2.2 1.6-3.3 2.5l-.3.2-.3.2-.2.2-.1.1-2.3 1.7-.5.4-1.6 1.3-.2.2-.2.1c-1.4 1.1-2.8 2.3-4.2 3.5-2.3 2-4.5 4-6.8 6.1l-.8.8c-6.2 5.9-11.7 11.8-17 17.9-5.5 6.5-10.8 13-15.7 19.6-2.7 3.4-5 6.4-6.8 9-3.7 5.1-5.7 8.2-5.6 8.2.1.1.4-.3 1-1.1l-1.4 2.1C65.6 87.4 74.8 76 84.7 65.1c6.1-6.6 12.4-13 19-19.1 2.9-2.6 5.8-5.2 8.9-7.7 1-.8 2-1.6 2.9-2.3l1.5-1.1.9-.7 1.6-1.2c.5-.4 1.1-.8 1.6-1.2l.8-.6 2-1.4 1.2-.9c1.3-.9 2.5-1.8 3.8-2.6l.3-.2.6-.4.8-.5.3-.2.1-.1.6-.4.1-.05h.1l1.6-1.1.3-.2.6-.3 1.9-1.2.5-.3.28-.2.56-.3 2.2-1.3c.6-.4 1.3-.8 1.9-1.1 3.7-2.1 7.1-3.9 10.36-5.4 6.2-2.9 11.6-4.7 16.5-5.4z" id="path10562" fill="#fff"/></svg>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="ServicesGroup" data-section-name="code-services">
						<div class="OuterWrapper">
							<div class="ServicesGroup-title">
								serviços em design
							</div>

							<div class="Grid">
								<div class="Service Grid-cell u-sm-sizeFull u-md-size4of12 u-lg-size4of12">
									<div class="Service-text">
										<div class="Service-textTitle">User Interface - UI</div>
										<div class="Service-textDescription">
											Desenvolvimento de interfaces para mobile e aplicativos web, templates e mockups para tornar a experiência do usuário mais agradável.
										</div>
									</div>
									<div class="Service-tags">
										<ul>
											<li>Layouts</li>
											<li>Style Guides</li>
											<li>Grids</li>
											<li>Componentes</li>
											<li>Formulários</li>
										</ul>
									</div>
								</div>
								<div class="Service Grid-cell u-sm-sizeFull u-md-size4of12 u-lg-size4of12">
									<div class="Service-text">
										<div class="Service-textTitle">User Experience - UX</div>
										<div class="Service-textDescription">
											Aumentar a satisfação do usuários melhorando a usabilidade, acessibilidade e prazer obtido pela interação entre o usuário e o produto.
										</div>
									</div>
									<div class="Service-tags">
										<ul>
											<li>Protótipos</li>
											<li>Wireframes</li>
											<li>Pesquisas com Usuário</li>
											<li>Teste A/B</li>
											<li>Story Board</li>
										</ul>
									</div>
								</div>
								<div class="Service Grid-cell u-sm-sizeFull u-md-size4of12 u-lg-size4of12">
									<div class="Service-text">
										<div class="Service-textTitle">Tipografia</div>
										<div class="Service-textDescription">
											Desenvolvimento de tipografia e fontes que ajudam diferenciar sua marca no mercado e facilitar a leitura dos usuários.
										</div>
									</div>
									<div class="Service-tags">
										<ul>
											<li>Criação de fontes</li>
											<li>Ajuste em fontes</li>
											<li>Design Sprint</li>
										</ul>
									</div>
								</div>
								<div class="Service Grid-cell u-sm-sizeFull u-md-size4of12 u-lg-size4of12">
									<div class="Service-text">
										<div class="Service-textTitle">Logo</div>
										<div class="Service-textDescription">
											Criação de logo e elementos graficos que fazem parte da identidade de marca do seu negocio buscando seguir preceitos cientificos e experenciais.
										</div>
									</div>
									<div class="Service-tags">
										<ul>
											<li>Design Sprint</li>
											<li>Criação de Logo</li>
											<li>Pesquisa com Usuários</li>
											<li>Teste A/B</li>
										</ul>
									</div>
								</div>

								<div class="Service Grid-cell u-sm-sizeFull u-md-size4of12 u-lg-size4of12">
									<div class="Service-text">
										<div class="Service-textTitle">Ilustrações</div>
										<div class="Service-textDescription">
											Desenhos, figuras e mascotes para facilitar o entedimento de informações, desenvolvimento de marca ou decoração.
										</div>
									</div>
									<div class="Service-tags">
										<ul>
											<li>Criação de Mascotes</li>
											<li>Infográficos</li>
											<li>Pesquisas com Usuário</li>
										</ul>
									</div>
								</div>
								<div class="Service Grid-cell u-sm-sizeFull u-md-size4of12 u-lg-size4of12">
									<div class="Service-text">
										<div class="Service-textTitle">Identidade Visual</div>
										<div class="Service-textDescription">
											Desenvolvimento de elementos que representa visualmente seu produto ou empresa; tendo como base o logotipo, códigos de cores, tipografias, personagens, slogans e tag lines.
										</div>
									</div>
									<div class="Service-tags">
										<ul>
											<li>Logo</li>
											<li>Conteúdo Textual</li>
											<li>Mascotes</li>
											<li>Pesquisa com Usuário</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section>
					<div id="software" class="CodeText section" data-section-name="code-about">
						<div class="OuterWrapper">
							<div class="Grid">
								<div class="Grid-cell u-sm-sizeFull u-md-size5of10 u-lg-size5of10">
									<div class="CodeText-container">
										<div class="CodeText-brand"><small>serviços em</small>
											<br/>Software</div>
											<div class="CodeText-description">
												Posso melhorar seu negócio criando aplicativos que tornam a vida de seus clientes mais fáceis, reduzindo custos e esforço nas transações aumentando sua participação no mercado.
											</div>
										</div>
									</div>
									<div class="CodeText-images Grid-cell u-sm-sizeFull u-md-size5of10 u-lg-size5of10">
										<div class="Terminal isClose">
											<div class="Terminal-buttonsContainer">
												<ul>
													<li class="Terminal-button Terminal-button--close"></li>
													<li class="Terminal-button Terminal-button--minimize"></li>
													<li class="Terminal-button Terminal-button--maximize"></li>
												</ul>
											</div>
											<div class="Terminal-screen"></div>
										</div>
										<div class="Ipad">
											<div class="Ipad-screen">
												<div class="Site">
													<div class="Grid">
														<div class="Grid-cell u-sizeFull">
															<div class="Site-navbar js-blocTofadeIn"></div>
														</div>
													</div>
													<div class="Grid">
														<div class="Grid-cell u-size3of12">
															<div class="Event js-blocTofadeIn"></div>
														</div>
														<div class="Grid-cell u-size6of12">
															<div class="Video js-blocTofadeIn">
																<div class="Video-icone u-posAbsoluteCenter">
																	<div class="Video-arrow"></div>
																</div>
															</div>
														</div>
														<div class="Grid-cell u-size3of12">
															<div class="Event js-blocTofadeIn">
																<div class="Event-image"></div>
																<div class="Event-description"></div>
																<div class="Event-description"></div>
																<div class="Event-description"></div>
															</div>
														</div>
														<div class="Grid-cell u-size6of12">
															<div class="Event js-blocTofadeIn">
																<div class="Event-image"></div>
																<div class="Event-description"></div>
																<div class="Event-description"></div>
																<div class="Event-description"></div>
															</div>
														</div>
														<div class="Grid-cell u-size6of12">
															<div class="Event js-blocTofadeIn"></div>
														</div>
													</div>
												</div>
											</div>
											<div class="Ipad-cam"></div>
											<div class="Ipad-lents"></div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="ServicesGroup" data-section-name="code-services">
							<div class="OuterWrapper">
								<div class="ServicesGroup-title">
									serviços em software
								</div>

								<div class="Grid">
									<div class="Service Grid-cell u-sm-sizeFull u-md-size4of12 u-lg-size4of12">
										<div class="Service-text">
											<div class="Service-textTitle">Site Responsivo</div>
											<div class="Service-textDescription">
												Desenvolvimento de sites que funcionam em desktop e celular com intuito de manter a presença do seu negocio online.
											</div>
										</div>
										<div class="Service-tags">
											<ul>
												<li>Ruby on Rails</li>
												<li>Javascript</li>
												<li>Nodejs</li>
												<li>Python</li>
												<li>Express</li>
												<li>Bootstrap</li>
												<li>Sass</li>
											</ul>
										</div>
									</div>
									<div class="Service Grid-cell u-sm-sizeFull u-md-size4of12 u-lg-size4of12">
										<div class="Service-text">
											<div class="Service-textTitle">Aplicativo Mobile</div>
											<div class="Service-textDescription">
												Desenvolvimento de aplicativos para Android e Ios, como forma de expandir os meios de comunicação do negocio e como midia complementar ou principal, para seu modelo de negocios.
											</div>
										</div>
										<div class="Service-tags">
											<ul>
												<li>Ionic</li>
												<li>Angularjs</li>
												<li>Meteorjs</li>
												<li>Swift</li>
												<li>Java</li>
												<li>Phonegap</li>
											</ul>
										</div>
									</div>
									<div class="Service Grid-cell u-sm-sizeFull u-md-size4of12 u-lg-size4of12">
										<div class="Service-text">
											<div class="Service-textTitle">Blogs</div>
											<div class="Service-textDescription">
												Desenvolvimento de blogs com Rails e Express otimizados para sistema de buscas e implementações para Wordpress.
											</div>
										</div>
										<div class="Service-tags">
											<ul>
												<li>Wordpress</li>
												<li>Sistema de Pagamento</li>
												<li>Ruby on Rails</li>
											</ul>
										</div>
									</div>
									<div class="Service Grid-cell u-sm-sizeFull u-md-size4of12 u-lg-size4of12">
										<div class="Service-text">
											<div class="Service-textTitle">Landing Pages</div>
											<div class="Service-textDescription">
												Atrair potenciais clientes por meio de conteudo altamente segmentado e direcionado com intuito de validação de ideia ou venda especifica.
											</div>
										</div>
										<div class="Service-tags">
											<ul>
												<li>SEO</li>
												<li>SEM</li>
												<li>Facebook Ads</li>
												<li>Teste A/B</li>
												<li>Funil de Leads</li>
												<li>Google Tag Mananger</li>
											</ul>
										</div>
									</div>
									<div class="Service Grid-cell u-sm-sizeFull u-md-size4of12 u-lg-size4of12">
										<div class="Service-text">
											<div class="Service-textTitle">MVPs</div>
											<div class="Service-textDescription">
												Validação de produtos digitais e serviços por meio de mockups, sites e aplicativos criados de forma agil e centrados no usuario.
											</div>
										</div>
										<div class="Service-tags">
											<ul>
												<li>Hotjar</li>
												<li>Protótipos</li>
												<li>Validação de Negócio</li>
												<li>Funil de Vendas</li>
												<li>Google Analytics</li>
											</ul>
										</div>
									</div>
									<div class="Service Grid-cell u-sm-sizeFull u-md-size4of12 u-lg-size4of12">
										<div class="Service-text">
											<div class="Service-textTitle">CMS</div>
											<div class="Service-textDescription">
												Implementação de gerenciamento de conteúdos usando as plataformas Wordpress, Drupal e Joomla.
											</div>
										</div>
										<div class="Service-tags">
											<ul>
												<li>Concrete5</li>
												<li>Wordpress</li>
												<li>Joomla</li>
												<li>Drupal</li>
											</ul>
										</div>
									</div>
									<div class="Service Grid-cell u-sm-sizeFull u-md-size6of12 u-lg-size6of12">
										<div class="Service-text">
											<div class="Service-textTitle">E-commerce</div>
											<div class="Service-textDescription">
												Vender online de forma holistica e que faça sentido para os clientes do nicho que atue, criando sistemas de vendas baseadas no comportamento dos usuarios e na cultura e brand do seu negocio.
											</div>
										</div>
										<div class="Service-tags">
											<ul>
												<li>Magento</li>
												<li>PagSeguro API</li>
												<li>Paypal API</li>
											</ul>
										</div>
									</div>
									<div class="Service Grid-cell u-sm-sizeFull u-md-size6of12 u-lg-size6of12">
										<div class="Service-text">
											<div class="Service-textTitle">Automatização</div>
											<div class="Service-textDescription">
												Tornar o processo atual ou criar novos processos, aplicados ao seu negocio que possam ser eliminados ou automatizados por meio da tecnologia, como sites de vendas, pedidos online, sistema de filas, orçamentos etc.
											</div>
											<div class="Service-tags">
												<ul>
													<li>Pagamento Online</li>
													<li>Delivery</li>
													<li>Formularios</li>
													<li>Relatórios</li>
													<li>Notificações via Email</li>
													<li>Notificações via SMS</li>
												</ul>
											</div>
										</div>
									</div>
								</div>


							</div>
						</div>

					</section>

					<section>

						<div class="People section" data-section-name="people">
							<div class="OuterWrapper">
								<div class="Grid">

									<div class="People-images Grid-cell u-sm-sizeFull u-md-size3of10 u-lg-size3of10">
										<div data-aload class="Grid-cell u-sizeFull People-imageA"></div>
									</div>


									<div class="People-container Grid-cell u-sm-sizeFull u-md-size7of10 u-lg-size7of10">
										<div class="People-description">
											Entre estágios, freelas, projetos e CLTs tive a oportunidade em trabalhar com pessoas e marcas diversas.
											Sou formado em Marketing pela PUCRS com certificação em Inovação,
											possuo experiência com desenvolvimento web, gestão de projetos e facilitação em desenvolvimento
											de produtos e métodos ágeis.
										</div>
										<div class="People-links">
											<ul>
												<li><a href="http://www.linkedin.com/in/jonataseduardo" target="_blank">Linkedin</a></li>
												<li><a href="http://jonataseduardo.tumblr.com" target="_blank">Blog</a></li>
												<li><a href="http://www.facebook.com/jonataseduardo" target="_blank">Facebook</a></li>
												<li><a href="https://www.upwork.com/freelancers/~01cfae84699bab9595" target="_blank">Upwork</a></li>
											</ul>
										</div>
										<div class="People-contact">
											<ul>
												<li><span>✉</span> contato@jonataseduardo.com</li>
												<li><span>✆</span> 51 8288.8388</li>
											</ul>
										</div>
									</div>

								</div>
							</div>
						</div>

						<div class="ServicesGroup" data-section-name="code-services">
							<div class="OuterWrapper">
								<div class="ServicesGroup-title">
									serviços em marketing
								</div>

								<div class="Grid">
									<div class="Service Grid-cell u-sm-sizeFull u-md-size6of12 u-lg-size3of12">
										<div class="Service-text">
											<div class="Service-textTitle">Desenvolvimento de software</div>
											<div class="Service-tags">
												<ul>
													<li>Ruby</li>
													<li>Sinatra</li>
													<li>Rails</li>
													<li>Javascript</li>
													<li>Node</li>
													<li>Express</li>
													<li>Vue</li>
													<li>Python</li>
													<li>PHP5</li>
													<li>Html5</li>
													<li>Css3</li>
													<li>Sass</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="Service Grid-cell u-sm-sizeFull u-md-size6of12 u-lg-size3of12">
										<div class="Service-text">
											<div class="Service-textTitle">DevOps e ferramentas</div>
											<div class="Service-tags">
												<ul>
													<li>G. Adwords</li>
													<li>G. Analytics</li>
													<li>G. Tag Manager</li>
													<li>Photoshop</li>
													<li>Illustrator</li>
													<li>Puppet</li>
													<li>SnapCI</li>
													<li>Vagrant</li>
													<li>Shell</li>
													<li>Gulp</li>
													<li>Bower</li>
													<li>NPM</li>
												</ul>
											</div>
											<div class="Service-footer">
											</div>
										</div>
									</div>
									<div class="Service Grid-cell u-sm-sizeFull u-md-size6of12 u-lg-size3of12">
										<div class="Service-text">
											<div class="Service-textTitle">Técnicas</div>
											<div class="Service-tags">
												<ul>
													<li>Scrum</li>
													<li>XP</li>
													<li>Kanban</li>
													<li>Lean</li>
													<li>TDD</li>
													<li>Entrega Contínua</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="Service Grid-cell u-sm-sizeFull u-md-size6of12 u-lg-size3of12">
										<div class="Service-text">
											<div class="Service-textTitle">Línguas</div>
											<div class="Service-tags">
												<ul>
													<li>Português (nativo)</li>
													<li>Inglês TOEFL 495pts (upper-intermediate)</li>
													<li>Espanhol (básico)</li>
												</ul>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>

						<div class="Brands section" data-section-name="brands">
							<div class="OuterWrapper">

								<div class="Grid">
									<div class="Brands-logo Grid-cell u-sm-size6of12 u-md-size4of12 u-lg-size2of10">
										<img data-aload="../images/dist/msic.png"></img>
									</div>
									<div class="Brands-logo Grid-cell u-sm-size6of12 u-md-size4of12 u-lg-size2of10">
										<img data-aload="../images/dist/tw.png"></img>
									</div>
									<div class="Brands-logo Grid-cell u-sm-size6of12 u-md-size4of12 u-lg-size2of10">
										<img data-aload="../images/dist/pucrs.png"></img>
									</div>
									<!-- <div class="Brands-logo Grid-cell u-sm-size6of12 u-md-size4of12 u-lg-size2of10">
										<img data-aload="../images/dist/wpp-logo.png"></img>
									</div> -->
									<div class="Brands-logo Grid-cell u-sm-size6of12 u-md-size4of12 u-lg-size2of10">
										<img data-aload="../images/dist/hogarth.png"></img>
									</div>
									<div class="Brands-logo Grid-cell u-sm-size6of12 u-md-size4of12 u-lg-size2of10">
										<img data-aload="../images/dist/cadastra-logo.png"></img>
									</div>
									<div class="Brands-logo Grid-cell u-sm-size6of12 u-md-size4of12 u-lg-size4of12">
										<img data-aload="../images/dist/saraiva-logo.png"></img>
									</div>
									<div class="Brands-logo Grid-cell u-sm-size6of12 u-md-size4of12 u-lg-size4of12">
										<img data-aload="../images/dist/lojasmm-logo.png"></img>
									</div>
									<div class="Brands-logo Grid-cell u-sm-size6of12 u-md-size4of12 u-lg-size4of12">
										<img data-aload="../images/dist/perestroika-logo.png"></img>
									</div>
								</div>

							</div>
						</div>

					</section>

					<section>

						<div class="OuterWrapper">
							<div class="Grid">
								<div class="Grid-cell u-sm-sizeFull u-md-sizeFull u-lg-size7of10">
									<div class="Grid">
										<div class="Faq">
											<div class="Faq-title">
												Perguntas frequentes
											</div>
											<div class="Grid-cell u-sm-sizeFull u-md-size5of10 u-lg-size5of10">
												<div class="Faq-list">
													<ul>
														<li>
															<div class="Faq-question">
																Você aceita pagamento parcelado?
															</div>
															<div class="Faq-answer">
																Sim, em até 12x no cartão de crédito e 2x em Nota Promissória (CNPJ).
															</div>
														</li>
														<li>
															<div class="Faq-question">
																Você cobra somente por hora?
															</div>
															<div class="Faq-answer">
																Não, eu também realizo trabalhos orçados por projeto, os tipos
																mais comuns são a implementação de blogs, sessões de consultoria e
																campanhas de anúncio.
															</div>
														</li>
														<li>
															<div class="Faq-question">
																Quais os meios de pagamento que você aceita?
															</div>
															<div class="Faq-answer">
																Pagseguro, Paypal, Bitcoin, Dinheiro, Cheque Empresarial,
																Nota Promissória (CNPJ) e troca de valores não monetários
																como participação, serviços, produtos e alimentação.
															</div>
														</li>
														<li>
															<div class="Faq-question">
																É verdade que você trabalha gratuitamente?
															</div>
															<div class="Faq-answer">
																Não exatamente, para alguns contratos eu combino trocas não
																monetárias, como serviços prestados por meus clientes, que
																pode ser diárias em uma pousada, vale-alimentação em um
																restaurante, etc. Assim, todos saímos ganhando com o que
																sabemos fazer de melhor.
															</div>
														</li>
														<li>
															<div class="Faq-question">
																Você trabalha sozinho?
															</div>
															<div class="Faq-answer">
																Na maioria dos serviços possuo parceiros que atuam junto
																comigo no desenvolvimento, principalmente em serviços de
																design. Mas os custos são oe mesmos que você contrataria
																se realizasse diretamente com estes profissionais, pois eles
																me dão um desconto por não terem que gerenciar e se comunicar com
																o cliente diretamente, papel que eu realizo e por este serviço
																só aplico ao máximo o restante do que seria se você
																contrataria diretamente com eles. Em orçamentos e planos
																sempre é especificado o custo com serviço de parceiros.
															</div>
														</li>
													</ul>
												</div>
											</div>
											<div class="Grid-cell u-sm-sizeFull u-md-size5of10 u-lg-size5of10">
												<div class="Faq-list">
													<ul>
														<li>
															<div class="Faq-question">
																Quanto você cobra por hora?
															</div>
															<div class="Faq-answer">
																Depende do tipo de serviço, urgência e aprofundamento temporal
																e técnico. Mas meu valor hora varia de R$15,00 até R$40,00.
																A maioria dos serviços fica em torno de R$22,00 a hora.
															</div>
														</li>
														<li>
															<div class="Faq-question">
																Você emite nota fiscal?
															</div>
															<div class="Faq-answer">
																Sim, para a maioria dos serviços emito nota fiscal em meu nome
																como micro empreendedor.
															</div>
														</li>
														<li>
															<div class="Faq-question">
																Você vem até meu negócio?
															</div>
															<div class="Faq-answer">
																Dependendo do serviço e o contrato realizado eu posso
																trabalhar de forma remota, visitar sua empresa durante uma tarde
																ou até mesmo fazer uma imersão de semanas. Depende dos serviços,
																orçamento disponível e qualidade e esforço que sua empresa deseja.
															</div>
														</li>
														<li>
															<div class="Faq-question">
																Onde fica localizado o seu negócio?
															</div>
															<div class="Faq-answer">
																Como sou um freelancer, trabalho de qualquer lugar, para encontros
																eu vou até o cliente ou podemos marcar em um cooworking.
															</div>
														</li>
														<li>
															<div class="Faq-question">
																Que garantias tenho em relação ao seu serviço?
															</div>
															<div class="Faq-answer">
																Além das legais de acordo com a lei brasileira para qualquer transação entre partes,
																em minhas transações busco sempre redigir
																um contrato simples conjutamente com o cliente para assegurar
																direitos e deveres de ambos os lados, os pagamentos são realizados
																por meios legais com sistema de devolução, como Pagseguro e
																Paypal. Além disto o pagamento pode ser parcelado e todo o
																processo envolve comunicação diária com o cliente via telefone,
																hangout e email, quando eu não estou alocado ou imerso na empresa.
															</ol>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="Chat">
							<div class="Chat-header">
								Jonatas Eduardo
							</div>
							<div class="Chat-body">
								<div class="Chat-message">
									Vamos conversar?
								</div>
								<div class="Chat-message">
									orçamentos, dúvidas e projetos
								</div>
								<div class="Chat-message">
									é só me ligar em 51 8288.8388
								</div>
								<div class="Chat-message">
									ou mandar um email p/
								</div>
								<div class="Chat-message">
									oi@jonataseduardo.com
								</div>
								<div class="Chat-message">
									:D
								</div>
								<div class="Chat-writing">
									...
								</div>
							</div>
							<div data-aload class="Chat-avatar">

							</div>
						</div>
					</div>

					<div class="SidebarSlide js-SidebarSlide">
						<div class="SidebarSlide-title">
						</div>
						<div class="SidebarSlide-content">
						</div>
						<div class="SidebarSlide-footer">
							<div class="Button Button--large">Entrar em Contato</div>
						</div>
					</div>

					<div class="Arrow">
						<span>↓</span>
					</div>

				</div>

			</section>

			<footer>
				<div class="OuterWrapper">
					<span>Jonatas Eduardo - Analista Jr. e Freelancer - CNPJ: 21.175.092/0001-10 - Porto Alegre RS</span>
				</div>
			</footer>


			<link href="../css/main.min.css" rel="stylesheet" />
			<link data-aload='https://fonts.googleapis.com/css?family=Ubuntu|Miniver' rel="stylesheet">

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" sync defer></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js" sync defer></script>
			<script src="../js/main.js" sync defer></script>

			<% include ../partials/analytics %>
			<% include ../partials/gtm %>

		</body>

		</html>
