@import "../scss/application/variables";
@import "../scss/application/media-queries";

.Approach{
  margin: 0 0 35px;
  padding: 0 45px 15px 0;
  @include mobile{
    padding: 0 0 15px 0;
    text-align: center;
  };

  &-image{
    text-align: center;
    margin-top: 16px;
  }

  &-text{
    margin: 35px 0 0 0;
  }

  &-textTitle{
    color: $colorPrimary;
    font-family: $fontHeader;
    line-height: 0.9em;
    font-size: 1.7rem;
    @include mobile{
      font-size: 1.3rem;
    };
  }

  &-textDescription{
    color: $colorDescription;
    font-family: $fontDescription;
    line-height: 1.6em;
    font-size: 14px;
    padding: 15px 0 10px 0;
  }
}
