@import "../scss/application/variables";

.BlueOcean{
  display: none;

  & .Polyline{
    transition: stroke-width 0.4s ease 0s;
    stroke-width: 4px;
    stroke-linejoin: round;
    stroke-linecap: round;

    &:hover{
      stroke-width: 5.5px;
    }
  }

  & #e7_polyline {
    @extend .Polyline;
    stroke: $colorGreen;
  }

  & #e8_polyline {
    @extend .Polyline;
    stroke: $colorBrand;
  }

  & #e10_line, #e11_line, #e12_line, #e13_line, #e14_line, #e15_line, #e16_line, #e17_line, #e18_line, #e19_line, #e20_line, #e21_line, #e22_line, #e23_line, #e24_line  {
    stroke: $colorGrey;
    stroke-width: 0.7px;
    stroke-linejoin: round;
    stroke-linecap: round;
  }


}
