@import "variables";

.BoxContent {
  z-index: 9;
  position: fixed;
  background: #f1f1f1;
  opacity: 0;
  display: none;

  &-text{
    color: $colorPrimary;
    font-family: $fontSecondary;
    font-size: 16px;
    padding: 75px 65px 0 35px;
    position: relative;
  }
  
  &-container{
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  &-images{
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
  }
}