@import "../scss/application/variables";
@import "../scss/application/media-queries";

.Button{
  color: $colorPrimary;
  background: $colorButton;
  padding: 12px 16px;
  font-size: 14px;
  font-family: $fontBrand;
  font-weight: 600;
  display: inline-block;
  margin-right: 0;
  z-index: 1;
  border-radius: 2px;
  text-transform: uppercase;
  transition: all 0.15s ease-out 0s;
  @include mobile {
    width: 100%;
  };

  &:hover{
    box-shadow: 0 3px 2px 0px rgba(0,0,0,.18);
    transform: translate(0,-5px);

    cursor: pointer;
  }

  &--small{
    font-size: 14px;
  }

  &--large{
    padding: 14px 18px;
    font-size: 18px;
  }

}
.ButtonGroup{
  & .Button{
    margin: 0 6px;
    @include mobile{
      margin: 6px;
    };
  }
}
