@import "../scss/application/variables";
@import "../scss/application/utilities";

@media (min-width: 0) and (max-width: 425px) {
  .Contact{
    font-size: 0.9rem;
    margin: 0;
    width: auto;
    text-align: right;

    &-avatar{
      display: none;
    }
  }
}

@media (min-width: 426px) and (max-width: 1024px) {
  .Contact{
    font-size: 1rem;
    margin: 6px 0 0 0;
    width: 220px;
  }
}

@media (min-width: 1025px) {
  .Contact{
    font-size: 1.1rem;
    margin: 6px 0 0 0;
    width: 220px;
  }
}

.Contact{
  margin: auto;
  text-align: center;

  &-avatar{
    background-image: url("../../images/dist/john-avatar-50x50.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    margin: 15px auto 10px auto;
    height: 45px;
    width: 45px;
    @include crossBrowser(filter, grayscale(100%));
  }

  &-email{
    font-size: 85%;
  }

}
