@import "../scss/application/variables";

@media (min-width: 0) and (max-width: 425px) {
  .HomePostIt{

    &-services{
      font-size: 0.6rem;
    }
  }
}

@media (min-width: 426px) and (max-width: 1024px) {
  .HomePostIt{

    &-services{
      font-size: 0.75rem;
    }
  }
}

@media (min-width: 1025px) {
  .HomePostIt{

    &-services{
      font-size: 0.75rem;
    }
  }
}

.HomePostIt{
  padding: 15px 20px;
  margin: auto;
  z-index: 10;
  position: relative;
  max-width: 300px;
  overflow: hidden;
  border-radius: 2px;
  text-align: center;

  &:hover{
    transition: 0.1s transform ease 0s;
    cursor: pointer;
    background: rgba(255,255,255,0.1);

    & .HomePostIt a{
      color: $colorPrimary;
      display: block;
    }

    & .HomePostIt-icon{
      display: none;
    }
  }

  &-text{
    color: $colorSecondary;
    font-family: $fontDescription;
    font-size: 1em;
  }

  &-services{
    color: $colorDescription;
    font-family: $fontDescription;
    padding: 10px 0;
    line-height: 1.4em;

    & ul{
      padding: 0;
      margin: 0;
    }

    & li{
      font-size: 90%;
      display: inline-block;
      margin: 1px 0;
      background: #efeeee;
      padding: 3px 7px;
      border-radius: 2px;
    }

    & a{
      font-family: $fontDescription;
      color: $colorDescription;
      font-size: 11px;
      display: block;
      clear: both;

      &:hover{
        // color: $colorBrand !important;
        // cursor: pointer;
      }
    }
  }

  &-icon{
    background-repeat: no-repeat;
  }

}
