@import "../scss/application/utilities";
@import "../scss/application/variables";

@media (min-width: 0) and (max-width: 425px) {
  .Home{
    height: 640px;

    &-brand{
      font-size: 2em;
    }

    &-container{
      top: 0;
    }
  }
}

@media (min-width: 426px) and (max-width: 1024px) {
  .Home{
    height: 720px;

    &-brand{
      font-size: 2.1em;
    }

    &-container{
      top: 0;
    }
  }
}

@media (min-width: 1025px) {
  .Home{
    height: 500px;

    &-brand{
      font-size: 2.1em;
    }

    &-container{
      top: 45px;
    }
  }
}


.Home {
  background-color: $colorSecondary;
  background-position: center;
  background-size: cover;
  z-index: 1;
  color: $colorSecondary;
  overflow: hidden;
  position: relative;
  background: rgba(0, 0, 0, 0) linear-gradient(to top, #fafafa, transparent 50%) repeat scroll 0 0;

  &-tags{
    max-width: 900px;
    margin: auto;
  }

  &-container{
    position: relative;;
    text-align: center;
    z-index: 2;
    width: 100%;
    height: $containerHeight;
    box-sizing: border-box;
  }

  &-action{
    height: 100px;
    position: relative;
    text-align: center;
    width: 100%;
  }

  &-brand{
    float: left;
    font-family: $fontHeader;
    font-weight: bold;

    & a{
      color: $colorSecondary;

      &:hover{
        color: $colorSecondary;
      }
    }
  }

  &-segment, .morphext{
    text-align: center;
    font-family: $fontBrand;
    font-weight: 400;
  }

  &-description{
    font-size: 2.2em;
    margin: 0px 0 50px;


    & small{
      font-weight: 100;
      font-family: $fontDescription;
      display: block;
      text-transform: lowercase;
      clear: both;
    }

    &Bright{

    }
  }

  &-subBrand{
    font-size: 1.4em;
    padding: 0;
    font-family: $fontHeader;
    font-weight: 400;
    width: 636px;
    height: 200px;
    margin: auto;
  }

  &-and{
    font-family: Imprima;
    font-size: 0.8em;
    text-align: center;
    padding: 0 25px;
  }

  &-header{
    position: relative;
    z-index: 2;
    padding: 20px 0;
    width: 100%;
  }

  &-menu{
    margin: auto;
    position: relative;
    width: 592px;
    display: none;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline;
        padding: 0 12px;
      }
    }
  }

  &-phone{
    font-family: $fontHeader;
    float: right;
  }

  &-avatar{
    height: 55px;
    overflow: hidden;
    clear: right;
    width: 155px;
    padding: 3px 0;
    float:right;
    font-family: $fontHeader;

    & img{
      border-radius: 100%;
      width: 40px;
      float: left;
    }
  }

  &-name{
    font-size: 12px;
    float: left;
    padding: 3px 6px;
  }

  &-email{
    font-size: 9.5px;
    float: left;
    color: #e4e0e0;
    padding: 0 6px;
  }

}
