@import "variables";
.Navbar {
  width: 100%;
  height: 60px;
  font-size: 18px;
  color: $colorPrimary;
  background: $colorSecondary;
  border-bottom: 1px solid $colorGrey;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 10;
  transition: all 0.2s ease 0s;

  &-logo {
    float: left;
    font-family: $fontBrand;
    font-size: 1.6em;
    margin: 12px 0;

    & a {
      color: $colorSecondary;
      &:hover {
        color: $colorSecondary;
      }
    }
  }

  &-input {
    margin: 10px 0;
    position: absolute;
    text-align: center;
    width: 100%;

    & input{
      background: #f1f1f1;
      border: 0 none;
      border-radius: 2px;
      height: 40px;
      width: 240px;
      color: $colorDarkGrey;
      font-family: $fontHeader;
      font-size: 14px;
      padding: 6px  12px;

      &:focus{
        outline: 0;
      }
    }

    & button {
      border: 0 none;
      border-radius: 2px;
      background: $colorBrand;
      height: 40px;
      color: $colorSecondary;
      font-family: $fontHeader;
      font-size: 14px;
      font-weight: 600;
      padding: 6px  12px;

      &:hover{
        opacity: 0.8;
      }
    }
  }

  &-telephone{
    float: right;
    font-size: 1em;
    padding: 19px 0;
  }

  &.is-hide{
    top: -60px;
  }

}
