
@import "../scss/application/variables";
@import "../scss/application/utilities";
@import "../scss/components/section";

@media (min-width: 0) and (max-width: 425px) {
  .People{

    &-contact span{
      display: none;
    }
  }
}

@media (min-width: 426px) and (max-width: 1024px) {

}

@media (min-width: 1025px) {

}

.People {
  @extend .Section;
  height: auto;

  &-container{
    @extend .Section-container;
  }

  &-brand{
    @extend .Section-brand;
  }

  &-subBrand{
    font-size: 2.4em;
    padding: 0;
    font-family: $fontHeader;
    font-weight: 200;
  }

  &-description{
    @extend .Section-description;
    font-size: 17px;
    line-height: 1.6em;

    &:first-letter{
      font-size: 3.2rem;
      line-height: 54px;
      float: left;
      margin: 0 6px 0 -3px;
    }

  }

  &-links, &-contact{
    font-size: 1rem;
    margin-top: 20px;
    color: $colorDescription;

    & ul{
      padding: 0;
      margin: 0;
    }

    & li{
      display: inline;
      margin: 0 15px 0 0;
    }

    & a{
      color: $colorDescription;

      &:hover{
        text-decoration: underline;;
      }
    }

    & span{
      margin: 0 6px 0 0;
      float: left;
      font-size: 1.2rem;
    }
  }

  &-contact{

    & li{
      display: block;
      margin-bottom: 3px;
      overflow: hidden;
    }
  }

  &-images{
    height: 320px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    overflow: hidden;
    padding: 60px 0 0;
    position: relative;
  }

  &-imageA{
    background-blend-mode: luminosity;
    background-image: url("../../images/dist/john-smile-b.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    height: 280px;
    position: absolute;
    z-index: 2;
    @include crossBrowser(filter, grayscale(100%));
    transition: 0.6s all ease 0s;
  }


}
