.People {
  @extend .Section;
  height: 320px;

  &-container{
    @extend .Section-container;
  }

  &-brand{
    @extend .Section-brand;
  }

  &-subBrand{
    font-size: 2.4em;
    padding: 0;
    font-family: $fontHeader;
    font-weight: 200;
  }

  &-description{
    @extend .Section-description;
    font-size: 17px;
    line-height: 1.6em;
  }

  &-images{
    height: 320px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    overflow: hidden;
    padding: 60px 0 0;
    position: relative;
  }

  &-imageA{
    background-blend-mode: luminosity;
    background-image: url("../images/john-smile-b.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    height: 280px;
    position: absolute;
    z-index: 2;
    @include crossBrowser(filter, grayscale(100%));
    transition: 0.6s all ease 0s;
  }


}
