@import "../scss/application/variables";
@import "../scss/components/section";
@import "../scss/application/media-queries";


.Purpose {
  @extend .Section;

  &-container{
    @extend .Section-container;
  }

  &-brand{
    @extend .Section-brand;
  }

  &-subBrand{
    font-size: 2.4em;
    padding: 0;
    font-family: $fontHeader;
    font-weight: 200;
  }

  &-description{
    @extend .Section-description;
  }

  &-images{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    overflow: hidden;
    height: $containerHeight;
    vertical-align: bottom;
    margin: 60px 0px 0 0;
    height: $containerHeight;
    @include mobile{
      height: 270px;
    };
  }

  &-image{
    filter: grayscale(100%);
    transition: all 0.2s ease 0s;
    &:hover{
      filter: grayscale(30%);
    }
  }

  &-imageA{
    background-image: url("../../images/dist/inceptiontw7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid white;
  }

  &-imageB{
    background-image: url("../../images/dist/mockup.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-right: 1px solid white;
  }

  &-imageC{
    background-image: url("../../images/dist/villeme-screen.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--purple{
    color: $colorBrand;
  }
}
