@import "../scss/application/variables";

@media (min-width: 0) and (max-width: 425px) {
  .Section{

    &-brand{
      font-size: 1.8rem;
    }

    &-description{
      font-size: 1rem;
    }

    &-container{
      height: auto;
      padding: 65px 0 0 0;
      text-align: center;

    }
  }
}

@media (min-width: 426px) and (max-width: 1024px) {
  .Section{

    &-brand{
      font-size: 2.3rem;
    }

    &-description{
      font-size: 1.3rem;
    }

    &-container{
      height: auto;
      padding: 65px 0 0 0;
      text-align: left;
    }
  }
}

@media (min-width: 1025px) {
  .Section{
    

    &-brand{
      font-size: 2.8rem;
    }

    &-description{
      font-size: 1.7rem;
    }

    &-container{
      height: 400px;
      padding: 65px 40px 0 0;
      text-align: left;
    }
  }
}

.Section{
  overflow: hidden;
  color: $colorPrimary;
  position: relative;
  background: rgba(0, 0, 0, 0) linear-gradient(to top, #fafafa, transparent 50%) repeat scroll 0 0;

  &-container{
    width: 100%;
    position: relative;
    top: 25%;
    left: 0;
  }

  &-brand{
    font-family: $fontHeader;
    transition-duration: 1s;
    transition-property: font;
    transition-timing-function: ease;
    font-weight: 600;

    & > small{
      font-size: 31%;
      font-weight: 100;
      color: $colorDescription;
      font-family: $fontDescription;
    }
  }

  &-description{
    font-family: $fontHeader;
    margin-top: 12px;
    position: relative;
  }

  &--small{
    height: 150px;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
}
