@import "../scss/application/variables";

@media (min-width: 0) and (max-width: 425px) {
  .Section{

    &-brand{
      font-size: 1.8rem;
    }

    &-description{
      font-size: 1rem;
    }

    &-container{
      height: auto;
      padding: 65px 0 0 0;
      text-align: center;

    }
  }
}

@media (min-width: 426px) and (max-width: 1024px) {
  .Section{

    &-brand{
      font-size: 2.3rem;
    }

    &-description{
      font-size: 1.3rem;
    }

    &-container{
      height: auto;
      padding: 65px 0 0 0;
      text-align: left;
    }
  }
}

@media (min-width: 1025px) {
  .Section{


    &-brand{
      font-size: 2.8rem;
    }

    &-description{
      font-size: 1.7rem;
    }

    &-container{
      height: auto;
      padding: 25px 40px 0 0;
      text-align: left;
    }
  }
}

.Section{
  overflow: hidden;
  color: $colorPrimary;
  position: relative;
  background: linear-gradient(to top,#f3f0f0,transparent 50%);

  &-container{
    width: 100%;
    position: relative;
    top: 12%;
    left: 0;
  }

  &-brand{
    font-family: $fontHeader;
    transition-duration: 1s;
    transition-property: font;
    transition-timing-function: ease;
    font-weight: 600;

    & > small{
      font-size: 31%;
      font-weight: 100;
      color: $colorDescription;
      font-family: $fontDescription;
    }
  }

  &-description{
    font-family: $fontDescription;
    position: relative;
    color: $colorDescription;
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.6em;
    max-width: 85%;
    margin-top: 15px;
  }

  &--small{
    height: 150px;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
}
