@import "../scss/application/variables";
@import "../scss/application/media-queries";
@import "../scss/components/section";

.ServicesGroup{
  @extend .Section;
  height: auto;
  padding: 50px 0;
  background: #fcfcfc;
  @include mobile{
    padding: 25px 0;
  };

  &-title{
    color: $colorDescription;
    font-size: 16px;
    font-family: $fontBrand;
    padding: 12px 0 35px;
    text-align: left;
    text-transform: uppercase;
    display: none;
  }
}
