@import "../scss/application/variables";

.Sheet{
  background-color: #f0f0f0;
  width: 45%;
  height: 155px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 4px 4px 0 0;
  z-index: 2;
  padding: 6px 12px;

  &.is-hide{
    bottom: -60%;
  }

  &-content{
    margin: 3px 0 3px 0;
  }

  &--large{
    background-color: #f0f0f0;
    height: 330px;
    width: 70%;
    z-index: 1;

    &.is-hide{
      bottom: -70%;
    }
  }

  &--right{
    right: 0;
    left: inherit;
    padding: 0;
  }

  &-title{
    @extend .Sheet-content;
    background-color: $colorGrey;
    width: 30%;
    height: 20px;
    float: left;
  }

  &-text{
    @extend .Sheet-content;
    background-color: $colorGrey;
    width: 50%;
    height: 10px;
    float: right;
  }

  & svg{
    position: relative;
    top: 20px;
  }

}
