@import "../../bower_components/normalize-css/normalize.css";
@import "../scss/application/utilities";
@import "../scss/application/variables";
@import "../scss/components/section";

@media (min-width: 0) and (max-width: 1024px) {
  .OuterWrapper{
    padding: 0 20px;
  }
}

@media (min-width: 1025px) {
  .OuterWrapper{
    padding: 0;
  }
}

.js-rotating{
  display: none;
  -vendor-animation-duration: 3s;
  min-width: 100px;
  position: relative;
}

.OuterWrapper{
  height: 100%;
  margin: auto;
  max-width: 1090px;
  position: relative;
}

.Milestone{
  font-family: $fontDescription;
  color: $colorPrimary;
  position: relative;


  &-item{
    text-align: center;
    padding: 35px 0;
  }

  &-number{
    font-size: 23px;
    font-weight: 400;
    position: relative;
    top: 1px;
  }

  &-text{
    font-size: 1.1rem;
    color: $colorDescription;
    font-family: $fontDescription;
  }
}

.Code {
  @extend .Section;
  background-image: url("../../images/dist/marketing-purple-multiply-opacity-7.jpg");
  z-index: 2;

  &-container{
    @extend .Section-container;
    top: 35%;
    opacity:0;
    position: relative;
  }

  &-brand{
    font-size: 7.5em;
    font-family: $fontBrand;
    letter-spacing: -5px;
  }

  &-subBrand{
    font-size: 2.4em;
    padding: 0;
    font-family: $fontHeader;
    font-weight: 400;
  }

  &-description{
    font-family: $fontHeader;
    font-size: 2.8em;
  }

}


.Marketing {
  @extend .Section--small;
  background-image: url("../../images/dist/marketing-purple-multiply-opacity-7.jpg");
  background-attachment: fixed;
  z-index: 2;

  &-container{
    opacity:0;
    position: relative;
    padding: 35px 0;
  }

  &-description{
    @extend .Section-description;
    text-align: center;
  }
}

.MarketingText {
  @extend .Section;

  &-container{
    @extend .Section-container;
  }

  &-brand{
    @extend .Section-brand;
  }

  &-subBrand{
    font-size: 2.4em;
    padding: 0;
    font-family: $fontHeader;
    font-weight: 400;
  }

  &-description{
    @extend .Section-description;
  }

  &-images{
    height: $containerHeight;
    position: relative;
  }
}

.section.MarketingServices.section.fp-section{
  height: auto !important;
}


.CodeText {
  @extend .Section;

  &-container{
    @extend .Section-container;
  }

  &-brand{
    @extend .Section-brand;
  }

  &-description{
    @extend .Section-description;
  }

  &-images{
    height: $containerHeight;
    position: relative;
  }

  &-example{
    background-image: url("http://villeme.com/images/dist/welcome/plataforms-b.png");
  }

}

.Arrow{
  position: fixed;
  bottom: 35px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 25px 0;
  z-index: 10;
  cursor: pointer;
  align-content: center;
  opacity: 0;

  &:hover{
    color: $colorBrand;
    padding: 30px 0 20px 0;
  }
}


.Brands {
  position: relative;
  z-index: 6;
  height: auto;
  padding-top: 25px;

  &-brand{
    @extend .Section-brand;
  }

  &-subBrand{
    font-size: 2.4em;
    padding: 0;
    font-family: $fontHeader;
    font-weight: 200;
  }

  &-description{
    @extend .Section-description;
  }

  &-logo{
    height: 65px;
    overflow: hidden;
    text-align: center;
    @include crossBrowser(filter, grayscale(100%));

    &:hover{
      @include crossBrowser(filter, grayscale(0));
    }

    & img{
      height: 65px;
    }
  }
}


.ContactFooter{
  @extend .Section;
  text-align: center;
  font-family: $fontBrand;
  font-size: 42px;
  height: auto;
  min-height: 400px;
  padding: 150px 0 0 0;
  color: $colorBrand;

  &-avatar{
    background-image: url("../../images/dist/john-smile.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid;
    border-radius: 100%;
    height: 50px;
    margin: 0 auto;
    width: 50px;
    @include crossBrowser(filter, grayscale(100%));

    & p{
      background: white none repeat scroll 0 0;
      border-radius: 8px;
      font-family: Imprima;
      font-size: 13px;
      line-height: 0.8em;
      margin: -5px 0 0 41px;
      padding: 6px;
      text-align: left;
      width: 91px;
    }
  }

  &-email{
    font-size: 50%;
  }

}
footer{
  text-align: center;
  font-size: 1rem;
  color: $colorPrimary;
  margin: 20px 0;

  & span{

  }
}
