// =Colors
$colorGrey: #DFDBDE;
$colorDarkGrey: #333333;
$colorGreyHover: #EAE8EA;
$colorBlue: #1c6ea6;
$colorGreen: #bac01c;
$colorPurple: #fa3077;
$colorInvert: #06cc87;
$colorBackground: #f1f1f1;
$colorBorder: #c1c1c1;

// =Fonts
$fontBrand: 'PT Sans Caption', sans-serif;
$fontHeader: 'PT Sans Caption', sans-serif;
$fontDescription: 'Raleway', sans-serif;
$colorBrand: $colorPurple;
$colorHeader: $colorDarkGrey;
$colorDescription: #555555;

// =Transitions
$transitionDuration: 0.4s;

// =Colors Fonts
$colorPrimary: #333333;
$colorSecondary: #ffffff;

// =Heights
$containerHeight: 400px;
