<!DOCTYPE HTML>
<html>
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
  <% var date = new Date() %>

  Email do lead: <%= leadEmail %>.
  Data: <%= date.toLocaleDateString() %> - <%= date.toLocaleTimeString() %>.
</body>
</html>
